<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<base target="_blank" />
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PC大智雅汇Dataiso</title>
<link  href="zfirst/css/overall.css" rel="stylesheet" type="text/css" />
<script charset="utf-8" type="text/javascript" src="../zfirst/js/calendar.js"></script>
<script charset="utf-8" type="text/javascript" src="zfirst/js/overall.js"></script>
	<style type="text/css">

	</style>
</head>
<body 
	onload="tvset();MM_displayStatusMsg('Dancing like nobody\'s Watching!Sing nobody\'slistening!那么拘束干嘛，做人要放开怀抱!');init();return document.MM_returnValue">
<div id="frame">
<div class="topdup">
	<div id="topup1">
		宠辱不惊，闲看庭前花开花谢；去留无意，漫随天外云卷云舒	</div>
	<div id="topup2">
		<!--calendar一部分写在Html,一部份写在JS-->
	<script language="JavaScript1.2" type="text/javascript">     //农历的另一年份时，需更改6处（第6处是节气更改，作为变量中的字符的"2011"不更改）	
	<!--时间显示-->
	document.write("2013"+"-"+"<font color=#008040>"+"<strong>"+"<span style='FONT-SIZE: 12px'>"+enym+"&nbsp;"+isnDay[today.getDay()]+"</span>"+"</strong>"+"</font>"+"&nbsp;");

	document.write(cnyear+"<strong>"+"<span style='FONT-SIZE: 12px'>"+"<font color=#0000FF>"+cnym+"</font>"+"</span>"+"</strong>");/*农历月日*/
	document.write("<style='font-align:right; '>"+"已逝:"+cndayed+"天"+"<sup>"+"+"+"</sup>"+"&nbsp;");
	document.write("可期:"+"<font face='Arial' size='2px' color=#FF8040>"+"<strong>"+haveday+"</strong>"+"</font>"+"天"+"<sup>"+"+"+"</sup>"+"</style>");
	</script>
	<!--calendar一部分写在Html,一部份写在JS--></div>
	<div id="topup3">	</div>
</div><!--topup -->
<div id="top">
	<div id="topleft"> <img src="zfirst/img/dataiso.gif">	</div><!--topleft-->
	<div id="topright">&nbsp;<br />最通俗的语言 普及百科知识</div><!--topright-->
</div><!--top -->
<div class="topdown">
<a href="../index.html">website</a>&nbsp;&nbsp;<a href="../you2/index.html">you2</a>&nbsp;&nbsp;<a href="../dataiso/index.html">DataIso</a>&nbsp;&nbsp;<span style="color:#FF00FF;">pdf & ppt</span>&nbsp;&nbsp;<span style="color:red;">doc,xls,chm etc.</span>&nbsp;&nbsp;<span style="color:#33FF00;">Directory</span>&nbsp;&nbsp;<span style="color:blue;">OutLink</span>&nbsp;&nbsp;<span style="color:#ccc;">Text</span></div>
<!--topdown2 -->

<div id="mainx"> 
	<div class="main"><!--2 main -->
		<div class="left">
			<div id="tab">
<h3 class="up" onclick="goto1(1);">11</h3>
<h3 onclick="goto1(2);">12</h3>
<h3 onclick="goto1(3);">13</h3>
<h3 onclick="goto1(4);">14</h3>
<h3 onclick="goto1(5);">15</h3>
<h3 onclick="goto1(6);">16</h3>
<!--p11 start -->
<div class="block" id="c11">
<ul>
<li></li>
<li></li>
</ul>


</div> 
<!--p11 end  -->

<!--p12 start -->
<div> 
<ul>
<li></li>
<li></li>
</ul>
</div> <!--p12 end -->



<!--p13 start -->
<div>
<ul>
<li></li>
<li></li>
</ul>
</div> <!--p13 end -->


<!--p14 start-->
<div>
<ul>
<li></li>
<li></li>
</ul>
</div> <!--p14 end-->


<!--p15 start-->
<div>
<ul>
<li></li>
<li></li>
</ul>
</div> <!--p15 end-->

<!--p16 start-->
<div>
<ul>
<li></li>
<li></li>
</ul>

</div><!--p16 end-->
			</div><!--tab1 -->
		</div > <!--left1 --> 
		
		<div class="right">
			<div id="tab2"><!--enterta -->
<h3 class="up" onclick="goto2(1);">21</h3>
<h3 onclick="goto2(2);">22</h3>
<h3 onclick="goto2(3);">23</h3>
<h3 onclick="goto2(4);">24</h3>
<h3 onclick="goto2(5);">25</h3>
<h3 onclick="goto2(6);">26</h3>
<!--p21 start-->
<div  class="block">
<ul>
<li></li>
<li></li>
</ul>

</div> 
<!--p21 end-->
			  
			  
<!--p22 start-->			  
<div id="22">
<ul>
<li></li>
<li></li>
</ul>

</div> 
<!--p22 end-->

<!--p23 start-->
<div> 
<ul>
<li></li>
<li></li>
</ul>

</div> 
<!--p23 end-->


<!--p24 start -->
<div>
<ul>
<li></li>
<li></li>
</ul>

</div>
<!--p24  end-->


<div><!--p25 start-->
<ul>
<li></li>
<li></li>
</ul>



</div> <!--p25 end-->


<div> <!--p26 start-->
<ul>
<li></li>
<li></li>
</ul>

</div> <!--p26 end-->






			</div> <!--#tab2 -->
		</div> <!--.right1 -->
	</div> 
	<!--main1 -->	
	
	<div class="main">
		<div class="left">
			<div id="tab3">
<h3 class="up" onclick="goto3(1);">31</h3>
<h3 onclick="goto3(2);">32</h3>
<h3 onclick="goto3(3);">33</h3>
<h3 onclick="goto3(4);">34</h3>
<h3 onclick="goto3(5);">35</h3>
<h3 onclick="goto3(6);">36</h3>
<!--p31 start -->
<div class="block">
<ul>
<li></li>
<li></li>
</ul>

</div><!--p31 end -->



<div><!--p32 start -->
<ul>
<li></li>
<li></li>
</ul>

</div><!--p32 end-->


<div><!--p33 start -->
<ul>
<li></li>
<li></li>
</ul>

</div><!--p33 ebd-->

<div><!--p34 start-->
<ul>
<li></li>
<li></li>
</ul>

</div><!--p34 end-->

<div><!--p35 start-->
<ul>
<li></li>
<li></li>
</ul>
		
</div><!--p35 end-->
 
<div><!--p36 start -->
<ul>
<li></li>
<li></li>
</ul>

 
</div><!--p36 end-->
			</div> <!--#tab3 -->
		</div >  <!--#left2 -->
	
		<div class="right">
			<div id="tab4">
<h3 class="up" onclick="goto4(1);">41</h3>
<h3 onclick="goto4(2);">42</h3>

<h3 onclick="goto4(3);">43</h3>
<h3 onclick="goto4(4);">44</h3>
<h3 onclick="goto4(5);">45</h3>
<h3 onclick="goto4(6);">46</h3>

<div class="block" id="c41"><!--百科知识 -->
 
</div><!--p41 百科知识 -->	

<div id="c42"><!--英语学习 -->

</div>
<!--p42 英语学习-->	


<div id="c43"><!--内心感悟 -->

 
</div>
<!--p43 内心感悟-->
<!--44 auto -->
<div id="c44">	
 
 
</div>
<!--p44 Auto-->	

<div id="c45"><!-生活百科 -->
</div>
<!--p45 生活百科-->

<div id="c46"><!--p46 数学-->


</div>
<!--p46 数学-->
			</div>  <!--#tab4 -->
		</div><!--.right2 -->
	</div>
	<!--main2 -->
 
	
</div><!--#mainx -->

<!--tool layer,footertop-->
<div class="footertop">

</div><!--footertop-->

<!--below is tv layer set-->
<div id="main5">
	<div id="tab5">
<h3 onclick="goto5(1);">51</h3>
<h3 onclick="goto5(2);">52</h3>
<h3 onclick="goto5(3);">53</h3>
<h3 onclick="goto5(4);">54</h3>

<div>
</div><!--p51 s1-5-->

<div><!--d2-5-->
</div><!--tab52-->

<div><!--tab53-->
<ul>
	<li>53</li>
</ul>
</div><!--tab53-->

<div><!--tab54-->
</div><!--tab54-->
</div>
	<!--/*tab5*/-->
</div><!--/*main5*/--><!--above is tv layer set-->

<div id="footer" style="color:#0000FF;">All rights reserved.<a href="mailto:wwuhn@hotmail.com">Mail to:wwuhn@hotmail.com</a></div>
</div><!--#frame -->
</body>

<!--clock div-->
<div Id="tim1" class="time"></div>
<div Id="tim2" class="time"></div>
<!--clock div-->
<div style="clear:both; width:80%; margin:auto">


</div>
</html>
