body{
	//width:80%;
	margin:auto;
}
a:link {
	text-decoration: none;
	cursor:url(rose.ani);
	font-size:0.75em;
}
a:visited {
	text-decoration: none;
	color:##005681;
	font-size:0.75em;
}
a {
    padding: 2px 8px;
    border: 1px solid;
    border-color: #ffe #aaab9c #ccc #fff;
    text-decoration: none;
    background: #f0e7d7;
    color: #800000;
    
}
a:hover {
    background: transparent;
    border-color: #aaab9c #fff #fff #ccc;
}
a:link {
	text-decoration: none;
	cursor:url(rose.ani);
	font-size:0.75em;
}
a:visited {
	text-decoration: none;
	color:##005681;
	font-size:0.75em;
}
#dateTable a {
    padding: 0px;
	border: 0px solid;
    border-color: #ffe #aaab9c #ccc #fff;
    text-decoration: none;
    background: #000080;
    color: #fff;
    
}
#dateTable a:hover {
    background: transparent;
    border-color: #aaab9c #fff #fff #ccc;
}
#dateTable a:link {
	text-decoration: none;
	cursor:url(rose.ani);
	font-size:0.75em;
}

#CLD a:link {/*tool bar and ones*/
	text-decoration: none;
	cursor:url(zfirst/css/rose.ani);
	color:#fff;
}

#CLD a:visited {/*tool bar and ones*/
	text-decoration: none;
	color:#fff;
	font-size:12px;
}
#CLD a:hover {
	// text-decoration: underline;
	background-color: #0000aa;

	color:#eee;
}
.todayColor {
	BACKGROUND-COLOR: #ff8800;
	font-size: 24px;
}

#dateTableMain{
	width:45%;
	margin:auto;
}

#dateTable {
	margin:auto;
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
	height:120px;
}

#dateTable td{
	border:#CCCCCC 1px solid;
	height:50px;
}

div p{
	padding:0;
	margin:0;
}


#CLD
{
	float:left;
	height:22px;
	line-height:42px;  /*第一行的对齐*/
	vertical-align:bottom;
	
}

#firsttd{  				/*日历的第一行*/
	height:22px;
	overflow:hidden;
	line-height:42px;
	vertical-align:bottom;
	background-color:#000080;
	
}

#divright{
	position:absolute;
	right:5%;
	top:60%;

}


#detail2{ /*oneday*/
	right:19%;
	top:12px;
	text-align:center;
}

#detail3{ /*日期图片*/
	position:absolute;
	right:0%;
	top:0px;
	text-align:center;
}


.light {/*以下两个是时钟图片CSS*/
	FILTER: Light;
	
}

.date {
	COLOR: #000000; 
	FONT-FAMILY: "Geneva", "Arial", "Helvetica", "san-serif"; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	TEXT-ALIGN: center;
}

/*时钟倒计时*/
.time{color:#ffffff;font-family:verdana,geneva,helveticafont-size:9pt}
.time{color:#000000;font-family:verdana;font-size:9pt}
a:link{text-decoration:none;color:#000000}
a:active{text-decoration:none;color:#000000}
a:visited{text-decoration:none;color:#000000}
a:hover{text-decoration:none;color:#000000}

.{
margin:0;
padding:0;
}

#tab{
	position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	width:88%;/* 定义选项卡的整体宽度 */
	height:205px;
	margin:auto;
	border:0px solid #000000;/*用于衡量窗口大小*/
	text-align:left;
	clear:both;
} 
#main{/* 外套一个div，解决IE不能居中的问题 */
	width:98%;/* IE多出浮块 */
	text-align:center;
	margin:auto;

	clear:both;
} 
#tab div{
	position:absolute;
	top:28px;
	left:0px;
	width:100%;

	display:none;
}



#tab h3{/*total h:26+1*2=28   */
	float:left;
	width:2.81%;
	height:26px;
	margin:1px 1px; /* 利用负边距让标题更靠近一点 */
	font-size:.75em;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	background:#EEEEEE url(tab_bg.gif) no-repeat;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	overflow:hidden;
	font-family: "MV Boli";
	vertical-align:middle;
	padding-top:4px;
	filter:Alpha(opacity:100)
	
} 

#tab .up{
	background:#fff url(tab_up_bg.gif) no-repeat;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab .block{
	display:block;
	width:88%;
	
	padding-bottom:6px;
	padding-left:11.5%;
	font-family:"MV Boli";
	font-size:1.125em;
	border: 1px #C7C8C4 solid;
	border-top: 0px #C7C8C4 solid;
	height:168px;
	background-image: url(../img/LEAVES.gif);
	background-position: 1px;
} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */
.fred {
	color: #FF0000;
	text-decoration: underline;
	margin-left:-9%;
}
.fblue {
	color: #008040;	
}
#flower{
position:absolute;
top:0;
left:0;

}