/* CSS Document */


#tbrowser a:link£¬.container a:visited{
font-size:18px;
text-decoration:none;
}
.container{
font-size:1.2em;
margin:auto;
font-family:"ËÎÌå";
width:78%;
line-height:1.4em;
}

.uls{
color:#CC6666;
font-weight:bold;
}
.uls>ol{
list-style:none;
font-weight:normal;
list-style:lower-latin;
color:#000000;
line-height:1.3em;

}
h2{
font-size:20px;
font-weight:bold;
margin-top:5px;
margin-bottom:15px;
text-indent:0em;
}
img{
margin-right:5px;
}
.fc{
color:red;
}

a:link {
text-decoration: none;
}


a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}


#goTopBtn {
width: 18px;
line-height: 1.2;
padding: 5px 0;
background-color:#eee;
color:#000;
font-size: 12px;
text-align: center;
position: fixed;
_position: absolute;

right: 10px;
bottom: 105px;
_bottom: "auto";
cursor: pointer;
opacity: .6;
filter: Alpha(opacity=30);
opacity=.3;
}
#goTopBtn:hover{
background-color:white;
border:#ccc 1px solid;
color:red;
}


#goBottom {
width: 18px;
line-height: 1.2;
padding: 5px 0;
background-color: #eee;
color: #fff;
font-size: 12px;
text-align: center;
position: fixed;
_position: absolute;

right: 10px;
bottom: 30px;
_bottom: "auto";
cursor: pointer;
filter: Alpha(opacity=30);
opacity=.3;
writing-mode:tb-rl;
}
#goBottom:hover{
background-color:white;
border:#ccc 1px solid;
color:red;
}
#shangy {
width: 18px;
line-height: 1.2;
padding: 5px 0;
background-color: #eee;
color: #fff;
font-size: 12px;
text-align: center;
position: fixed;
_position: absolute;

right: 10px;
bottom: 80px;
_bottom: "auto";
cursor: pointer;
filter: Alpha(opacity=30);
opacity=.3;
}
#xiay {
width: 18px;
line-height: 1.2;
padding: 5px 0;
background-color: #eee;
color: #fff;
font-size: 12px;
text-align: center;
position: fixed;
_position: absolute;

right: 10px;
bottom: 55px;
_bottom: "auto";
cursor: pointer;
filter: Alpha(opacity=30);
opacity=.3;
}

img{
border:0;
}
#tab1{
width:100%;
border-collapse:collapse;

}
#tab1 td{
border:1px blue solid;
}
#tbrowser {
width:100%;
margin:auto;
border-collapse:collapse;
font-family:"ËÎÌå";

table-layout:fixed;
font-size:18px;
}

#tbrowser th,#tbrowser td{
border:1px solid #aaa;
font-size:14px;
color:#000000;

font-family: "ËÎÌå";
padding-left:0px;
width:14.1%;

height:22px;
line-height:18px;
/*overflow:hidden;
white-space:nowrap;*/
}


#tbrowser thead th{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
color:#fff;
/*padding:2px 0px;*/
display:table-column-group;
}
#tbrowser .nd{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
background-color:#D3D3A9;
color:red;
}

#tbrowser th{
background-color:#f2f4b9;
}
#tbrowser th.title{
background-color:#e3e685;
}

#tbrowser caption{
font-weight:bold;
padding:1px 0px;
color:#3d580b;
font-size:18px;
}


#tbrowser .xhx{
border-bottom:0px solid #aaa;
}


#tbrowser tr{
height:6px;
}

#tbrowser tr>td{/*1*/
font-size:1em;

/*width:13%;*/
}
#tbrowser tr>td+td{/*2*/

/*width:8%;*/
font-size:1em;
}
#tbrowser tr>td+td+td{/*3*/
font-size:1em;
/*width:5%;*/
}
#tbrowser tr>td+td+td+td{/*4*/
font-size:1em;

/*width:6%;*/
}
#tbrowser tr>td+td+td+td+td{/*5*/
font-size:1em;

/*width:5%;*/
}
#tbrowser tr>td+td+td+td+td+td{/*6*/
/*width:13%;*/
font-size:1em;
}
#tbrowser tr>td+td+td+td+td+td+td{/*7*/
/*width:59%;*/
font-size:1em;
}


#tbrowser tfoot td{
border-width:0px;

line-height:18px;
font-size:16px;
color:#777;
}
.ph{
text-indent:4em;
color:blue;
line-height:18px;
}
p{
text-indent:2em;
margin:0px;
padding:2px;}
table{
border-collapse:collapse;
width:100%;
margin:auto;
}
table td{
border:0px;
border:1px solid #aaa;
padding:4px;}
