


#shang, #xia {
width: 18px;
line-height:10px;;
padding: 5px 0;
background-color: #FDF5E6;
color: #000;
font-size: 12px;
text-align: center;
position: fixed;
text-decoration: none;
background: #f0e7d7;
background: transparent;
right:15px;
cursor: pointer;
filter: Alpha(opacity=30);/*IE*/
opacity:.3;/*»ðºü*/

}
#shang {
bottom: 120px;
background-image:url(../images/inex.jpg);
background-position:0% 90%;
}
#shang:hover{
background-color:white;
border-top:#ccc 1px solid;
color:red;
}
#shangy, #xiay {
width: 18px;
line-height:10px;;
padding: 5px 0;
background-color: #FDF5E6;
color: #000;
font-size: 10px;
text-align:center;
position: fixed;
text-decoration: none;
background: #f0e7d7;
background: transparent;
right:15px;
cursor: pointer;
filter: Alpha(opacity=20);
opacity:.2;
}
#shangy {
bottom:90px;
background-image:url(../images/xia.png);
background-position:0% 88%;
}
#xiay {
bottom: 60px;
background-image:url(../images/xia.png);
background-position:0% 12%;
}
#xia {
bottom: 30px;
background-image:url(../images/inex.jpg);
background-position:0% 10%;
}
#xia:hover{
border-bottom:#ccc 1px solid;
}

#footer{
width:880px;
margin:auto;
margin-top:4px;
margin-bottom:4px;
border-top: #C4B9DD solid 0px;
}
.footertable{
margin:auto;
width:50%;
height:1px;
background-color:#C4B9DD;
border:0;
border-collapse:collapse;
}
#shangy a:hover, #xiay a:hover{
text-decoration:none;
}