A:LINK		{COLOR: BLACK; TEXT-DECORATION: NONE}
A:VISITED	{COLOR: BLACK; TEXT-DECORATION: NONE}
A:HOVER		{COLOR: BLUE; TEXT-DECORATION: UNDERLINE}

BODY		{
		FONT-SIZE:12px;
		SCROLLBAR-FACE-COLOR: #0472bc;
		SCROLLBAR-HIGHLIGHT-COLOR: #0472bc;
		SCROLLBAR-SHADOW-COLOR: #0472bc;
		SCROLLBAR-ARROW-COLOR: #ffffff;
		SCROLLBAR-TRACK-COLOR: #ffffff;
		SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
		SCROLLBAR-BASE-COLOR: #0472bc
}

TEXTAREA	{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
SELECT		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
FORM		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
OPTION		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
DIV		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
INPUT		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
P		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
TH		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
TD		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12PX}

.bbs_COLOR_B	{BACKGROUND-COLOR: #ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE: 12px} 
.bbs_COLOR_1	{BACKGROUND-COLOR: #2180d7; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE: 12px} 
.bbs_COLOR_2	{BACKGROUND-COLOR: #5ba4e6; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE: 12px}
.bbs_COLOR_3	{BACKGROUND-COLOR: #ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE: 12px}
.bbs_COLOR_4	{BACKGROUND-COLOR: #eeeeee; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE: 12px}

.i		{BACKGROUND-COLOR: #00C099; COLOR: #000000; FONT-FAMILY: "arial";FONT-SIZE: 12px; font-weight: normal; border: 1 solid #000000;border-left: 0 solid #000000;border-right: 0 solid #000000;border-top: 0 solid #000000}
.InputBoard	{BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid}
.bt		{BACKGROUND-COLOR: #eeeeee; FONT-SIZE: 12px; HEIGHT: 18px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px} 
.bt_2		{BACKGROUND-COLOR: #eeeeee; FONT-SIZE: 12px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px} 
.bt_1		{BACKGROUND-COLOR: #eeeeee; FONT-SIZE: 12px; HEIGHT: 18px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-COLOR: #904D28; BORDER-RIGHT-COLOR: #904D28; BORDER-TOP-COLOR: #904D28; BORDER-BOTTOM-COLOR: #904D28}

.g A:LINK	{COLOR: yellow; TEXT-DECORATION: NONE}
.g A:VISITED	{COLOR: yellow; TEXT-DECORATION: NONE}
.g A:HOVER	{COLOR: #ff9900; TEXT-DECORATION: NONE}
.g TH		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
.g TD		{FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}

.dropshadow	{filter:DropShadow(COLOR=#000000, OffX=1, OffY=1, Positive=1)}
.dropshadow1	{filter:DropShadow(COLOR=#EEEEEE, OffX=1, OffY=1, Positive=1)}
.q		{filter:Shadow(COLOR=#c0c0c0, Direction=45)}
.glow_black	{filter:Glow(COLOR=black, Strength=3)}
.hot		{filter:Glow(COLOR=black, Strength=1)}
.filph		{filter:FlipH}
.table		{table-layout: fixed ;word-wrap:break-word; } 

.b A:LINK	{COLOR: #000000; TEXT-DECORATION: NONE}
.b A:VISITED	{COLOR: #000000; TEXT-DECORATION: NONE}
.b A:HOVER	{COLOR: blue; TEXT-DECORATION: UNDERLINE}

.c A:LINK	{COLOR:#ffffff;TEXT-DECORATION: NONE}
.c A:VISITED	{COLOR:#ffffff;TEXT-DECORATION: NONE}
.c A:HOVER	{COLOR:#ffffff;TEXT-DECORATION: UNDERLINE}
.c TD		{COLOR:#ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}

.d A:LINK	{COLOR:#ffffff;TEXT-DECORATION:none}
.d A:VISITED	{COLOR:#ffffff;TEXT-DECORATION:none}
.d A:HOVER	{COLOR:#ffffff;TEXT-DECORATION:underline}
.d p		{COLOR:#ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
.d TH		{COLOR:#ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
.d TD		{COLOR:#ffffff; FONT-FAMILY: MS Shell Dlg,Tahoma, sans-serif; FONT-SIZE:12px}
.d 		{filter:DropShadow(COLOR=#000000, OffX=1, OffY=1, Positive=1)}