/* CSS Document */
div{
width:74.125%;
margin:auto;
font-size:18px;

} 

img{
display:block;
margin:auto;
padding:2px 22px; 
height:200px; 
float:left;
border:0 red solid;} 
a:link{text-decoration: none; 
color:#000;} 
li{
width:48%;
display:block;
float:left;
height:28px;
line-height:28px;
overflow:hidden;
}
a:link,a:visited{
color:black;
text-decoration:none;
}
h4{
clear:both;
margin-bottom:2px;
margin-top:52px;
padding:0px;
text-indent:-36px;
}

