/* CSS Document */

a:visited{
text-decoration:none;
color:#ff0000;
font-size:10pt;
font-weight:bold;
}

a:link{
text-decoration:none;
color:#ff0000;
font-size:10pt;
font-weight:bold;
}

table{
background-color:#ebebeb;}

td{
font-size:10pt;
font-family:"ו";
color:#ooooff;
font-weight:bold;
}

