*{
margin:0;
padding:0;
}
a:link {
	text-decoration: none;
	cursor:url(rose.ani);
}
a:visited {
	text-decoration: none;
	color:##005681;
	font-size:12px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(images/wu.gif);
	background-attachment:fixed;
    background-repeat:no-repeat;

}

body,td,th {
	font-size: 14px;
}

div li{
font-size:16px;
list-style:none;
line-height:20px;
float:left;
}

table tr td{
font-size:12px;
}

.white16{/*随意的风*/
color:#FFFFFF;
font-size:16px;
}
.sp1{/*li的栏头*/
color:#0000FF;
font-family: "MV Boli";
font-size:16px;
}
.sp2{/*tab3 p36 saying*/
font-family: "MV Boli";
height:18px;
text-indent: 6px;
}


#bg12 { 
	background: url(images/wang.gif) no-repeat bottom right ; 
	margin: 0; 
	position: relative;
	}
#frame {
width:75.29%;/*  1275*72.29=960px   */
margin:auto;
height:562px;
border:0px solid #000000;/*用于衡量窗口大小*/
}

.topup{/*top have 3 layer,topup,top,topdown*/
width:100%;
height:18px;
color:#000099;
float:left;
font-size:12px;
}
#topup1{
width:35.42%;
float:left;
font-size:12px;
border:0px solid #000000;
height:18px;
padding-top:3px;
}
#topup2{
width:50.00%;
float:left;
font-size:12px;
text-align:center;
overflow:hidden;
margin-bottom:2px;
border:0px solid #000000;
height:18px;
}
#topup3{
width:14.58%;
float:left;
font-size:12px;
text-align:right;
border:0px solid #000000;
height:18px;
padding-top:3px;
}

/*top have 3 layer,topup,top,topdown*/
.topdown{/* total height:16+2＝18   */
width:100%;
height:16px;
color:#000099;
float:left;
margin-top:2px;
}

/*top have 3 layer,topup,top,topdown*/
#top {
width:100%;
height:66px;
background-image:url(top.jpg);
background-repeat:no-repeat;
color:#FFFFFF;
background-color:#CCCCCC;
float:left;
}

/*top have 3 layer,topup,top(left,right),topdown*/
#topleft{
width:33.33%;
height:66px;
float:left;
}
.top11{ /* size=250*33(23+10) */
width:100%;
float:left;
height:23px;
text-align:left;
padding-top:10px;
font-family:"迷你简细行楷";
font-size:22px;
}

.top21{
width:100%;
float:left;
height:23px;
text-align:center;
padding-top:10px;
font-size:14px;
overflow:hidden;
}
/*top have 3 layer,topup,top(left,right),topdown*/
#topright{
width:66.67%;
height:66px;
float:right;
filter:Alpha(opacity:100)
}

#topright a:link,#topright a:visited{
color:#ffffff;
text-decoration:none;
font-size:12px;
}
#topup3 a:link,#topup2 a:visited{
color:#000000;
text-decoration:none;
font-size:12px;
}

#mainx {
width:100%;
float:left;
height:368px;/* 520-18-66-18-30*/
}

#mainx p{
font-size:16px;
height:22px;
widows:95px;
display:inline;
}

.main {
width:100%;
height:184px;
position:relative;
overflow:hidden;
}
.right{
width:50%;
float:left;
height:184px;
}

.left{
width:50%;
float:left;
height:184px;
}

#tab,#tab2,#tab3,#tab4 {
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
width:100%;/* 定义选项卡的整体宽度 */
height:184px;
clear:both;
} 

#tab div,#tab2 div,#tab3 div,#tab4 div {
	position:absolute;
	top:28px;
	left:0px;
	width:100%;
	height:156px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab .block,#tab2 .block,#tab3 .block,#tab4 .block{
	display:block;
	padding-bottom:6px;
	font-family:"MV Boli";
} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab h3,#tab2 h3,#tab3 h3,#tab4 h3 {/*total h:26+1*2=28   */
	float:left;
	width:15.83%;
	height:26px;
	margin:1px 1px; /* 利用负边距让标题更靠近一点 */
	line-height:26px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	background:#EEEEEE url(tab_bg.gif) no-repeat right top;
	background-position:right;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	overflow:hidden;
	font-family: "MV Boli";
	filter:Alpha(opacity:100)
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */
#tab4 h3 a:visited{
font-size:16px;
color:#00007F;
}


#tab .up,#tab2 .up,#tab3 .up,#tab4 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab ul,#tab2 ul,#tab3 ul,#tab4 ul,#ones ul{
	margin:4px 0 0;
	list-style:none;
}

#tab li,#tab2 li,#tab3 li,#tab4 li,#ones li {
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:19.79%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
}

#tab li a,#tab2 li a,#tab3 li a,#tab4 li a,#ones li a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab li a:hover,#tab2 li a:hover,#tab3 li a:hover,#tab4 li a:hover,#ones li a:hover {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}
#tab li a:visited,#tab2 li a:visited,#tab3 li a:visited,#tab4 li a:visited,#ones li a:visited {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}

#ones{
position:absolute;
	top:325px;
	left:51.20%;
	width:38%;
	height:160px;
	visibility: hidden;
	display:block;
	padding-bottom:6px;
	}
#ones ul {
	padding:0;
	list-style:none;
}

/*两边的浮动层*/
.floatms {/* 两边的固定层,中间列 */
width:17px;
height:270px;
font-size:16px;
letter-spacing:4px;
float:right;
overflow:hidden;
margin:3px ;
writing-mode:tb-rl;
}

#float1b {/* 1st固定层 */
width:8.80%;
height:49.12%;
position:absolute;
left:0.96%;
top:2.11%;
font-family:"宋体";
overflow:hidden;
color:#FF0000;
border:0px solid #FF0000;
visibility:hidden;
}

#float2b {/* 4th固定层 */
width:8.80%;
height:280px;
position:absolute;
right:2.56%;
top:12px;
overflow:hidden;
border:０px solid #0000CC;
visibility:hidden;
}

#float3b {/* 3rd固定层 */
width:8.80%;
height:280px;
position:absolute;
left:0.96%;
top:286px;
color:#0000FF;
overflow:hidden;
border:0px solid #0000CC;
visibility:hidden;
}

#float4b {/* 4th固定层 */
width:8.80%;
height:280px;
position:absolute;
right:2.56%;
top:286px;
overflow:hidden;
border:０px solid #0000CC;
visibility:hidden;
}

/*鼠标特效*/
.spanstyle {
position:absolute;
visibility:visible;
top:-50px;
font-size:10pt;
font-family:"MV Boli";
font-weight:bold;
color:#DFDFDF;
}


.footertop{
width:100%;
float:left;
height:19px;
/*clear:both;*/
border-top:1px solid #999999;
margin-top:5px;
padding-top:5px;
overflow:hidden;
}
.footertop li{
padding-left:6px;
font-size:12px;
}

#footer{ /* total height:19+1+5+5*/
width:100%;
float:left;
height:19px;
/*clear:both;*/
text-align:center;
border-top:1px solid #999999;
margin-top:3px;
padding-top:3px;
font-size:12px;
overflow:hidden;
}

/*below is TV layer*/

#main5 {
width:100%;
float:left;
height:54px;/* 520-18-66-18-30*/
border-top:1px solid #999999;
margin-top:5px;
}
#tab5 {
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
width:100%;/* 定义选项卡的整体宽度 */
height:54px;
clear:both;
} 

#tab5 div {
	position:absolute;
	top:0px;
	left:60px;
	width:93.75%;
	height:54px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab5 .block{/*no modi*/
	display:block;
	padding-bottom:0px;

} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab5 h3 {/*total h:26+1*2=28   */
	width:5.73%;
	height:13px;
	margin:0px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:13px;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	cursor:pointer;
	cursor:url(rose.ani);
	display:block;
	font-family: "MV Boli";
	text-align:left;
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */


#tab5 .up {
background:#fff url(tab_up_bg.gif) no-repeat;
background-color:#333333;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab5 ul{/*no modi*/
	margin:0px 0 0;
	list-style:none;
}

#tab5 li{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:6%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:0px dashed #DEDEDE;
	overflow:hidden;
	font-size:12px;
}

#tab5 li a {/*no modi*/
	font-size:12px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab555 li a:hover{
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}
#tab5 li a:visited{/*no modi*/
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
color:#0000FF;
}


#tab6{
position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
left:2.40%;
top:5.26%;
width:10.00%;/* 定义选项卡的整体宽度 */
height:555px;
clear:both;
} 

#tab7{
position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
left:88.76%;
top:5.26%;
width:11.20%;/* 定义选项卡的整体宽度 */
height:555px;
clear:both;
overflow:hidden;
} 

#tab6 div,#tab7 div{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
height:555px;
	display:none;
	filter:Alpha(opacity:100)
}

#tab6 .block,#tab7 .block{
	display:block;
	padding-bottom:6px;
	overflow:hidden;
	font-family:"MV Boli";
}

#tab6 p,#tab7 p{
height:22px;
overflow:hidden;
}

/*li宽度为190px的CSS;*/

#tab ul .li2,#tab2 ul .li2,#tab3 ul .li2,#tab4 ul .li2,#ones ul .li2 {
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:39.58%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
}

#tab ul .li2 a,#tab2 ul .li2 a,#tab3 ul .li2 a,#tab4 ul .li2 a,#ones ul .li2 a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab ul .li2 a:hover,#tab2 ul .li2 a:hover,#tab3 ul .li2 a:hover,#tab4 ul .li2 a:hover,#ones ul .li2 a:hover {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}
#tab ul .li2 a:visited,#tab2 ul .li2 a:visited,#tab3 ul .li2 a:visited,#tab4 ul .li2 a:visited,#ones ul .li2 a:visited {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}

/*以下是下拉菜单的CSS*/
#nav {
    position:absolute;
    z-index:1;
    left: 38.48%;
    top: 82px;
    width:40.00%;
    height:18px;
    padding:0px 0px;
}


#nav ul {
    margin:0px;
    padding:0px;
	
}
#nav li a {
    text-decoration:none;
	color:#400000;
	font-size:16px;
	width:100%;
}
#nav li {
    list-style:none;
    text-align:center;
   /* font-weight:bold;*/
    float:left;
	font-family:"MV Boli";
	text-align:left;
	font-size:16px;
	vertical-align:middle;
	width:100%;
}

#nav .list {
    line-height:24px;
    text-align:left;
    padding:0px;
    font-weight:normal;
	
}
#nav .list a {
    color:#FF3AC1;
    text-decoration:none;
    float:left;
    width:100%;
    padding:0px 0px 0px 0px;
}
#nav .list a:hover {
    color:white;
    padding:0px 0px 0px 0px;
    width:100%;
    background-color:#FF3AC1;
}

#nav .menu1 {
    width:19.00%;
    height:auto;
    margin:0px 0px 0px 0px;
    border:0px solid #FF3AC1;
    background-color:#F1FBEC;
    color:#FF3AC1;
    padding:0px 0px 0px 3px;
    cursor:hand;
    overflow-y:hidden;
    filter:Alpha(opacity=100);
 /*   -moz-opacity:0.7;*/
}
#nav .menu2 {
    width:19.00%;
    height:20px;
    margin:0px 0px 0px 0px;
    /*background-color:#F5F5F5;*/
    color:#999999;
    border:0px solid #EEE8DD;
    padding:0px 0px 0px 0px;
    overflow-y:hidden;
    cursor:hand;
	}
/*以上是下拉菜单的CSS*/


/*以下是多级下拉菜单的CSS*/

.fix {
position:absolute;
top:85px;
left:69.00%;
}
.menu3 {
    /*padding:0 0 0 32px;*/
    margin:0;
    list-style:none;
    height:22px;
   /* background:#fff;*/
    position:relative;
    z-index:500;
    font-family:arial, verdana, sans-serif;
	font-family:"MV Boli";
	

}

.menu3 li.top {
    display:block;
    float:left;
}
.menu3 li a.top_link {
    display:block;
    float:left;
    height:22px;
    line-height:18px;
    color:#ccc;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    padding:0 0 0 12px;
    cursor:pointer;
	
  /*  background: url(images/10-4/blank.gif);*/
}
.menu3 li a.top_link span {
    float:left;
    display:block;
    height:22px;
  
}
.menu3 li a.top_link span.down {
    float:left;
    display:block;
  /*  padding:0 24px 0 12px;*/
    height:22px;
   /* background:url(images/10-4/blanka.gif) no-repeat right top;*/
}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.menu3 a:hover {
    visibility:visible;
    position:relative;
    z-index:200;
}
.menu3 li:hover {
    position:relative;
    z-index:200;
}
/* keep the 'next' level invisible by placing it off screen. */
.menu3 ul, 
.menu3 :hover ul ul, 
.menu3 :hover ul :hover ul ul, 
.menu3 :hover ul :hover ul :hover ul ul,
.menu3 :hover ul :hover ul :hover ul :hover ul ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0;
    height:0;
    margin:0;
    padding:0;
    list-style:none;
}
.menu3 :hover ul.sub {
    left:8px;
    top:22px;
    background: #FFDDEE;
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;
    width:100%;
    height:auto;
    z-index:300;
	
}
.menu3 :hover ul.sub li {
    display:block;
    height:20px;
    position:relative;
    float:left;
    width:100%;
    font-weight:normal;
	
}
.menu3 :hover ul.sub li a {
    display:block;
    font-size:16px;
    height:20px;
    width:100%;
    line-height:20px;
   text-indent:5px;
    color:#000;
    text-decoration:none;
}
.menu3 :hover ul.sub li a.fly {
color:#6A0000;
}
.menu3 :hover ul.sub li a.hover {
color:#0066CC;
background:#663399;

}

.menu3 :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul :hover ul {
    left:100%;
    top:-4px;
    background: #FFDDEE;
	background:#FFDDEE;
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;
    width:100%;
    z-index:400;
    height:auto;
	
}



/*以上是多级下拉菜单的CSS*/

/*
<ul>
<li><span class="sp1"></span></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul> 
*/
