<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<base target="_blank" /> 
<head> 
<title>contents</title> 
<link  href="../../more.css" rel="stylesheet" type="text/css" /> 
<style type=text/css> 
</style></head> 
<body><div> 
<li><a href="双峰县1700名乡镇被停薪留职人员的泣泪呼声.html">双峰县1700名乡镇被停薪留职人员的泣泪呼声</a></li>  
<li><a href="停薪留职政策争议.html">停薪留职政策争议</a></li>  
<li><a href="工作人员违规吃空饷 新邵一乡镇相关领导履责不力受处分.html">工作人员违规吃空饷 新邵一乡镇相关领导履责不力受处分</a></li>  
<li><a href="中国农民怎能不贫困.html">中国农民怎能不贫困</a></li>  
<li><a href="女公务员工作3年辞职：初中生就可胜任.html">女公务员工作3年辞职：初中生就可胜任</a></li>  
<li><a href="新建文件夹/a.html"><span style="color:blue; ">新建文件夹</span></a></li> 
</div> 
</body> 
</html> 
