
.tbrl {
width:30px;
font-size:22px;
font-family:"√‘ƒ„ºÚœ∏––ø¨";
letter-spacing:16px;
font-weight:bold;
color:#0000FF;
color:#000;
float:right;
padding-right:10px;
overflow:hidden;
margin-bottom:-955px;
padding-bottom:955px;
margin-top:13px;
writing-mode:tb-rl;
border-right-width:1px;
border-right-color:#ccc;
border-right-style:dashed;
text-align:center;
filter: Blur(Add=true, Direction=130, Strength=8);

}
.title1{
color:#FF0000;
border:0;
font-size:30px;
color:#808000;
}
.title2{
border:0;
font-size:24px;
color:#b8860b;
text-indent:2em;
}



#lay {
width:1055px;
overflow:hidden;

margin:auto;
padding-right:10px;
border:0px dashed blue;
height:440px;
width:1158px;
height:540px;
}
