<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<script type="text/javascript" src="http://ku.shouce.ren/libs/jquery/1/jquery1.7.2.min.js">
		</script>	
		<script type="text/javascript" src="//ku.shouce.ren/libs/cxselect/1.3/js/jquery.cxselect.min.js">
		</script>
	<title>country</title></head>
	<body>
		<div class="inwrap">
			<h1>jQuery cxSelect 联动下拉菜单 全球主要国家城市联动
			</h1>
			<div class="example">
				<fieldset>
					<div class="form">
						<dl class="row">
							<dt>所在地区
							</dt>
							<dd id="global_location" data-url="/static/json/globalData.min.json">
								<select class="country select" data-first-title="选择国家">
								</select>
								<select class="state select" data-required="true">
								</select>
								<select class="city select" data-required="true">
								</select>
								<select class="region select" data-required="true">
								</select>
							</dd>
						</dl>
					</div>
				</fieldset>
			</div>
		</div>
		<script>
			$('#global_location').cxSelect({
				selects: ['country', 'state', 'city', 'region'],
				nodata: 'none'
			}
										  );
		</script>
	</body>
</html>
