*{
margin:0;
padding:0;
}

#frame{
	width:1156px;
	margin:auto;
	line-height: 30px;
	font-size: 24px;
	font-family: "MV Boli";
	text-indent: 2em;
	overflow:hidden;
}

.layout{
    clear:both;
	width:1154px;
	border:1px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
}
.row{
    clear:both;
	width:1154px;
	border:0px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	font-size:24px;
	text-indent:0px;
	color:#790000;
}
.row1{
    clear:both;
	width:1154px;
	border:0px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	font-size:20px;
	}
.left, .right{
margin-bottom:-55px;
padding-bottom:55px;
}
:first-letter{
font-size:20px;
color:#0033cc;
font-weight:bold;
text-shadow:yellow .15em .15em .15em;
}
p{
margin-bottom:10px;
margin-top:10px;
}
.left {
	float:left;
	width: 300px;
	text-indent: 0em;
	color:#790000;
}
.mid {
	float: left;
	width: 500px;
	border-left:1px dotted #cccccc;
	border-right:1px dotted #cccccc;
	margin-right:15px;
	margin-left:15px;
	line-height: 26px;
	font-size: 18px;
}

.right {
	float: left;
	width: 320px;
	color: #0000FF;
	font-size: 16px;
	line-height: 24px;
}
.left1 {
	float: left;
	width: 555px;
	margin-right: 5px;
	color: #0000FF;
	font-size: 16px;
}

.nav{
    clear:both;
	width:1154px;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	height:28px;
	font:normal bold 16px/18px "ו" ;
	color:#0000FF;
}

li{
float:right;
}