<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>佛教(Buddhism)</title>


<style type="text/css">
<!--
div{
margin:left;
width:84.5%;
border:1px #800040 solid;
padding:10px;
}
p{
font-size:1.5em;
line-height:1.6em;
text-indent:2em;
}
-->
</style>

</head>

<body><div><p>佛教(Buddhism)：世界三大宗教之一，由公元前6-前5世纪古印度的迦毗罗卫国（今尼泊尔境内）王子所创，他的名字是悉达多 (S.Siddhārtha, P. Siddhattha)，他的姓是乔达摩(S. Gautama, P. Gotama)。因为他属于释迦 (Sākya)族，人们又称他为释迦牟尼，意思是释迦族的圣人。广泛流传于亚洲的许多国家。东汉时自西向东传入我国。佛教与基督教、伊斯兰教并称为世界三大宗教。佛教是佛陀的教育，而不是拜佛的宗教，佛教非宗教，非哲学，讲佛教是宗教只是一种通俗的方便说而已，实则以般若的智慧自内证打破无明烦恼，成就菩提（觉悟）之道，佛教在历史上曾对世界文化传播做出了不可磨灭的贡献，至今依然深深的影响着我们。<p>
‘佛’是一个理智、情感和能力都同时达到最圆满境地的人格。让我重复一遍：‘佛’是理智、情感和能力都同时达到最圆满境地的人格，换句话说：佛是大智、大悲（或谓全智、全悲）与大能的人。这里请注意佛法与其他宗教的不同点：佛不是万能，佛不能赐我们以解脱，他只能教导我们，我们还是要凭自己的努力才得解脱。佛不能使我们上天堂，或判我们入地狱。要为‘佛’下一个定义，委实不是一件容易的事。<p>
简单的说，佛就是‘觉者’，‘一个觉悟的人’。<p>
也许更明确一点，应该说佛是一个对宇宙人生的根本道理有透彻觉悟的人<p>
源于印度佛教发源于距今约2553年前的古印度。佛教的创始人是释迦牟尼佛，这个名号是印度梵语音译过来的，释迦是仁慈的意思，牟尼是寂默的意思，寂默也就是清净的意思，佛是觉悟的意思。释迦牟尼佛是北印度人，就是现在的尼泊尔，它在印度的北方，西藏的南部。 <p>东汉永平十年 公元67年,佛教正式由官方传入中国<p>
禅宗以菩提达摩为中国始祖（达摩大师是印度禅宗第28代祖师，中国初祖），故又称达摩宗；因其得佛心印为佛陀之正统法脉，又称为佛心宗。<p>
八大宗派系指大乘的天台宗、三论宗、唯识宗、华严宗、律宗、密宗、禅宗、及净土宗，若加上小乘的俱舍，成实二宗，是一般盛行的十大宗派。佛教初来中国，并无宗派之分，后因佛典翻译昌盛，思想体系与义理各有独到之处，复以师承各有法脉，所著重之经论互异，遂依其特色分类判摄，而于隋唐时期各擅道场，大放异彩。实则八大宗派之共同精神，可以[缘起无自性，一切法无我。]来概括统摄。所谓：“佛一圆音演说法，众生随类各得解。”只要契理契机，法法皆通涅盘城。祖师大德苦心判摄，乃为方便众生明了佛法奥义。无论哪个宗派，皆有其难能可贵之处，应平等视之。但弘扬正法，仍需因缘具足，切勿非人是己，致失佛法本旨，所谓“诤与道相违，不可不慎”。修习者亦当随机拣择。盖佛法固有深浅偏圆之别，并无好坏是非之分，彼此尊重，尽份发展，更能促进正法的兴盛。<p>
佛法本一味，原无大小乘之分。但因应不同根器，对厌离世间之苦，只求自了者，说解脱生死之小乘法。对悲愿深重，欲自觉觉他者，说大乘法。此乃因材施教，也是佛教能延续至今的原因。大小乘之争历千年而未休，大乘轻视小乘，斥为焦芽败种。小乘则谓大乘非佛说。小乘严格持戒，以日中一食，树下一宿，微密观照为修行方式，其精神值得敬佩。然而，大乘也绝对是佛说。《圆觉经》、《楞伽经》的内容，与祖师证悟的境界毫无乖异，即可得知。否则《净土圣贤录》记载之往生事迹，与禅宗祖师的成就，又当如何解释？大小乘思想上的分水岭，在于：小乘认同四大为实，但以析空观破此执著；大乘则认为，四大乃是心的影像，是清净自性所影现的假相，无实体可得。小乘的观空，却非易事。欲达到大乘的圆满大寂灭处更难。两者并无对错，只是思想不同，唯有互相尊重。只要契机，便能受益。<p>
    </div>
</body>
</html>
