<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
div{
margin:left;
width:84.5%;
border:1px #800040 solid;
padding:10px;
}
p{
font-size:1.5em;
line-height:1.6em;
text-indent:2em;
}
-->
</style>
<title>道教</title>


</head>

<body><div><p>道教是中国固有的一种宗教，距今已有1800余年的历史。它的教义与中华本土文化紧密相连，深深扎根于中华沃土之中，具有鲜明的中国特色，并对中华文化的各个层面产生了深远影响。
      　　
      <p>道教的名称来源，一则起于古代之神道；二则起于《老子》的道论，首见于《老子想尔注》。道教奉老子为教主，因为道家哲学思想的最早起源可追溯到老庄。值得注意的是：道教与道家是决然不同的两码事。道家所讲的道学不是宗教，也不主张立教。《老子》是道家思想的源流，被后世的张道陵等人奉为“经书”，并不是“太上老君”为布道而写的经书。一般学术界认为，道教的第一部正式经典是《太平经》，完成于东汉，因此将东汉时期视作道教的初创时期。道教正式有道教实体活动是在东汉末年太平道和五斗米道的出现，而《太平经》、《周易参同契》、《老子想尔注》三书是道教信仰和理论形成的标志。近年来，道家的&quot;天人合一&quot;的思想、宇宙观日益受到重视，并引起了西方世界的兴趣，也使得道教获得更多关注。道教教义中虽有道学成分，但远远不足以代表道学精神，远远不足以传达老庄思想，二者万万不可混同。
      　　
      <p>道教是中国主要宗教之一。东汉时形成，到南北朝时盛行起来。道教徒尊称创立者之一张道陵为天师，因而又叫“天师道”。后又分化为许多派别。道教奉老子为教祖，尊称他为“太上老君”。
      　　
      <p>因以“道”为最高信仰，认为“道”是化生宇宙万物的本原，故名。东汉张道陵创立的“五斗米道”为道教的定型化之始。南北朝时宗教形式逐渐完备。奉老聃为教祖，尊称“太上老君”。以《道德经》（即《老子》）、《正一经》和《太平洞经》为主要经典。奉三清为最高的神。要人脱离现实，炼丹成仙。
道教是崇拜多神的宗教。三清指元始天尊、灵宝天尊、道德天尊。它们是道教的最高主神，实是「道」的一体三位。「三清」的说法始于六朝，但此时「三清」多是指「三清境」，即太清境、玉清境和上清境，分别为神宝君、天宝君、灵宝君三位大神居住。后来，「三清」才逐渐作为元始天尊、灵宝天尊、道德天尊的通行代称，而「三清境」亦成为其居住地。
　　
<p>道教内部门派众多，因分派示准不同而名称各异。
　　
<p>据学理分有积善派、经典派、符箓派、丹鼎派（金丹派）、占验派五类。按地区分有龙门派、崂山派、随山派、遇山派、华山派、嵛山派、老华山派、鹤山派、霍山派、武当派等。
　　
<p>按人划分则有少阳派（王玄甫）、正阳派（钟离汉）、纯阳派（吕洞宾）、海蟾派（刘操）、三丰派（张三丰）、萨祖派（萨守坚）、紫阳派（张伯端）、伍柳派（伍冲虚、柳华阳）、重阳派（王中孚）、尹喜派（关尹）、金山派（孙玄清）、阎祖派（阎希言）等。　
　　
<p>按道门分有混元派（太上老君）、南无派（谭处瑞）、清静派（孙不二）、金辉派（齐本守）、正乙派（张虚静）、清微派（马丹阳）、天仙派（吕纯阳）、玄武派（真武大帝）、净明派（许旌阳）、云阳派（张果老）、虚无派（李铁拐）、云鹤派（何仙姑）、金丹派（曹国舅）、玉线派（樵阳真人）、灵宝派（周祖）、太一教（萧抱珍）、全真教（王重阳）、正一教（张宗演）、真空派（鼓祖）、铁冠派（周祖）、日新派、自然派（张三丰）、先天派、广慧派等。　
　　
<p>历史上还有正一宗（张道陵）、南宗（吕纯阳）、北宗（王重阳）、真大宗（张清志）、太一宗（黄洞一）、五大宗之分法和天师道、全真道、灵宝道、清微道四大派的分法。还有道德、先天、灵宝、正一、清微、净明、玉堂、天心八派的说法。　
　　
<p>而今许多教派式微，尚存的著名教派有北方的全真教、南方的正一教、茅山教、崂山教、武当教、闾山教及香港、台湾的民间道教派别。
道教三十六洞天与七十二福地
　　
<p>以下均据唐代道士司马承祯《天地宫府图》次序排列
　　
<p>十大洞天：小有清虚天、大有空明天、太玄总真天、三玄极真天、宝仙九室天、上玉清平山、朱明耀真天、金坛华阳天、左神幽虚天、成德隐玄天
　　
<p>三十六小洞天：霍林洞天、蓬玄洞天、朱陵洞天、仙林洞天、玄关洞天、司马洞天、虚陵洞天、洞灵真天、山赤水洞天、会极亢洞天、玄德洞天、天宝洞天、生上洞天、天司洞天、玄真洞天、真化洞天、太乐洞天、大玉洞天、耀宝洞天、宝玄洞天、秀乐洞天、玉宝洞天、阳观洞天、太元洞天、华妙洞天、金庭洞天、丹霞洞天、仙都洞天、青田洞天、朱日洞天、太生洞天、良常洞天、紫玄洞天、天盖洞天、白马洞天、金华洞天 
　　
<p>七十二福地：地肺山、盖竹山、仙山、东仙源、西仙源、南田山、玉溜山、青屿山、郁木洞、丹霞山、君山、大若岩、焦源、灵墟、沃洲、天姥岭、若耶溪、金庭山、清远山、安山、马岭山、鹅羊山、洞真墟、青玉坛、光天坛、洞灵源、洞宫山、陶山、皇井、烂柯山、勒溪、龙虎山、灵山、泉源、金精山、阁皂山、始丰山、逍遥山、东白源、钵池山、论山、毛公坛、鸡笼山、桐柏山、平都山、绿萝山、虎溪山、彰龙山、抱福山、大面山、元晨山、马蹄山、德山、高溪蓝水山、蓝水、玉峰、天柱山、商谷山、张公洞、司马梅山、长在山、中条山、湖鱼澄洞、绵竹山、泸水、甘山、汉山、云山、庐山、东海山 </p> </div>
</body>
</html>
