*{
margin:0;
padding:0;
}
a:link {
	text-decoration: none;
	cursor:url(img/rose.ani);
}
a:visited {
	text-decoration: none;
	color:##005681;
	font-size:12px;
	color:black;
}
#tab ul>li,
#tab2 ul>li,
#tab3 ul>li,
#tab4 ul>li,
#tab5 ul>li,
.footertop ul>li {
color:#c71585;
color:#ccc;



}
#tab div ul li a.pdf:link,#tab div ul li a.pdf:visited,
#tab2 div ul li a.pdf:link,#tab2 div ul li a.pdf:visited,
#tab3 div ul li a.pdf:link,#tab3 div ul li a.pdf:visited,
#tab4 div ul li a.pdf:link,#tab4 div ul li a.pdf:visited,
#tab5 div ul li a.pdf:link,#tab5 div ul li a.pdf:visited,
.footertop ul li a.pdf:link,.footertop ul li a.pdf:visited
{

color:#FF00FF;
}
#tab div ul li a.doc:link,#tab div ul li a.doc:visited,
#tab2 div ul li a.doc:link,#tab2 div ul li a.doc:visited,
#tab3 div ul li a.doc:link,#tab3 div ul li a.doc:visited,
#tab4 div ul li a.doc:link,#tab4 div ul li a.doc:visited,
#tab5 div ul li a.doc:link,#tab5 div ul li a.doc:visited,
.footertop ul li a.doc:link,.footertop ul li a.doc:visited
{
color:red;

}
#tab div ul li a.dir:link,#tab div ul li a.dir:visited,
#tab2 div ul li a.dir:link,#tab2 div ul li a.dir:visited,
#tab3 div ul li a.dir:link,#tab3 div ul li a.dir:visited,
#tab4 div ul li a.dir:link,#tab4 div ul li a.dir:visited,
#tab5 div ul li a.dir:link,#tab5 div ul li a.dir:visited,
.footertop ul li a.dir:link,.footertop ul li a.dir:visited
{
color:#33FF00;

}
#tab a:link[href^="http://"],#tab a:visited[href^="http://"],
#tab2 a:link[href^="http://"],#tab2 a:visited[href^="http://"],
#tab3 a:link[href^="http://"],#tab3 a:visited[href^="http://"],
#tab4 a:link[href^="http://"],#tab4 a:visited[href^="http://"],
#tab5 a:link[href^="http://"],#tab5 a:visited[href^="http://"],
.footertop a:link[href^="http://"],.footertop a:visited[href^="http://"],
#tab a:link[href^="https://"],#tab a:visited[href^="https://"],
#tab2 a:link[href^="https://"],#tab2 a:visited[href^="https://"],
#tab3 a:link[href^="https://"],#tab3 a:visited[href^="https://"],
#tab4 a:link[href^="https://"],#tab4 a:visited[href^="https://"],
#tab5 a:link[href^="https://"],#tab5 a:visited[href^="https://"],
.footertop a:link[href^="https://"],.footertop a:visited[href^="https://"]
{ 

color:blue;
 }
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(images/wu.gif);
	background-attachment:fixed;
    background-repeat:no-repeat;
	font-family:"MV Boli",Times,宋体;
	font-size:1em;

}

div li{
list-style:none;
float:left;
}

table tr td{
font-size:12px;
}


.sp1{/*li的栏头*/
color:#0000FF;
font-size:16px;
}
.sp2{/*tab3 p36 saying*/
height:18px;
text-indent: 6px;
}

#bg12 { 
	background: url(images/wang.gif) no-repeat bottom right ; 
	margin: 0; 
	position: relative;
	}
#frame {
width:960px;
margin:auto;
height:620px;
border:0px solid #000000;/*用于衡量窗口大小*/
}
.topup{/*top have 3 layer,topup,top,topdown*/
	margin:auto;
	width:100%;
	height:14px;
	color:#000099;
	font-size:12px;
	overflow:hidden;
	padding-top:4px;
}
#topup1{
	margin:auto;
	width:35%;
	float:left;
	font-size:12px;
	border:0px solid #000000;
	height:18px;
	text-align:left;
	
}
#topup2{
	margin:auto;
	width:47%;
	float:left;
	font-size:12px;
	text-align:left;
    margin-top:-4px;
	margin-bottom:4px;
	border:0px solid #000000;
	height:18px;
}
#topup3{
	margin:auto;
	width:18%;
	float:left;
	font-size:12px;
	text-align:right;
	border:0px solid #000000;
	height:18px;

}

/*top have 3 layer,topup,top,topdown*/
.topdown{/* total height:16+2＝18   */
	width:100%;
	height:24px;
	color:#000099;
	float:left;
	margin-top:2px;
}

/*top have 3 layer,topup,top,topdown*/
#top {
width:960px;
height:66px;
background-image:url(top.jpg);
color:#FFFFFF;
background-color:#CCCCCC;
float:left;
background-image:url(../img/bg.jpg);
background-position:120% 55%;
}


#topleft{
width:320px;
height:66px;
float:left;
}
.top11{ /* size=250*33(23+10) */
width:300px;
float:left;
height:23px;
text-align:left;
padding-top:10px;
padding-left:20px;
font-family:"迷你简细行楷";
font-size:22px;
}

.top21{
width:320px;
float:left;
height:23px;
text-align:center;
padding-top:10px;
overflow:hidden;
}

#topright{
width:640px;
height:66px;
float:left;
filter:Alpha(opacity:100);

}

#topright a:link,#topright a:visited{
color:#ffffff;
text-decoration:none;
font-size:12px;
}
#topup3 a:link,#topup2 a:visited{
color:#000000;
text-decoration:none;
font-size:12px;
}

#mainx {
width:960px;
float:left;
height:368px;/* 520-18-66-18-30*/
	height:416px;/* 520-18-66-18-30*/
/*height:368px\9......;*//* 520-18-66-18-30*/
}

#mainx p{
font-size:16px;
height:22px;
widows:95px;
display:inline;
}

.main {
width:960px;
	height:208px;
height:184px\9......;
position:relative;
overflow:hidden;
}
.right,.left{
width:480px;
float:left;
	height:208px;
height:184px\9......;
}

#tab,#tab2,#tab3,#tab4 {
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
width:480px;/* 定义选项卡的整体宽度 */
	height:208px;
height:184px\9......;
clear:both;
} 

#tab div,#tab2 div,#tab3 div,#tab4 div {
	position:absolute;
	top:28px;
	left:0px;
	width:480px;
	height:156px;/* 204-28(H3)-6(bottom)*/
		height:180px;/* 204-28(H3)-6(bottom)*/
height:156px\9......;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab .block,#tab2 .block,#tab3 .block,#tab4 .block{
	display:block;
	padding-bottom:6px;
} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab h3,#tab2 h3,#tab3 h3,#tab4 h3 {/*total h:26+1*2=28   */
	float:left;
	width:16.2%;
	height:26px;
	line-height:26px;
	margin:1px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:26px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	background:#EEEEEE url(../img/tab_bg.gif) no-repeat right top;
	background-position:right;
	cursor:pointer;
	cursor:url(img/rose.ani);
	display:block;
	overflow:hidden;
	filter:Alpha(opacity:100);
	
	margin-left:1px;
	border-left:1px solid #fff;
	border-bottom:1px solid #ddd;

} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */
#tab4 h3 a:visited{
font-size:16px;
color:#00007F;
}


#tab .up,#tab2 .up,#tab3 .up,#tab4 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;

	border-top:1px solid #eee;
	
	margin-left:1px;
	margin-right:-1px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	border-bottom:0px solid #fff
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab ul,#tab2 ul,#tab3 ul,#tab4 ul,#ones ul{
	margin:4px 0 0;
	list-style:none;
}

#tab li,#tab2 li,#tab3 li,#tab4 li,#ones li {
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:240px; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:21px;
	line-height:18px;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
	text-overflow:ellipsis;
}

#tab li a,#tab2 li a,#tab3 li a,#tab4 li a,#ones li a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab li a:hover,#tab2 li a:hover,#tab3 li a:hover,#tab4 li a:hover,#ones li a:hover {
color:#0000ff;
background-color:#ddd;
margin-left:0px;/*文字会形成移动*/
}
#tab li a:visited,#tab2 li a:visited,#tab3 li a:visited,#tab4 li a:visited,#tab5 li a:visited,#ones li a:visited {
color:#000;
margin-left:0px;/*文字会形成移动*/
}

#ones{
position:absolute;
	top:325px;
	left:640px;
	width:475px;
	height:160px;
	visibility: hidden;
	display:block;
	padding-bottom:6px;
	}
#ones ul {
	padding:0;
	list-style:none;
}

/*两边的浮动层*/
.floatms {/* 两边的固定层,中间列 */
width:17px;
height:270px;
font-size:16px;
letter-spacing:4px;
float:right;
overflow:hidden;
margin:3px ;
writing-mode:tb-rl;
}
#float1b,#float2b,#float3b,#float4b {/* 1st固定层 */
width:8.80%;
height:49.12%;
position:absolute;
overflow:hidden;
color:#FF0000;
border:0px solid #FF0000;
visibility:hidden;
top:2.11%;
}

#float1b {/* 1st固定层 */
left:0.96%;
top:2.11%;
}

#float2b {/* 4th固定层 */
right:2.56%;
top:12px;
}

#float3b {/* 3rd固定层 */
left:0.96%;
top:286px;

}

#float4b {/* 4th固定层 */
right:2.56%;
top:286px;

}

/*鼠标特效*/
.spanstyle {
position:absolute;
visibility:visible;
top:-50px;
font-size:10pt;
font-weight:bold;
color:#DFDFDF;
}


.footertop{
width:960px;
float:left;
height:19px;
/*clear:both;*/
border-top:1px solid #999999;
margin-top:5px;
padding-top:5px;
overflow:hidden;
}
.footertop li{
padding-left:6px;
font-size:12px;
}

#footer{ /* total height:19+1+5+5*/
width:960px;
float:left;
height:19px;
/*clear:both;*/
text-align:center;
border-top:1px solid #999999;
margin-top:3px;
padding-top:3px;
font-size:12px;
overflow:hidden;
}

/*below is TV layer*/

#main5 {
width:960px;
float:left;
height:54px;/* 520-18-66-18-30*/
border-top:1px solid #999999;
margin-top:5px;
}
#tab5 {
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
width:960px;/* 定义选项卡的整体宽度 */
height:54px;
clear:both;
} 

#tab5 div {
	position:absolute;
	top:0px;
	left:60px;
	width:900px;
	height:54px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab5 .block{/*no modi*/
	display:block;
	padding-bottom:0px;

} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */


#tab5 h3, .others {/*total h:26+1*2=28   */
	width:5.73%;
	height:11px;
	margin:0px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:0.8125em;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	cursor:pointer;
	cursor:url(zfirst/css/rose.ani);
	display:block;
	background-color:#eee;

	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	margin-bottom:1px;
	/*font-family: "MV Boli";*/
	text-align:left;
} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */


#tab5 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	margin-left:1px;
	margin-right:-1px;

	border-bottom:1px solid #eee;
	border-right:0px solid #eee;
} /* 当某个标题被激活时改变背景图片，突出显示 */
#tab5 ul{/*no modi*/
	margin:0px 0 0;
	list-style:none;
}

#tab5 li{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:12.25%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:0px dashed #DEDEDE;
	overflow:hidden;
	font-size:12px;
	text-overflow:ellipsis;
}

#tab5 li a {/*no modi*/
	font-size:12px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab555 li a:hover{
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}



#tab6{
position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
left:30px;
top:30px;
width:125px;/* 定义选项卡的整体宽度 */
height:555px;
clear:both;
} 

#tab7{
position:absolute; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
left:1122px;
top:30px;
width:140px;/* 定义选项卡的整体宽度 */
height:555px;
clear:both;
overflow:hidden;
} 

#tab6 div,#tab7 div{
	position:absolute;
	top:0px;
	left:0px;
	width:140px;
	height:555px;
	display:none;
	filter:Alpha(opacity:100);
	font-size:14px;
}

#tab6 .block,#tab7 .block{
	display:block;
	padding-bottom:6px;
	overflow:hidden;
}

#tab6 p,#tab7 p{
height:22px;
overflow:hidden;
}

/*li宽度为190px的CSS;*/

#tab ul .li2,#tab2 ul .li2,#tab3 ul .li2,#tab4 ul .li2,#ones ul .li2 {
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:190px; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:1px dashed #DEDEDE;
	overflow:hidden;
}

#tab ul .li2 a,#tab2 ul .li2 a,#tab3 ul .li2 a,#tab4 ul .li2 a,#ones ul .li2 a {
	font-size:14px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
}

#tab ul .li2 a:hover,#tab2 ul .li2 a:hover,#tab3 ul .li2 a:hover,#tab4 ul .li2 a:hover,#ones ul .li2 a:hover {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}
#tab ul .li2 a:visited,#tab2 ul .li2 a:visited,#tab3 ul .li2 a:visited,#tab4 ul .li2 a:visited,#ones ul .li2 a:visited {
color:#0000FF;
margin-left:0px;/*文字会形成移动*/
}

/*以下是下拉菜单的CSS*/
#nav {
    position:absolute;
    z-index:1;
    left: 481px;
    top: 82px;
    width:500px;
    height:18px;
    padding:0px 0px;
}


#nav ul {
    margin:0px;
    padding:0px;
	
}
#nav li a {
    text-decoration:none;
	color:#400000;
	font-size:16px;
}
#nav li {
    list-style:none;
    text-align:center;
   /* font-weight:bold;*/
    float:left;
	text-align:left;
	font-size:16px;
	vertical-align:middle;
	
}

#nav .list {
    line-height:24px;
    text-align:left;
    padding:0px;
    font-weight:normal;
	
}
#nav .list a {
    color:#FF3AC1;
    text-decoration:none;
    float:left;
    width:95px;
    padding:0px 0px 0px 0px;
}
#nav .list a:hover {
    color:white;
    padding:0px 0px 0px 0px;
    width:95px;
    background-color:#FF3AC1;
}

#nav .menu1 {
    width:95px;
    height:auto;
    margin:0px 0px 0px 0px;
    border:0px solid #FF3AC1;
    background-color:#F1FBEC;
    color:#FF3AC1;
    padding:0px 0px 0px 3px;
    cursor:hand;
    overflow-y:hidden;
    filter:Alpha(opacity=100);
 /*   -moz-opacity:0.7;*/
}
#nav .menu2 {
    width:95px;
    height:20px;
    margin:0px 0px 0px 0px;
    /*background-color:#F5F5F5;*/
    color:#999999;
    border:0px solid #EEE8DD;
    padding:0px 0px 0px 0px;
    overflow-y:hidden;
    cursor:hand;
	}
/*以上是下拉菜单的CSS*/


/*以下是多级下拉菜单的CSS*/

.fix {
position:absolute;
top:85px;
left:880px;
}
.menu3 {
    /*padding:0 0 0 32px;*/
    margin:0;
    list-style:none;
    height:22px;
   /* background:#fff;*/
    position:relative;
    z-index:500;
}

.menu3 li.top {
    display:block;
    float:left;
}
.menu3 li a.top_link {
    display:block;
    float:left;
    height:22px;
    line-height:18px;
    color:#ccc;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    padding:0 0 0 12px;
    cursor:pointer;
}
.menu3 li a.top_link span {
    float:left;
    display:block;
    height:22px;
  
}
.menu3 li a.top_link span.down {
    float:left;
    display:block;
  /*  padding:0 24px 0 12px;*/
    height:22px;
   /* background:url(images/10-4/blanka.gif) no-repeat right top;*/
}

/* Default link styling */

/* Style the list OR link hover. Depends on which browser is used */

.menu3 a:hover {
    visibility:visible;
    position:relative;
    z-index:200;
}
.menu3 li:hover {
    position:relative;
    z-index:200;
}
/* keep the 'next' level invisible by placing it off screen. */
.menu3 ul, 
.menu3 :hover ul ul, 
.menu3 :hover ul :hover ul ul, 
.menu3 :hover ul :hover ul :hover ul ul,
.menu3 :hover ul :hover ul :hover ul :hover ul ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0;
    height:0;
    margin:0;
    padding:0;
    list-style:none;
}
.menu3 :hover ul.sub {
    left:8px;
    top:22px;
    background: #FFDDEE;
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;
    width:90px;
    height:auto;
    z-index:300;
	
}
.menu3 :hover ul.sub li {
    display:block;
    height:20px;
    position:relative;
    float:left;
    width:90px;
    font-weight:normal;
	
}
.menu3 :hover ul.sub li a {
    display:block;
    font-size:16px;
    height:20px;
    width:90px;
    line-height:20px;
   text-indent:5px;
    color:#000;
    text-decoration:none;
}
.menu3 :hover ul.sub li a.fly {
color:#6A0000;
}
.menu3 :hover ul.sub li a.hover {
color:#0066CC;
background:#663399;

}

.menu3 :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul,
.menu3 :hover ul :hover ul :hover ul :hover ul :hover ul {
    left:90px;
    top:-4px;
    background: #FFDDEE;
	background:#FFDDEE;
    padding:3px;
    /*border:1px solid #3a93d2;*/
    white-space:nowrap;
    width:90px;
    z-index:400;
    height:auto;
	
}



/*以上是多级下拉菜单的CSS*/

.time{
	font-family :"Comic Sans Ms";
	font-size : 12pt;
	font-weight : bold;
	color: #00008D;
}
#tim1{
	position:absolute;
	width:50px; 
	height:20px; 
	top:-4px; 
	left:71%
}
#tim2{
	position:absolute; 
	filter:flipv() alpha(opacity=20);
	left:71.5%;
	font-style:italic;
	top:-2px;
}
#floater{
	HEIGHT: 50px; 
	POSITION: absolute; 
	WIDTH: 50px; 
	z-index:2; 
	left:-100px; 
	top:-100px;
}

.more222 {
	filter: Blur(Add=true, Direction=130, Strength=10);
	line-height: 33px;
	font-size:24px;
	font-weight:bold;
}
a.more {
    padding: 2px 8px;
    border: 1px solid;
    border-color: #ffe #aaab9c #ccc #fff;
    text-decoration: none;
    background: #f0e7d7;
    color: #800000;
	*float:right;
float:right\9;
    
}
#tab div ul li a.more:hover,
#tab2 div ul li a.more:hover,
#tab3 div ul li a.more:hover,
#tab4 div ul li a.more:hover,
#tab5 div ul li a.more:hover
{
    background: transparent;
    border-color: #aaab9c #fff #fff #ccc;
}
li{
white-space:nowrap;
}

/*4 div tab8(T00l layer)*/

#main8 {
	width:100%;
	float:left;
	height:54px;/* 520-18-66-18-30*/
	border-top:1px solid #999999;
	margin-top:5px;
	padding:3px 0;
}
#tab8 {
	position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
	width:100%;/* 定义选项卡的整体宽度 */
	height:54px;
	clear:both;
	color:#c71585;
} 

#tab8 div {
	position:absolute;
	top:0px;
	left:60px;
	width:93.75%;
	height:54px;/* 204-28(H3)-6(bottom)*/
	display:none;
}

#tab8 .block{/*no modi*/
	display:block;
	padding-bottom:0px;

} /* 当选项卡某个内容区域被激活时，显示内容，并设置该容器底部的内补丁为10px */

#tab8 h3 {/*total h:26+1*2=28   */
	width:5.73%;/*5.73%*/
	height:13px;
	margin:0px 0px; /* 利用负边距让标题更靠近一点 */
	line-height:0.8125em;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	color:#00007F;
	cursor:pointer;
	cursor:url(zfirst/css/rose.ani);
	display:block;
	/*font-family: "MV Boli";*/
	text-align:left;	
	background-color:#eee;

	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	margin-bottom:1px;} /* 将所有的标签标题浮动，并设置其宽度和高度等属性，再添加背景图修饰标题 */


#tab8 .up {
	background:#fff url(tab_up_bg.gif) no-repeat;
	border-left:1px solid #eee;
	border-top:1px solid #eee;
	margin-left:1px;
	margin-right:-1px;

	border-bottom:1px solid #eee;
	border-right:0px solid #eee;
} /* 当某个标题被激活时改变背景图片，突出显示 */

#tab8 ul{/*no modi*/
	margin:0px 0 0;
	list-style:none;

}

#tab8 li{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:12.25%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	border-bottom:0px dashed #DEDEDE;
	overflow:hidden;
	font-size:12px;
	text-overflow:ellipsis;
}
#tab8 ul>li{
/*color:#000000;*/

}
#tab8 li a {/*no modi*/
	font-size:12px;
	text-decoration:none;
	text-indent:8px;
	color:#333333;
	color:blue;
}

#tab855 li a:hover{
background-color:#0000CC;
color:#CC3333;
	margin-left:0px;/*文字会形成移动*/
}
#tab8 ul .f12{
font-size:10px;
}
#tab8 .fontr{
font-size:10px;
color:red;
}
#tab8 .fontb{
font-size:10px;
color:blue;
}
#tab8 li a:visited{/*no modi*/
	color:#000;
	margin-left:0px;/*文字会形成移动*/
	
}/*4 div tab8(tool layer)*/
#tab8 li.baidu{
margin-top:-4px;
margin-left:-10px;
height:24px;

}
#tab8 li.baidu2{
	display:inline; /* 解决IE6中双倍间距的BUG */
	float:left;
	width:21%; /* 解决IE浏览器中相对值宽度计算的BUG */
	height:18px;
	line-height:18px;
	}

/*
<ul>
<li><span class="sp1"></span></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul> 
*/
