.searchbg{
background:#808000;background-image:url(../images/everest.jpg);
color:#555;
}
.FirstPage a:link, .FirstPage a:visited{
color:#555;
}
.mailbg{background-color:#a0a000;}
.vChange a:link, .vChange a:visited{
background-color:#eee;
color:#999;
filter: Alpha(opacity=70);/*IE*/
opacity:.7;/*»ðºü*/
} 
.odd, 
.odd a:link, 
.odd a:visited { 
color:#808000;
}
.even, 
.even a:link, 
.even a:visited {color:black;
	}
.odd a:hover ,
.even a:hover {
color:red;
padding:0px;
margin:0px;
font-size:100%;
}