.searchbg{
background-image:url(../images/LEAVES.gif);
background-position:center;
}

.vChange a:link, .vChange a:visited{
color:#bbb;
background:white;
}
	
.odd, .odd a:link, .odd a:visited { color:#AA6655;}
.even, .even a:link, .even a:visited {color:black;}

.odd a:hover ,
.even a:hover{
color:red;
padding:0px;
margin:0px;
font-size:100%;
} 
