body {
margin:0px;
padding:0px;
overflow-y:scroll;
color:#005353;
font-family:"宋体";
}
*{
margin:0;
padding:0;
}
a:link {text-decoration: none;color:black;cursor:url(images/rose.ani);}
a:visited {text-decoration: none;color:black;cursor:url(images/rose.ani);}
a:hover {text-decoration: none;color:black;}
a:active {text-decoration: none;color:black;}


.hrspace{
width:880px;
border:none;
background-image:url(../images/hr.gif);
height:10px;
margin:auto;
opacity: 1;
filter: Alpha(opacity=100);
}

table, table td{
margin:auto;
border:0px solid;
}
textarea.text{
height:70px;
width:416px;
overflow:auto;
}
input.text{
width:330px;
}
.fivew{
font-size:85%;
}
.sixw{
font-size:80%;/*在百度影音浏览器中太小的字体显示不了；*/
}

.arrow{
font-size:80%;
font-weight:normal;
float:right;
}

/*width:880=taxbox=left:440+right(438+2),tab440(div428+12)\tab2 438(426+12 */
#divwrap ul{
width:100%;
height:27px;
border:0px red solid;
margin:0px;
outline-style:none;
padding:0 0px 0 0px;
overflow:hidden;vertical-align:middle;
}
#divwrap li{
float:left;
list-style:none;
height:23px;
line-height:24px;/*要控制在hidden后不被溢出，不但要设置高、宽，还要设置行高；*/
border:0px solid white;
padding-top:2px;
padding-bottom:2px;
overflow:hidden;
vertical-align:middle;
}

#divwrap div ul>li {
width:9%;
font-weight:bold;
padding-left:3%;
padding-right:1%;
text-align:left;
font-family:"宋体",Arial, Helvetica, sans-serif;
overflow:hidden;
background-color:#E2E6ED;
background-color:#CFCEFD;

background-color:#F0F1FF;
}

#divwrap div ul>li+li {
width:10.5%;
font-weight:normal;padding-left:0px;padding-right:0px; text-align:left;
background-color: white;}

#divwrap div ul>li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li+li+li+li+li {width:10.5%;}
#divwrap div ul>li+li+li+li+li+li+li+li+li+li {text-align:center;width:3%;padding-left:0px;}

#divwrap div ul>li p{text-align:left;}
#divwrap div ul>li a:link, #divwrap div ul>li a:visited{cursor:url(images/banana.ani);}
#divwrap div ul>li+li a:link, #divwrap div ul>li+li a:visited{cursor:url(images/rose.ani);}

#divwrap div{
border-bottom:1px #eee solid;
overflow:hidden;
width:880px;
margin:auto;
padding:0px;
font-size:100%;
}
/*obj.offsetHeight-1是因为<div>设置了下框线1px,如果下载线无，则不需-1；设置边框存在的问题是展开的再收缩就收缩不了，如果不设边框则不存在这个问题*/

.odd, .odd a:link, .odd a:visited { 


}
.even, .even a:link, .even a:visited {
color:black;
}
.odd a:hover ,
.even a:hover {
/*color:red;*/
background-color:#fff;
padding:0px;
margin:0px;
font-size:100%;
}

h5 a:link {
text-decoration: none;
cursor:url(images/rose.ani);
background: transparent;
}
h5 a:visited {
text-decoration: none;
}

h5 a:hover {
background: transparent;
text-decoration:none;
border:0px;
color:white;	
}
h5{
cursor:url(images/banana.ani);
}


.h5up a:hover{
border-bottom:#888 1px dotted;
}
.h5down a:hover{
border-top:#888 1px dotted;
}

.moreInfo{
position:absolute;
display:none;
width:778px;z-index:44;
background-color:#fff;
margin-top:0px;
line-height:22px;
color:#0000CC;
border:#ccc 1px solid;
color:#804040;
padding:6px;
margin:-22px 0px 0px 70px;
font-size:90%;
font-weight:normal;
}


.moreInfo{
position:absolute;
display:none;
width:778px;z-index:44;
background-color:#fff;
margin-top:0px;
line-height:22px;
color:#0000CC;
border:#ccc 1px solid;
color:#804040;
padding:6px;
margin:-22px 0px 0px 70px;
font-size:90%;
font-weight:normal;
}

.moreInfo a:link,.moreInfo a:visited{
text-decoration:underline;
}

code{
display:block;
text-indent:2em;
margin-bottom:6px;
text-align:left;
}
.divclose{
position:relative;
float:right;
right:12px;
width:32px;
height:18px;
}
.divclose a:link, .divclose a:hover{
padding: 0px 0;

color: #000;
text-align: center;
border: 1px solid;
border-color: #ccc #aaab9c #ccc #ccc;
text-decoration: none;

background: transparent;
cursor: pointer;
opacity: .6;
filter: Alpha(opacity=60);
color:#FF0000;
}

#divwrap div ul>li {
background-position:left;
background-repeat:no-repeat;

}
#divwrap div ul>li a:link{
}
.bgzonghe{background-image:url(../images/zonghe.gif); }
.bgnews{background-image:url(../images/news.gif); }
.bgencyclo{background-image:url(../images/encyclo.gif); }
.bgwenda{background-image:url(../images/wenda.gif); }
.bgwenku{background-image:url(../images/wenku.gif);}
.bgwendan{background-image:url(../images/bgwendan.gif);}
.bgbook{background-image:url(../images/book_open.gif);}
.bgjiangzuo{background-image:url(../images/jiangzuo.gif);}
.bgshici{background-image:url(../images/shici.gif);}
.bgdic{background-image:url(../images/dic.gif);}
.bgpic{background-image:url(../images/pic.gif);}
.bgvideo{background-image:url(../images/video.gif);}
.bgmovie{background-image:url(../images/movie.gif);}
.bgmusic{background-image:url(../images/music.gif);}
.bgtorrent{background-image:url(../images/torrent.gif);}
.bgsoftware{background-image:url(../images/software.gif);}
.bghardware{background-image:url(../images/hardware.gif);}
.bggouwu{background-image:url(../images/gouwu.gif);}
.bgmaps{background-image:url(../images/maps.gif);}
.bgblog{background-image:url(../images/blog.gif);}
.bgshequ{background-image:url(../images/shequ.gif);}
.bgothers{background-image:url(../images/others.gif);}
.bgzongyi{background-image:url(../images/zongyi.gif);}
.bgfun{background-image:url(../images/fun.gif);}
.bgkepu{background-image:url(../images/kepu.gif);}
.bgstudy{background-image:url(../images/study.gif);}
.bgyixue{background-image:url(../images/yixue.gif);}
.bgshangj{background-image:url(../images/shangj.gif);}
.bghangye{background-image:url(../images/hangye.gif);}
.bglvyou{background-image:url(../images/lvyou.gif);}
.bggames{background-image:url(../images/games.gif);
}

option{
padding:0px 0px 4px 0px;
text-indent:.5em;
margin-left:4px;
text-align:center;
}
.local{
width:880px;
height:415px;
margin:auto; 
position:relative;

}
.localleft{
height:415px;
width:496px;
border:1px white solid;
float:left;
}
.localright{
height:415px;
width:380px;
border:1px white solid;
float:left;

}
.localright table{
width:377px;
border-collapse:collapse;
border:1px #ddd solid;
border-top:0;
padding-left:3px;
}
.localright table td{
height:24px;
padding-left:3px;
}

#tagcloudwrap{
width:185px;	
height:240px;
overflow:hidden;	
border:#ddd solid 1px;
position:absolute;
bottom:0px;
right:0px;

}
#tagcloudwrap p{
margin-top:4px;
font-size:12px;
width:60px;
}
#tagcloudwrap a:link,#tagcloudwrap a:visited {
border-bottom:#ddd solid 1px;
border-right:#ddd solid 1px;
background-color:#eee;
color:#fff;
}
#tagcloudwrap a:hover{
border-top:#ddd solid 1px;
border-left:#ddd solid 1px;
color:#eee;
background-color:#fff;
}
#wpcumuluscontent2507972{
margin:auto;
margin-top:4px;
border:red solid 0px;
width:350px;
text-align:center;
height:210px;
overflow:hidden;
margin-left:-80px;
overflow:hidden;
}