*{
padding:opx;
margin::opx;
}

.container {
width:960px;
margin:auto;
overflow:hidden;

}
.container2 {
width:960px;
margin:auto;
overflow:hidden;
clear:both;
margin-top:-5px;
margin-bottom:-30px;
}

p{
line-height:34px;
font-family:"叶根友疾风草书";
font-family:"华文隶书";
font-family:"书体坊雪纯体3500";
font-family:"迷你简细行楷";
font-family:"宋体";
font-family:"新宋体";
font-size:24px;
text-indent:2em;
/*font-weight:bold;*/

}

.end{
text-align:right;
font-size:24px;
text-shadow:#6C6C00;
font-family:"华文隶书";
text-shadow:#6C6C00;
height:8px;
padding-right:12px;
margin-top:-20px;
}

.left3{
width:300px;
float:left;

}
.mid3{
width:300px;
float:left;
margin-top:-15px;
}
.right3{
width:300px;
float:right;
margin-top:-20px;
}
.left3, .mid3,  .right3{

padding-left:10px;
line-height:4px;
border:0px #000000 solid;
}


.titlet{
font-family:"华文隶书";
font-size:28px;
font-weight:bold;
color:#6B3636;
}
.titlet2{
font-size:18px;
color:#009393;
font-weight:bold;
height:20px;
padding-bottom:-15px;
margin-bottom:-10px;
border:0px #0066CC solid;
font-family:"草檀斋毛泽东字体";
font-family:"叶根友疾风草书";
}

.titlet3{

font-size:20px;
color:#FFFFFF;
font-family:"MV Boli";
text-shadow:#6C6C00;
height:28px;

}
