*{
margin:0;
padding:0;
}

#frame{
	width:92.5%;
	margin:auto;
	line-height: 30px;
	font-size: 24px;
	font-family: "MV Boli";
	text-indent: 2em;
	overflow:hidden;
}

.layout{
    clear:both;
	width:92.3%;
	border:1px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
}

.left, .right{
margin-bottom:-55px;
padding-bottom:55px;
}


:first-letter111{
font-size:20px;
color:#0033cc;
font-weight:bold;
text-shadow:yellow .15em .15em .15em;
}
p{
margin-bottom:10px;
margin-top:10px;
}
.left {
	float:left;
	width: 48%;
}
.right {
	float: right;
	width: 40.8%;
	border-left:1px dotted #cccccc;
	line-height: 24px;
	font-size: 20px;
	margin-top:5px;
}

.left1 {
	float: left;
	width: 44.4%;
	margin-right: 5px;
	color: #0000FF;
	font-size: 16px;
}

.nav{
    clear:both;
	width:92.3%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	height:28px;
	font:normal bold 16px/18px "ו" ;
	color:#0000FF;
}
ul{
font-size:18px;
line-height:28px;
list-style-type:none;
margin-left:8%;
}
ul.li{
display:block;
list-style-type:none;
height:24px;
}
.c28 {font-size: 22px}
.contents{
float:left;
width:1100px;
font-size:18px;

line-height:24px;
margin-left:50px;
}