
@media Print    
{
A.stub {
	COLOR: #ba0000; TEXT-DECORATION: none
}
A.new {
	COLOR: #ba0000; TEXT-DECORATION: none
}
#toc {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.tocindent {
	MARGIN-LEFT: 2em
}
.tocline {
	MARGIN-BOTTOM: 0px
}
DIV.floatright {
	CLEAR: right; FLOAT: right; MARGIN: 0.5em 0px 0.8em 1.4em; POSITION: relative
}
DIV.floatright P {
	FONT-STYLE: italic
}
DIV.floatleft {
	CLEAR: left; FLOAT: left; MARGIN: 0.5em 1.4em 0.8em 0px; POSITION: relative
}
DIV.floatleft P {
	FONT-STYLE: italic
}
DIV.center {
	TEXT-ALIGN: center
}
DIV.thumb {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.8em; WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
DIV.thumbinner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px! important; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px! important; FONT-SIZE: 94%; PADDING-BOTTOM: 3px! important; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px! important; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
HTML .thumbimage {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
HTML .thumbcaption {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 3px! important; FONT-SIZE: 94%; PADDING-BOTTOM: 3px! important; BORDER-TOP-STYLE: none; LINE-HEIGHT: 1.4em; PADDING-TOP: 3px! important; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
DIV.magnify {
	DISPLAY: none
}
DIV.tright {
	CLEAR: right; FLOAT: right; MARGIN: 0.5em 0px 0.8em 1.4em
}
DIV.tleft {
	CLEAR: left; FLOAT: left; MARGIN: 0.5em 1.4em 0.8em 0px
}
IMG.thumbborder {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
TABLE.rimage {
	FLOAT: right; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1em; WIDTH: 1pt; POSITION: relative; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px
}
.noprint {
	DISPLAY: none
}
DIV#jump-to-nav {
	DISPLAY: none
}
DIV.top {
	DISPLAY: none
}
DIV#column-one {
	DISPLAY: none
}
#colophon {
	DISPLAY: none
}
.editsection {
	DISPLAY: none
}
.toctoggle {
	DISPLAY: none
}
.tochidden {
	DISPLAY: none
}
DIV#f-poweredbyico {
	DISPLAY: none
}
DIV#f-copyrightico {
	DISPLAY: none
}
LI#viewcount {
	DISPLAY: none
}
LI#about {
	DISPLAY: none
}
LI#disclaimer {
	DISPLAY: none
}
LI#privacy {
	DISPLAY: none
}
#footer-places {
	DISPLAY: none
}
#mw-hidden-catlinks {
	DISPLAY: none
}
UL {
	LIST-STYLE-TYPE: square
}
#content {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BORDER-TOP-STYLE: none! important; PADDING-TOP: 0px! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
#footer {
	BORDER-TOP: black 1px solid; BACKGROUND: white; COLOR: black
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
P {
	MARGIN: 1em 0px; LINE-HEIGHT: 1.2em
}
.documentDescription {
	MARGIN: 1em 0px; LINE-HEIGHT: 1.2em
}
.tocindent P {
	MARGIN: 0px
}
PRE {
	BORDER-RIGHT: black 1pt dashed; PADDING-RIGHT: 0px; BORDER-TOP: black 1pt dashed; PADDING-LEFT: 0px; FONT-SIZE: 8pt; BACKGROUND: white; PADDING-BOTTOM: 1em; OVERFLOW: auto; BORDER-LEFT: black 1pt dashed; COLOR: black; PADDING-TOP: 1em; BORDER-BOTTOM: black 1pt dashed; WHITE-SPACE: pre
}
TABLE.listing {
	BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-BOTTOM: black 1pt solid; BORDER-COLLAPSE: collapse
}
TABLE.listing TD {
	BORDER-RIGHT: black 1pt solid; BORDER-TOP: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-BOTTOM: black 1pt solid; BORDER-COLLAPSE: collapse
}
A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; COLOR: black! important; PADDING-TOP: 0px! important
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
#content A.text:unknown {
	content: " (" attr(href) ") "
}
#content A.autonumber:unknown {
	content: " (" attr(href) ") "
}
#globalWrapper {
	WIDTH: 100%! important; min-width: 0
}
#content {
	BACKGROUND: white; COLOR: black
}
#column-content {
	MARGIN: 0px
}
#column-content #content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
A {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.external {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.new {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A.stub {
	COLOR: black! important; TEXT-DECORATION: none! important
}
A {
	
}
A.external {
	
}
A.new {
	
}
A.stub {
	
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
#siteNotice {
	DISPLAY: none
}
TABLE.gallery {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: white
}
TABLE.gallery TR {
	VERTICAL-ALIGN: top
}
TABLE.gallery TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
DIV.gallerybox {
	MARGIN: 2px
}
DIV.gallerybox DIV.thumb {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
DIV.gallerytext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px
}
TABLE.diff {
	BACKGROUND: white
}
TD.diff-otitle {
	BACKGROUND: #ffffff
}
TD.diff-ntitle {
	BACKGROUND: #ffffff
}
TD.diff-addedline {
	BORDER-RIGHT: black 2px solid; BORDER-TOP: black 2px solid; FONT-SIZE: smaller; BACKGROUND: #ccffcc; BORDER-LEFT: black 2px solid; BORDER-BOTTOM: black 2px solid
}
TD.diff-deletedline {
	BORDER-RIGHT: black 2px dotted; BORDER-TOP: black 2px dotted; FONT-SIZE: smaller; BACKGROUND: #ffffaa; BORDER-LEFT: black 2px dotted; BORDER-BOTTOM: black 2px dotted
}
TD.diff-context {
	FONT-SIZE: smaller; BACKGROUND: #eeeeee
}
.diffchange {
	FONT-WEIGHT: bold; COLOR: silver; TEXT-DECORATION: underline
}
TABLE.wikitable {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: white; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; BORDER-COLLAPSE: collapse
}
.wikitable TH {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TD {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TH {
	FONT-WEIGHT: bold; BACKGROUND: white; TEXT-ALIGN: center
}
.wikitable CAPTION {
	FONT-WEIGHT: bold
}
A.sortheader {
	MARGIN: 0px 0.3em
}
.wikitable {
	page-break-inside: avoid
}
.thumb {
	page-break-inside: avoid
}
IMG {
	page-break-inside: avoid
}
H2 {
	
}
H3 {
	
}
H4 {
	
}
H5 {
	
}
H6 {
	
}
h7 {
	
}
P {
	widows: 3; orphans: 3
}

}

@media Screen    
{
.mw-plusminus-pos {
	COLOR: #006400
}
.mw-plusminus-neg {
	COLOR: #8b0000
}
.mw-plusminus-null {
	COLOR: #aaa
}
.allpagesredirect {
	FONT-STYLE: italic
}
.redirect-in-category {
	FONT-STYLE: italic
}
.watchlistredir {
	FONT-STYLE: italic
}
SPAN.comment {
	FONT-STYLE: italic
}
SPAN.changedby {
	FONT-SIZE: 95%
}
.texvc {
	DIRECTION: ltr; unicode-bidi: embed
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
.ontop#wikiPreview {
	MARGIN-BOTTOM: 1em
}
#editform {
	CLEAR: both
}
#toolbar {
	CLEAR: both
}
#wpTextbox1 {
	CLEAR: both
}
DIV#mw-js-message {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2.5%; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2.5%; PADDING-BOTTOM: 0.5em; MARGIN: 1em 5%; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.editsection {
	FLOAT: right; MARGIN-LEFT: 5px
}
H2#filehistory {
	CLEAR: both
}
TABLE.filehistory TH {
	VERTICAL-ALIGN: top
}
TABLE.filehistory TD {
	VERTICAL-ALIGN: top
}
TABLE.filehistory TH {
	TEXT-ALIGN: left
}
TABLE.filehistory TD.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
TABLE.filehistory TH.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
TABLE.filehistory TD.filehistory-selected {
	FONT-WEIGHT: bold
}
LI SPAN.deleted {
	COLOR: #888; FONT-STYLE: italic; TEXT-DECORATION: line-through
}
SPAN.history-deleted {
	COLOR: #888; FONT-STYLE: italic; TEXT-DECORATION: line-through
}
.not-patrolled {
	BACKGROUND-COLOR: #ffa
}
.unpatrolled {
	FONT-WEIGHT: bold; COLOR: red
}
DIV.patrollink {
	FONT-SIZE: 75%; TEXT-ALIGN: right
}
TD.mw-label {
	TEXT-ALIGN: right
}
TD.mw-input {
	TEXT-ALIGN: left
}
TD.mw-submit {
	TEXT-ALIGN: left
}
TD.mw-label {
	VERTICAL-ALIGN: top
}
.prefsection TD.mw-label {
	WIDTH: 20%
}
.prefsection TABLE {
	WIDTH: 100%
}
TD.mw-submit {
	WHITE-SPACE: nowrap
}
TABLE.mw-htmlform-nolabel TD.mw-label {
	WIDTH: 0px! important
}
TR.mw-htmlform-vertical-label TD.mw-label {
	TEXT-ALIGN: left! important
}
INPUT#wpSummary {
	WIDTH: 80%
}
.thumbcaption {
	TEXT-ALIGN: left
}
.magnify {
	FLOAT: right
}
.mw-hidden-cats-hidden {
	DISPLAY: none
}
.catlinks-allhidden {
	DISPLAY: none
}
P.mw-ipb-conveniencelinks {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-protect-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-filedelete-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-delete-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-revdel-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
.searchresults {
	
}
.searchresults P {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.2em; MARGIN-LEFT: 0.4em
}
DIV.searchresult {
	FONT-SIZE: 95%; WIDTH: 38em
}
.mw-search-results {
	MARGIN-LEFT: 0.4em
}
.mw-search-results LI {
	LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 1em; LIST-STYLE-TYPE: none
}
.mw-search-results LI A {
	FONT-SIZE: 108%
}
.mw-search-result-data {
	FONT-SIZE: 97%; COLOR: green
}
.mw-search-formheader {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; MARGIN-TOP: 1em; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.mw-search-formheader DIV.search-types {
	PADDING-LEFT: 0.25em; FLOAT: left
}
.mw-search-formheader DIV.search-types UL {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important
}
.mw-search-formheader DIV.search-types UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mw-search-formheader DIV.search-types UL LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.mw-search-formheader DIV.search-types UL LI.current A {
	CURSOR: default; COLOR: #333333
}
.mw-search-formheader DIV.search-types UL LI.current A:hover {
	TEXT-DECORATION: none
}
.mw-search-formheader DIV.results-info {
	PADDING-RIGHT: 0.75em; PADDING-LEFT: 0.5em; FLOAT: right; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.mw-search-formheader DIV.results-info UL {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important
}
.mw-search-formheader DIV.results-info UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET#mw-searchoptions {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 0.75em! important; BORDER-TOP: silver 0px solid; PADDING-LEFT: 0.75em! important; PADDING-BOTTOM: 0.5em! important; MARGIN: 0px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0.5em! important; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f9f9f9
}
FIELDSET#mw-searchoptions LEGEND {
	DISPLAY: none
}
FIELDSET#mw-searchoptions H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox {
	FLOAT: right
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox LABEL {
	MARGIN-RIGHT: 0.25em
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox INPUT {
	MARGIN-LEFT: 0.25em
}
FIELDSET#mw-searchoptions TABLE {
	FLOAT: left; MARGIN-RIGHT: 3em
}
FIELDSET#mw-searchoptions TABLE TD {
	PADDING-RIGHT: 1em
}
FIELDSET#mw-searchoptions DIV.divider {
	CLEAR: both; MARGIN-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #dddddd 1px solid
}
TD#mw-search-menu {
	PADDING-LEFT: 6em; FONT-SIZE: 85%
}
DIV#mw-search-interwiki {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 2ex; FLOAT: right; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 18em; BORDER-BOTTOM: #aaaaaa 1px solid
}
DIV#mw-search-interwiki LI {
	FONT-SIZE: 95%
}
.mw-search-interwiki-more {
	FONT-SIZE: 90%; FLOAT: right
}
DIV#mw-search-interwiki-caption {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; TEXT-ALIGN: center
}
.mw-search-interwiki-project {
	PADDING-RIGHT: 0.15em; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 0.2em; FONT-SIZE: 97%; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.15em; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
SPAN.searchalttitle {
	FONT-SIZE: 95%
}
DIV.searchdidyoumean {
	MARGIN-TOP: 0.8em; FONT-SIZE: 127%; COLOR: #c00
}
DIV.searchdidyoumean EM {
	FONT-WEIGHT: bold
}
.searchmatch {
	FONT-WEIGHT: bold
}
TD#mw-search-togglebox {
	TEXT-ALIGN: right
}
TABLE#mw-search-powertable {
	WIDTH: 100%
}
FORM#powersearch {
	CLEAR: both
}
.mw-userrights-disabled {
	COLOR: #888
}
TABLE.mw-userrights-groups  TD {
	PADDING-RIGHT: 1.5em
}
TABLE.mw-userrights-groups  TH {
	PADDING-RIGHT: 1.5em
}
.os-suggest {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 95%; Z-INDEX: 99; LEFT: 0px; OVERFLOW-X: hidden; OVERFLOW: auto; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 0px; BORDER-BOTTOM: #aaaaaa 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: window
}
TABLE.os-suggest-results {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 95%; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; CURSOR: pointer; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.os-suggest-result {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: windowtext; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: window
}
.os-suggest-result-hl {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: windowtext; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: window
}
.os-suggest-result-hl {
	COLOR: white; BACKGROUND-COLOR: #4c59a6
}
.os-suggest-result-hl-webkit {
	COLOR: white; BACKGROUND-COLOR: #4c59a6
}
.os-suggest-result-hl {
	COLOR: highlighttext; BACKGROUND-COLOR: highlight
}
.os-suggest-toggle {
	FONT-SIZE: 65%; LEFT: 1ex; POSITION: relative
}
.os-suggest-toggle-def {
	FONT-SIZE: 65%; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
.autocomment {
	COLOR: gray
}
#pagehistory .history-user {
	MARGIN-LEFT: 0.4em; MARGIN-RIGHT: 0.2em
}
#pagehistory SPAN.minor {
	FONT-WEIGHT: bold
}
#pagehistory LI {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#pagehistory LI.selected {
	BORDER-RIGHT: #aaa 1px dashed; BORDER-TOP: #aaa 1px dashed; BORDER-LEFT: #aaa 1px dashed; BORDER-BOTTOM: #aaa 1px dashed; BACKGROUND-COLOR: #f9f9f9
}
.newpage {
	FONT-WEIGHT: bold
}
.minor {
	FONT-WEIGHT: bold
}
.bot {
	FONT-WEIGHT: bold
}
.mw-uctop {
	FONT-WEIGHT: bold
}
TABLE.mw-listgrouprights-table TR {
	VERTICAL-ALIGN: top
}
.listgrouprights-revoked {
	TEXT-DECORATION: line-through
}
TD.mw-statistics-numbers {
	TEXT-ALIGN: right
}
H4.mw-specialpagesgroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0.3em 0em 0em; PADDING-TOP: 2px; BACKGROUND-COLOR: #dcdcdc
}
.mw-specialpagerestricted {
	FONT-WEIGHT: bold
}
#shared-image-dup {
	FONT-STYLE: italic
}
#shared-image-conflict {
	FONT-STYLE: italic
}
TABLE.mw-emailuser-table {
	WIDTH: 98%
}
TD#mw-emailuser-sender {
	FONT-WEIGHT: bold
}
TD#mw-emailuser-recipient {
	FONT-WEIGHT: bold
}
TABLE.mw-allpages-table-form {
	WIDTH: 100%
}
TABLE.mw-allpages-table-chunk {
	WIDTH: 100%
}
TD.mw-allpages-alphaindexline {
	TEXT-ALIGN: right
}
TD.mw-allpages-nav {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; TEXT-ALIGN: right
}
P.mw-allpages-nav {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; TEXT-ALIGN: right
}
TABLE.mw-allpages-table-form TR {
	VERTICAL-ALIGN: top
}
TABLE#mw-prefixindex-list-table {
	WIDTH: 98%
}
TABLE#mw-prefixindex-nav-table {
	WIDTH: 98%
}
TD#mw-prefixindex-nav-form {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
DIV.mw-warning-with-logexcerpt {
	CLEAR: both; BORDER-RIGHT: #2f6fab 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2f6fab 2px solid; PADDING-LEFT: 3px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #2f6fab 2px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2f6fab 2px solid
}
DIV.mw-warning-with-logexcerpt UL LI {
	FONT-SIZE: 90%
}
SPAN.mw-revdelundel-link {
	FONT-SIZE: 90%
}
STRONG.mw-revdelundel-link {
	FONT-SIZE: 90%
}
SPAN.mw-revdelundel-hidden {
	VISIBILITY: hidden
}
INPUT.mw-revdelundel-hidden {
	VISIBILITY: hidden
}
TD.mw-revdel-checkbox {
	PADDING-RIGHT: 10px; TEXT-ALIGN: center
}
TH.mw-revdel-checkbox {
	PADDING-RIGHT: 10px; TEXT-ALIGN: center
}
A.feedlink {
	PADDING-LEFT: 16px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/common/images/feed-icon.png?2011-02-12T21:25:00Z) no-repeat left center
}
.plainlinks A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
TABLE.wikitable {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaa 1px solid; COLOR: black; BORDER-BOTTOM: #aaa 1px solid; BORDER-COLLAPSE: collapse
}
.wikitable TH {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TD {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
.wikitable CAPTION {
	FONT-WEIGHT: bold
}
TABLE.collapsed TR.collapsable {
	DISPLAY: none
}
.success {
	FONT-SIZE: larger; COLOR: green
}
.error {
	FONT-SIZE: larger; COLOR: red
}
.errorbox {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: 2px solid; PADDING-LEFT: 1em; FONT-SIZE: larger; FLOAT: left; MARGIN-BOTTOM: 2em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: 2px solid; COLOR: #000; PADDING-TOP: 0.5em; BORDER-BOTTOM: 2px solid
}
.successbox {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: 2px solid; PADDING-LEFT: 1em; FONT-SIZE: larger; FLOAT: left; MARGIN-BOTTOM: 2em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: 2px solid; COLOR: #000; PADDING-TOP: 0.5em; BORDER-BOTTOM: 2px solid
}
.errorbox {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: #fff2f2; BORDER-RIGHT-COLOR: red
}
.successbox {
	BORDER-LEFT-COLOR: green; BORDER-BOTTOM-COLOR: green; BORDER-TOP-COLOR: green; BACKGROUND-COLOR: #dfd; BORDER-RIGHT-COLOR: green
}
.errorbox H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0px 0.5em 0px 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.successbox H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0px 0.5em 0px 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.previewnote {
	MARGIN-BOTTOM: 1em; COLOR: #c00
}
.previewnote P {
	MARGIN: 0.8em 0px; TEXT-INDENT: 3em
}
.visualClear {
	CLEAR: both
}
#mw_trackbacks {
	BORDER-RIGHT: #bbbbff 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #bbbbff 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #bbbbff 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #bbbbff 1px solid; BACKGROUND-COLOR: #eeeeff
}
.TablePager {
	BORDER-COLLAPSE: collapse; min-width: 80%
}
.TablePager_nav A {
	TEXT-DECORATION: none
}
.TablePager {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TH {
	BACKGROUND-COLOR: #eeeeff
}
.TablePager TD {
	BACKGROUND-COLOR: #ffffff
}
.TablePager TR:hover TD {
	BACKGROUND-COLOR: #eeeeff
}
.imagelist TD {
	WHITE-SPACE: nowrap
}
.imagelist TH {
	WHITE-SPACE: nowrap
}
.imagelist .TablePager_col_links {
	BACKGROUND-COLOR: #eeeeff
}
.imagelist .TablePager_col_img_description {
	WHITE-SPACE: normal
}
.imagelist TH.TablePager_sort {
	BACKGROUND-COLOR: #ccccff
}
#mw-allmessagestable .allmessages-customised TD.am_default {
	BACKGROUND-COLOR: #fcffc4
}
#mw-allmessagestable TR.allmessages-customised:hover TD.am_default {
	BACKGROUND-COLOR: #faff90
}
#mw-allmessagestable TD.am_actual {
	BACKGROUND-COLOR: #e2ffe2
}
UNKNOWN {
	BACKGROUND-COLOR: #b1ffb1
}
UL#filetoc {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; BORDER-LEFT: #aaaaaa 1px solid; MARGIN-RIGHT: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
#filetoc LI {
	PADDING-RIGHT: 2em; DISPLAY: inline; LIST-STYLE-TYPE: none
}
TABLE.mw_metadata {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 0.5em; WIDTH: 300px
}
TABLE.mw_metadata CAPTION {
	FONT-WEIGHT: bold
}
TABLE.mw_metadata TH {
	FONT-WEIGHT: normal
}
TABLE.mw_metadata TD {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em
}
TABLE.mw_metadata {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: none
}
TABLE.mw_metadata TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
TABLE.mw_metadata TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
TABLE.mw_metadata TH {
	BACKGROUND-COLOR: #f9f9f9
}
TABLE.mw_metadata TD {
	BACKGROUND-COLOR: #fcfcfc
}
LI.gallerybox {
	BORDER-RIGHT: white 2px solid; BORDER-TOP: white 2px solid; VERTICAL-ALIGN: top; BORDER-LEFT: white 2px solid; BORDER-BOTTOM: white 2px solid; BACKGROUND-COLOR: #f9f9f9
}
UL.gallery {
	DISPLAY: inline; ZOOM: 1
}
LI.gallerybox {
	DISPLAY: inline; ZOOM: 1
}
UL.gallery {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: white
}
LI.gallerycaption {
	DISPLAY: block; FONT-WEIGHT: bold; TEXT-ALIGN: center; WORD-WRAP: break-word
}
LI.gallerybox DIV.thumb {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
DIV.gallerytext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px; WORD-WRAP: break-word
}
TABLE.mw-enhanced-rc {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0
}
TD.mw-enhanced-rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; FONT-FAMILY: monospace; WHITE-SPACE: nowrap
}
#mw-addcategory-prompt {
	DISPLAY: inline; MARGIN-LEFT: 1em
}
#mw-addcategory-prompt INPUT {
	MARGIN-LEFT: 0.5em; MARGIN-RIGHT: 0.5em
}
.mw-remove-category {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: center center; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/remove.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat
}
.mw-ajax-addcategory {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/add.png?2011-02-12T21:25:00Z); BACKGROUND-REPEAT: no-repeat
}
.mw-ajax-loader {
	PADDING-RIGHT: 16px; BACKGROUND-POSITION: center center; PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/ajax-loader.gif?2011-02-12T21:25:00Z); PADDING-BOTTOM: 16px; PADDING-TOP: 16px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: -16px
}
.mw-small-spinner {
	PADDING-RIGHT: 10px! important; BACKGROUND-POSITION: center center; PADDING-LEFT: 10px! important; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/spinner.gif?2011-02-12T21:25:00Z); PADDING-BOTTOM: 10px! important; MARGIN-RIGHT: 0.6em; PADDING-TOP: 10px! important; BACKGROUND-REPEAT: no-repeat
}
A.sortheader {
	MARGIN: 0px 0.3em
}
UNKNOWN {
	
}
UNKNOWN {
	
}
UNKNOWN {
	
}
UNKNOWN {
	
}
.mw-help-field-hint {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left center; DISPLAY: none; PADDING-LEFT: 15px; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/help-question.gif?2011-02-12T21:25:00Z); MARGIN-BOTTOM: -8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2px; CURSOR: pointer; COLOR: #0645ad; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: underline
}
.mw-help-field-hint:hover {
	BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/common/images/help-question-hover.gif?2011-02-12T21:25:00Z)
}
.mw-help-field-data {
	BORDER-RIGHT: #5dc9f4 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #5dc9f4 1px solid; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 20px; BORDER-LEFT: #5dc9f4 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #5dc9f4 1px solid; BACKGROUND-COLOR: #d6f3ff
}
.tipsy {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; Z-INDEX: 100000; PADDING-BOTTOM: 10px; OVERFLOW: visible; PADDING-TOP: 5px; POSITION: absolute
}
.tipsy-inner {
	BORDER-RIGHT: #5dc9f4 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #5dc9f4 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; BORDER-LEFT: #5dc9f4 1px solid; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: #5dc9f4 1px solid; BACKGROUND-COLOR: #d6f3ff; TEXT-ALIGN: left; max-width: 300px
}
.tipsy-arrow {
	BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/common/images/tipsy-arrow.gif?2011-02-12T21:25:00Z) no-repeat left top; WIDTH: 13px; POSITION: absolute; HEIGHT: 13px
}
.tipsy-se .tipsy-arrow {
	BACKGROUND-POSITION: 0% 100%; RIGHT: 10px; BOTTOM: -2px
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: sans-serif; HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: sans-serif; HEIGHT: 100%
}
BODY {
	BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/page-base.png?2011-02-12T21:25:00Z); BACKGROUND-COLOR: #f3f3f3
}
DIV#content {
	PADDING-RIGHT: 1em; BACKGROUND-POSITION: left top; PADDING-LEFT: 1em; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/border.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 1em; MARGIN-LEFT: 10em; COLOR: black; DIRECTION: ltr; PADDING-TOP: 1em; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: white
}
#mw-page-base {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/page-fade.png?2011-02-12T21:25:00Z); BACKGROUND-REPEAT: repeat-x; HEIGHT: 5em; BACKGROUND-COLOR: white
}
#mw-head-base {
	BACKGROUND-POSITION: left bottom; MARGIN-TOP: -5em; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/border.png?2011-02-12T21:25:00Z); MARGIN-LEFT: 10em; BACKGROUND-REPEAT: repeat-x; HEIGHT: 5em
}
DIV#mw-head {
	RIGHT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px
}
DIV#mw-head H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.emptyPortlet {
	DISPLAY: none
}
#p-personal {
	RIGHT: 0.75em; POSITION: absolute; TOP: 0px
}
#p-personal H5 {
	DISPLAY: none
}
#p-personal UL {
	PADDING-LEFT: 10em; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#p-personal LI {
	FLOAT: left; LINE-HEIGHT: 1.12em
}
#p-personal LI {
	MARGIN-TOP: 0.5em; FONT-SIZE: 0.75em; MARGIN-LEFT: 0.75em; WHITE-SPACE: nowrap
}
#left-navigation {
	LEFT: 10em; POSITION: absolute; TOP: 2.5em
}
#right-navigation {
	MARGIN-TOP: 2.5em; FLOAT: right
}
DIV.vectorTabs H5 {
	DISPLAY: none
}
DIV.vectorMenu H5 SPAN {
	DISPLAY: none
}
DIV.vectorTabs {
	FLOAT: left; HEIGHT: 2.5em
}
DIV.vectorTabs {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 1px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-break.png?2011-02-12T21:25:00Z); BACKGROUND-REPEAT: no-repeat
}
DIV.vectorTabs UL {
	FLOAT: left
}
DIV.vectorTabs UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 100%
}
DIV.vectorTabs UL LI {
	FLOAT: left
}
DIV.vectorTabs UL LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-normal-fade.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.12em; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 100%; BACKGROUND-COLOR: #f3f3f3
}
UNKNOWN {
	DISPLAY: block
}
DIV.vectorTabs LI.selected {
	BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-current-fade.png?2011-02-12T21:25:00Z)
}
DIV.vectorTabs LI A {
	PADDING-RIGHT: 0.5em; BACKGROUND-POSITION: right bottom; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-break.png?2011-02-12T21:25:00Z); CURSOR: pointer; COLOR: #0645ad; BACKGROUND-REPEAT: no-repeat; HEIGHT: 1.9em
}
UNKNOWN {
	DISPLAY: block
}
DIV.vectorTabs SPAN A {
	DISPLAY: inline-block; PADDING-TOP: 1.25em
}
UNKNOWN {
	DISPLAY: block; FLOAT: left
}
DIV.vectorTabs LI.selected A {
	COLOR: #333333; TEXT-DECORATION: none
}
DIV.vectorTabs LI.selected A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
DIV.vectorTabs LI.new A {
	COLOR: #a55858
}
DIV.vectorTabs LI.new A:visited {
	COLOR: #a55858
}
DIV.vectorMenu {
	BACKGROUND-POSITION: 100% 60%; FLOAT: left; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/arrow-down-icon.png?2011-02-12T21:25:00Z); CURSOR: pointer; DIRECTION: ltr; BACKGROUND-REPEAT: no-repeat
}
BODY.rtl DIV.vectorMenu {
	DIRECTION: rtl
}
DIV#mw-head DIV.vectorMenu H5 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-break.png?2011-02-12T21:25:00Z); BACKGROUND-REPEAT: no-repeat
}
DIV#mw-head DIV.vectorMenu H5 {
	BACKGROUND-POSITION: left bottom; MARGIN-LEFT: -1px
}
UNKNOWN {
	BACKGROUND-IMAGE: none
}
DIV#mw-head DIV.vectorMenu H4 {
	DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 0.8em; FLOAT: left; BORDER-TOP-STYLE: none; PADDING-TOP: 1.37em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.vectorMenu H5 A {
	DISPLAY: inline-block; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-break.png?2011-02-12T21:25:00Z); WIDTH: 24px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 2.5em; TEXT-DECORATION: none
}
DIV.vectorMenu H5 A {
	BACKGROUND-POSITION: right bottom
}
UNKNOWN {
	DISPLAY: block
}
DIV.vectorMenu DIV.menu {
	CLEAR: both; DISPLAY: none; POSITION: relative; TEXT-ALIGN: left
}
BODY.rtl DIV.vectorMenu DIV.menu {
	MARGIN-LEFT: 24px
}
UNKNOWN {
	MARGIN-LEFT: auto
}
UNKNOWN {
	MARGIN-LEFT: 23px
}
DIV.vectorMenu:hover DIV.menu {
	DISPLAY: block
}
DIV.vectorMenu UL {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: silver 0px solid; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: silver 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
UNKNOWN {
	min-width: 5em
}
UNKNOWN {
	min-width: 0
}
DIV.vectorMenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.vectorMenu LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0.5em; CURSOR: pointer; COLOR: #0645ad; PADDING-TOP: 0.5em; WHITE-SPACE: nowrap
}
UNKNOWN {
	DISPLAY: block
}
DIV.vectorMenu LI.selected A {
	COLOR: #333333; TEXT-DECORATION: none
}
DIV.vectorMenu LI.selected A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
#p-search H5 {
	DISPLAY: none
}
#p-search {
	FLOAT: left
}
#p-search {
	MARGIN-LEFT: 0.5em; MARGIN-RIGHT: 0.5em
}
#p-search FORM {
	MARGIN: 0.4em 0px 0px
}
#p-search INPUT {
	MARGIN: 0.4em 0px 0px
}
DIV#simpleSearch {
	BORDER-RIGHT: #aaaaaa 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 0.65em; DISPLAY: block; MIN-HEIGHT: 1px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/search-fade.png?2011-02-12T21:25:00Z); BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 14em; COLOR: black; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 1.4em; BACKGROUND-COLOR: white
}
DIV#simpleSearch LABEL {
	FONT-SIZE: 13px; DIRECTION: ltr; TOP: 0.25em
}
DIV#simpleSearch INPUT {
	COLOR: black; DIRECTION: ltr
}
DIV#simpleSearch INPUT:unknown {
	outline: none
}
DIV#simpleSearch INPUT.placeholder {
	COLOR: #999999
}
UNKNOWN {
	COLOR: #999999
}
DIV#simpleSearch INPUT#searchInput {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.2em; FONT-SIZE: 13px; LEFT: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 0px; WIDTH: 90%; DIRECTION: ltr; BORDER-TOP-STYLE: none; PADDING-TOP: 0.2em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none; outline: none
}
DIV#simpleSearch BUTTON#searchButton {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0px; RIGHT: 0px; PADDING-BOTTOM: 0.2em; MARGIN: 0px; WIDTH: 10%; CURSOR: pointer; BORDER-TOP-STYLE: none; PADDING-TOP: 0.2em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
DIV#simpleSearch BUTTON#searchButton IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -3px 0px 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	MARGIN: 0px
}
DIV#mw-panel {
	LEFT: 0px; WIDTH: 10em; PADDING-TOP: 1em; POSITION: absolute; TOP: 160px
}
DIV#mw-panel DIV.portal {
	PADDING-BOTTOM: 1.5em; DIRECTION: ltr
}
DIV#mw-panel DIV.portal H5 {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 1.75em; FONT-WEIGHT: normal; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0.25em; CURSOR: default; COLOR: #444444; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV#mw-panel DIV.portal DIV.body {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/portal-break.png?2011-02-12T21:25:00Z); MARGIN: 0px 0px 0px 1.25em; PADDING-TOP: 0.5em; BACKGROUND-REPEAT: no-repeat
}
DIV#mw-panel DIV.portal DIV.body UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#mw-panel DIV.portal DIV.body UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.12em; PADDING-TOP: 0px
}
DIV#mw-panel DIV.portal DIV.body UL LI A {
	COLOR: #0645ad
}
DIV#mw-panel DIV.portal DIV.body UL LI A:visited {
	COLOR: #0b0080
}
DIV#footer {
	PADDING-RIGHT: 0.75em; BACKGROUND-POSITION: left top; MARGIN-TOP: 0px; PADDING-LEFT: 0.75em; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/border.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0.75em; MARGIN-LEFT: 10em; DIRECTION: ltr; PADDING-TOP: 0.75em; BACKGROUND-REPEAT: repeat-x
}
DIV#footer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#footer UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 0.5em; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0.5em
}
DIV#footer #footer-icons {
	FLOAT: right
}
BODY.ltr DIV#footer #footer-places {
	FLOAT: left
}
DIV#footer #footer-info LI {
	LINE-HEIGHT: 1.4em
}
DIV#footer #footer-icons LI {
	FLOAT: left; MARGIN-LEFT: 0.5em; LINE-HEIGHT: 2em
}
DIV#footer #footer-places LI {
	FLOAT: left; LINE-HEIGHT: 2em; MARGIN-RIGHT: 1em
}
#p-logo {
	LEFT: 0px; WIDTH: 10em; POSITION: absolute; TOP: -160px; HEIGHT: 160px
}
#p-logo A {
	BACKGROUND-POSITION: center center; DISPLAY: block; WIDTH: 10em; BACKGROUND-REPEAT: no-repeat; HEIGHT: 160px; TEXT-DECORATION: none
}
#preftoc {
	CLEAR: both; PADDING-RIGHT: 0px! important; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px! important; FLOAT: left; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/preferences-break.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0px! important; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px! important; BACKGROUND-REPEAT: no-repeat
}
#preftoc LI {
	PADDING-RIGHT: 1px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/preferences-break.png?2011-02-12T21:25:00Z); LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; HEIGHT: 2.25em
}
#preftoc LI:unknown {
	MARGIN-LEFT: 1px
}
#preftoc A {
	PADDING-RIGHT: 0.5em; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0.5em; COLOR: #0645ad; PADDING-TOP: 0.5em; POSITION: relative; TEXT-DECORATION: none
}
#preftoc A:active {
	PADDING-RIGHT: 0.5em; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0.5em; COLOR: #0645ad; PADDING-TOP: 0.5em; POSITION: relative; TEXT-DECORATION: none
}
#preftoc A:hover {
	TEXT-DECORATION: underline
}
#preftoc A:unknown {
	TEXT-DECORATION: underline
}
#preftoc LI.selected A {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/preferences-fade.png?2011-02-12T21:25:00Z); COLOR: #333333; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none
}
#preferences {
	CLEAR: both; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/preferences-base.png?2011-02-12T21:25:00Z); MARGIN: -2px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#preferences FIELDSET.prefsection {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#preferences FIELDSET.prefsection FIELDSET {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#preferences LEGEND {
	COLOR: #666666
}
#preferences FIELDSET.prefsection LEGEND.mainLegend {
	DISPLAY: none
}
#preferences TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em
}
#preferences TD.htmlform-tip {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; FONT-SIZE: x-small; PADDING-BOTTOM: 0.2em; COLOR: #666666; PADDING-TOP: 0.2em
}
#preferences DIV.mw-prefs-buttons {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#preferences DIV.mw-prefs-buttons INPUT {
	MARGIN-RIGHT: 0.25em
}
#userlogin {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1.2em; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1.2em; FLOAT: left; PADDING-BOTTOM: 1.2em; MARGIN: 0.5em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1.2em; BORDER-BOTTOM: #cccccc 1px solid
}
#userloginForm {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1.2em; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1.2em; FLOAT: left; PADDING-BOTTOM: 1.2em; MARGIN: 0.5em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1.2em; BORDER-BOTTOM: #cccccc 1px solid
}
#userlogin {
	WIDTH: 40em; min-width: 20em; max-width: 90%
}
DIV#content {
	LINE-HEIGHT: 1.5em
}
#bodyContent {
	FONT-SIZE: 0.8em
}
A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #0645ad; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0b0080
}
A:active {
	COLOR: #faa700
}
A:hover {
	TEXT-DECORATION: underline
}
A:unknown {
	TEXT-DECORATION: underline
}
A.stub {
	COLOR: #772233
}
A.new {
	COLOR: #ba0000
}
#p-personal A.new {
	COLOR: #ba0000
}
A.new:visited {
	COLOR: #a55858
}
#p-personal A.new:visited {
	COLOR: #a55858
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0.2em 0px; COLOR: #aaa; HEIGHT: 1px; BACKGROUND-COLOR: #aaa; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H2 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H3 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H4 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H5 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H6 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.17em; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #aaa 1px solid
}
H1 {
	FONT-SIZE: 188%
}
H1 .editsection {
	FONT-SIZE: 53%
}
H2 {
	FONT-SIZE: 150%
}
H2 .editsection {
	FONT-SIZE: 67%
}
H3 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
H4 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
H5 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
H6 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
H3 {
	FONT-SIZE: 132%
}
H3 .editsection {
	FONT-WEIGHT: normal; FONT-SIZE: 76%
}
H4 {
	FONT-SIZE: 116%
}
H4 .editsection {
	FONT-WEIGHT: normal; FONT-SIZE: 86%
}
H5 {
	FONT-SIZE: 100%
}
H5 .editsection {
	FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 80%
}
H6 .editsection {
	FONT-WEIGHT: normal; FONT-SIZE: 125%
}
.editsection {
	FLOAT: right
}
P {
	MARGIN: 0.4em 0px 0.5em; LINE-HEIGHT: 1.5em
}
P IMG {
	MARGIN: 0px
}
abbr {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted
}
ACRONYM {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted
}
.explain {
	BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted
}
Q {
	FONT-STYLE: italic; FONT-FAMILY: Times,"Times New Roman",serif
}
PRE {
	FONT-FAMILY: monospace,"Courier New"
}
CODE {
	FONT-FAMILY: monospace,"Courier New"
}
TT {
	FONT-FAMILY: monospace,"Courier New"
}
KBD {
	FONT-FAMILY: monospace,"Courier New"
}
SAMP {
	FONT-FAMILY: monospace,"Courier New"
}
CODE {
	BACKGROUND-COLOR: #f9f9f9
}
PRE {
	BORDER-RIGHT: #2f6fab 1px dashed; PADDING-RIGHT: 1em; BORDER-TOP: #2f6fab 1px dashed; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #2f6fab 1px dashed; COLOR: black; LINE-HEIGHT: 1.1em; PADDING-TOP: 1em; BORDER-BOTTOM: #2f6fab 1px dashed; BACKGROUND-COLOR: #f9f9f9
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/bullet-icon.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0px 1.5em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0px 3.2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
LI {
	MARGIN-BOTTOM: 0.1em
}
DT {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.1em
}
DL {
	MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.5em
}
DD {
	MARGIN-BOTTOM: 0.1em; MARGIN-LEFT: 2em; LINE-HEIGHT: 1.5em
}
TABLE {
	FONT-SIZE: 100%
}
FIELDSET {
	BORDER-RIGHT: #2f6fab 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #2f6fab 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 1em 0px; BORDER-LEFT: #2f6fab 1px solid; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; BORDER-BOTTOM: #2f6fab 1px solid
}
FIELDSET.nested {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 95%; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
FORM {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TEXTAREA {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; WIDTH: 100%; PADDING-TOP: 0.1em
}
SELECT {
	VERTICAL-ALIGN: top
}
#toc {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.toc {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.mw-warning {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#toc H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.toc H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#toc #toctitle {
	TEXT-ALIGN: center
}
.toc #toctitle {
	TEXT-ALIGN: center
}
#toc .toctitle {
	TEXT-ALIGN: center
}
.toc .toctitle {
	TEXT-ALIGN: center
}
#toc UL {
	PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.toc UL {
	PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
#toc UL UL {
	MARGIN: 0px 0px 0px 2em
}
.toc UL UL {
	MARGIN: 0px 0px 0px 2em
}
#toc .toctoggle {
	FONT-SIZE: 94%
}
.toc .toctoggle {
	FONT-SIZE: 94%
}
DIV.floatright {
	BORDER-TOP-WIDTH: 0px; CLEAR: right; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px 0.5em 0.5em; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
TABLE.floatright {
	BORDER-TOP-WIDTH: 0px; CLEAR: right; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px 0.5em 0.5em; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
DIV.floatright P {
	FONT-STYLE: italic
}
DIV.floatleft {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0.5em 0.5em 0px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
TABLE.floatleft {
	BORDER-TOP-WIDTH: 0px; CLEAR: left; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0.5em 0.5em 0px; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
DIV.floatleft P {
	FONT-STYLE: italic
}
DIV.thumb {
	MARGIN-BOTTOM: 0.5em; WIDTH: auto; BACKGROUND-COLOR: transparent
}
DIV.thumbinner {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px! important; FONT-SIZE: 94%; PADDING-BOTTOM: 3px! important; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px! important; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
HTML .thumbimage {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
HTML .thumbcaption {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 3px! important; FONT-SIZE: 94%; PADDING-BOTTOM: 3px! important; BORDER-TOP-STYLE: none; LINE-HEIGHT: 1.4em; PADDING-TOP: 3px! important; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
DIV.magnify {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
DIV.magnify A {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
DIV.magnify IMG {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
DIV.tright {
	CLEAR: right; FLOAT: right; MARGIN: 0.5em 0px 1.3em 1.4em
}
DIV.tleft {
	CLEAR: left; FLOAT: left; MARGIN: 0.5em 1.4em 1.3em 0px
}
IMG.thumbborder {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.hiddenStructure {
	DISPLAY: none
}
.mw-warning {
	MARGIN-LEFT: 50px; MARGIN-RIGHT: 50px; TEXT-ALIGN: center
}
.usermessage {
	BORDER-RIGHT: #ffa500 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ffa500 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.5em; MARGIN: 2em 0px 1em; VERTICAL-ALIGN: middle; BORDER-LEFT: #ffa500 1px solid; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ffa500 1px solid; BACKGROUND-COLOR: #ffce7b
}
#siteNotice {
	FONT-SIZE: 0.8em; MARGIN: 0px; POSITION: relative; TEXT-ALIGN: center
}
#localNotice {
	MARGIN-BOTTOM: 0.9em
}
.catlinks {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#siteSub {
	DISPLAY: none
}
#jump-to-nav {
	DISPLAY: none
}
#contentSub {
	FONT-SIZE: 84%; MARGIN: 0px 0px 1.4em 1em; WIDTH: auto; COLOR: #7d7d7d; LINE-HEIGHT: 1.2em
}
#contentSub2 {
	FONT-SIZE: 84%; MARGIN: 0px 0px 1.4em 1em; WIDTH: auto; COLOR: #7d7d7d; LINE-HEIGHT: 1.2em
}
SPAN.subpages {
	DISPLAY: block
}
.center {
	WIDTH: 100%; TEXT-ALIGN: center
}
.center  {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.small {
	FONT-SIZE: 94%
}
.small  {
	FONT-SIZE: 94%
}
TABLE.small {
	FONT-SIZE: 100%
}
H1 {
	MARGIN-BOTTOM: 0.6em
}
H2 {
	MARGIN-BOTTOM: 0.6em
}
H3 {
	MARGIN-BOTTOM: 0.3em
}
H4 {
	MARGIN-BOTTOM: 0.3em
}
H5 {
	MARGIN-BOTTOM: 0.3em
}
#firstHeading {
	MARGIN-TOP: 0px; FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0.1em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/external-link-ltr-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/lock-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/mail-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/news-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/file-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/talk-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/audio-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/video-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
UNKNOWN {
	PADDING-RIGHT: 13px; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/document-icon.png?2011-02-12T21:25:00Z) no-repeat right center
}
DIV#content A.extiw {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #36b; PADDING-TOP: 0px
}
DIV#content A.extiw:active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #36b; PADDING-TOP: 0px
}
DIV#content A.external {
	COLOR: #36b
}
DIV#content .printfooter {
	DISPLAY: none
}
#pt-userpage {
	PADDING-LEFT: 15px! important; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/user-icon.png?2011-02-12T21:25:00Z) no-repeat left top; TEXT-TRANSFORM: none
}
#pt-anonuserpage {
	PADDING-LEFT: 15px! important; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/user-icon.png?2011-02-12T21:25:00Z) no-repeat left top; TEXT-TRANSFORM: none
}
#pt-login {
	PADDING-LEFT: 15px! important; BACKGROUND: url(http://bits.wikimedia.org/skins-1.17/vector/images/user-icon.png?2011-02-12T21:25:00Z) no-repeat left top; TEXT-TRANSFORM: none
}
.toccolours {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#bodyContent {
	WIDTH: 100%; POSITION: relative
}
#mw-js-message {
	FONT-SIZE: 0.8em
}
DIV#bodyContent {
	LINE-HEIGHT: 1.5em
}
.icon#ca-unwatch {
	MARGIN-RIGHT: 1px
}
.icon#ca-watch {
	MARGIN-RIGHT: 1px
}
.icon#ca-unwatch A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/watch-icons.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0px; MARGIN: -0.8em 0px 0px; OVERFLOW: hidden; WIDTH: 26px; PADDING-TOP: 3.1em; HEIGHT: 0px; outline: none
}
.icon#ca-watch A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/watch-icons.png?2011-02-12T21:25:00Z); PADDING-BOTTOM: 0px; MARGIN: -0.8em 0px 0px; OVERFLOW: hidden; WIDTH: 26px; PADDING-TOP: 3.1em; HEIGHT: 0px; outline: none
}
.icon#ca-unwatch A {
	BACKGROUND-POSITION: -43px 60%
}
.icon#ca-watch A {
	BACKGROUND-POSITION: 5px 60%
}
.icon#ca-unwatch A:hover {
	BACKGROUND-POSITION: -67px 60%
}
.icon#ca-unwatch A:unknown {
	BACKGROUND-POSITION: -67px 60%
}
.icon#ca-watch A:hover {
	BACKGROUND-POSITION: -19px 60%
}
.icon#ca-watch A:unknown {
	BACKGROUND-POSITION: -19px 60%
}
.icon#ca-unwatch A.loading {
	BACKGROUND-POSITION: 5px 60%; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/watch-icon-loading.gif?2011-02-12T21:25:00Z)
}
.icon#ca-watch A.loading {
	BACKGROUND-POSITION: 5px 60%; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/watch-icon-loading.gif?2011-02-12T21:25:00Z)
}
.icon#ca-unwatch A SPAN {
	DISPLAY: none
}
.icon#ca-watch A SPAN {
	DISPLAY: none
}
DIV.vectorTabs UL {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(http://bits.wikimedia.org/skins-1.17/vector/images/tab-break.png?2011-02-12T21:25:00Z); BACKGROUND-REPEAT: no-repeat
}
P.mw-ipb-conveniencelinks {
	FLOAT: right
}
P.mw-protect-editreasons {
	FLOAT: right
}
P.mw-filedelete-editreasons {
	FLOAT: right
}
P.mw-delete-editreasons {
	FLOAT: right
}
.tipsy {
	FONT-SIZE: 0.8em
}

}
