<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="yu.css" rel="stylesheet" />

<title>卷首</title>
<style type="text/css">

</style>
</head>

<body>
<div class="container">
<p style="float:right;"><a href="content.html">目录</a>&nbsp;<a href="1.html">下一章</a></p>


<p><strong>卷首</strong></p>
<blockquote>
  <p align="left"><strong>小说被认为是一个民族的秘史。</strong>——巴尔扎克</p>
  <p align="left"> <span class="ping">【雷评：这句话出自巴尔扎克。陈忠实想借它表达什么？“秘史”之“秘”，无形无状，故隐藏颇深；“秘史”之“秘”，秘在内心，故含有心灵史、灵魂史、精神生活史之深义。我们的民族历史漫远，以小说状写历史之表象者多矣，而能达到秘史境界者却少之又少。《<a href="http://www.sbkk8.cn/mingzhu/bailuyuan/"><U>白鹿原</U></a>》堪称一部秘史，首先是家族秘史，而“家国一体”，家族史便纵深至民族史。<a href="http://www.sbkk8.cn/mingzhu/bailuyuan/"><U>白鹿原</U></a>乃十三朝古都周边之地，生成于此的白、鹿两家族，自然积淀了深厚的文化秘密。我今于十余年后重读《白鹿原》，依然触目惊心。卡尔维诺说，“经典”者，每重读必有初读般的新鲜感；而初读又有唤起珍贵记忆的重逢之感。我读《白鹿原》的感觉接近于此。】</span></p>
<p>
  </p>
</blockquote>
<p align="center"><strong>自选集序言（摘录） </strong></p>
<div>
  <div id="PageWidth">
    <div id="content">
      <div>
        <div id="content-text">
          <p>刚交上知天命的50岁时，写完了《白鹿原》。写完这部长篇，关于文学和创作的两层纸才捅透打破了，也发觉自己完全固执于独特体验的己见了。</p>
<p>
              </p>
<p>长篇《白鹿原》从发表到现在接近两年，我收到过数以千计的读者来信，许多信读罢常常使我陷入沉默无言只想喝酒。“我想写出这本书的人不累死也得吐血……不知你是否活着还能看到我的信么？”这是石家庄一位医生或护士写来的信中的一句话。我想借着这套选集出版作序的机缘，向这位读者和所有关心关注我的朋友致以真诚的谢意，我活得依然沉静如初，也还基本健康。</p>
<p>
            </p>
<p>
            　　
            1995.   3. 8.</p>
</p>
<p>
        </div>
      </div>
    </div>
  </div>
</div>
<p style="float:right;"><a href="content.html">目录</a>&nbsp;<a href="1.html">下一章</a></p>
</div>
</body>
</html>
