.container{
font-size:1.4em;
text-indent:2em;
margin:auto;
font-family:"mv boli","ו";
width:75.29%;
line-height:1.5em;
}
P{
margin:12px;
text-indent:2em;
clear:both;
}
.uls{
color:#CC6666;
font-weight:bold;
}
.uls>ol{
list-style:none;
font-weight:normal;
list-style:lower-latin;
color:#000000;
line-height:1.3em;

}
h2{
font-size:20px;
font-weight:bold;
margin-top:5px;
margin-bottom:-15px;
text-indent:0em;
}
img{
margin-right:5px;
}/* CSS Document */

