.enc-tip {
	RIGHT: 40px; VISIBILITY: hidden; WIDTH: 270px; POSITION: absolute; TOP: 40px
}
.enc-tip .close {
	RIGHT: 4px; BACKGROUND: url(http://img.baidu.com/img/baike/encourage/encourage.png) no-repeat 0px -57px; OVERFLOW: hidden; WIDTH: 13px; TEXT-INDENT: 3000px; POSITION: absolute; TOP: 6px; HEIGHT: 13px
}
.enc-tip .close:hover {
	BACKGROUND-POSITION: 0px -44px
}
.enc-wrap {
	BORDER-RIGHT: #bbe0f3 2px; BORDER-TOP: #bbe0f3 2px solid; BORDER-LEFT: #bbe0f3 2px; WIDTH: 100%; BORDER-BOTTOM: #bbe0f3 2px solid; webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px
}
.enc-content {
	BORDER-RIGHT: #bbe0f3 2px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 0px; MIN-HEIGHT: 60px; BACKGROUND: #fdfeff; PADDING-BOTTOM: 0px; MARGIN: 0px -1px; BORDER-LEFT: #bbe0f3 2px solid; PADDING-TOP: 10px; POSITION: relative; HEIGHT: 60px
}
.enc-content A {
	COLOR: #1190d1; TEXT-DECORATION: none
}
.enc-content .fl {
	FLOAT: left
}
.enc-content .fr {
	FLOAT: right; WIDTH: 204px
}
.enc-content .fl A {
	DISPLAY: inline-block; MARGIN: 0px 6px
}
.enc-content H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1190d1; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; HEIGHT: 20px
}
.enc-content .enc-txt {
	FONT-SIZE: 13px; LINE-HEIGHT: 22px; WORD-WRAP: break-word
}
.ctr {
	WIDTH: 16px; POSITION: absolute; TOP: 0px; HEIGHT: 16px
}
.tri {
	BORDER-RIGHT: transparent 8px dashed; BORDER-TOP: transparent 8px dashed; FONT-SIZE: 0px; OVERFLOW: hidden; BORDER-LEFT: transparent 8px dashed; WIDTH: 0px; BORDER-BOTTOM: #bbe0f3 8px solid; POSITION: absolute; HEIGHT: 0px
}
.ctr .out {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: #bbe0f3; BORDER-TOP-COLOR: transparent; TOP: -16px; BORDER-RIGHT-COLOR: transparent
}
.ctr .in {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: transparent; TOP: -13px; BORDER-RIGHT-COLOR: transparent
}
.enc-content .xiaohui {
	BACKGROUND: url(http://img.baidu.com/img/baike/encourage/encourage.png) no-repeat -18px 0px; FLOAT: right; MARGIN: 0px -26px 0px 0px; WIDTH: 62px; POSITION: relative; HEIGHT: 70px
}
.edit-success IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.progress-bar {
	BACKGROUND-IMAGE: url(http://img.baidu.com/img/baike/usercenter/task/progress-bar.png); OVERFLOW: hidden; LINE-HEIGHT: 13px; HEIGHT: 13px
}
.progress-bar .pl {
	BACKGROUND-IMAGE: url(http://img.baidu.com/img/baike/usercenter/task/progress-bar.png); OVERFLOW: hidden; LINE-HEIGHT: 13px; HEIGHT: 13px
}
.progress-bar .pr {
	BACKGROUND-IMAGE: url(http://img.baidu.com/img/baike/usercenter/task/progress-bar.png); OVERFLOW: hidden; LINE-HEIGHT: 13px; HEIGHT: 13px
}
.progress-bar .pb {
	BACKGROUND-IMAGE: url(http://img.baidu.com/img/baike/usercenter/task/progress-bar.png); OVERFLOW: hidden; LINE-HEIGHT: 13px; HEIGHT: 13px
}
.progress-bar .pl {
	BACKGROUND-POSITION: -126px 0px; WIDTH: 3px
}
.progress-bar .pr {
	BACKGROUND-POSITION: -129px 0px; WIDTH: 3px
}
.progress-bar .pb {
	BACKGROUND-POSITION: 0px -13px; max-width: 120px
}
.progress-bar {
	WIDTH: 126px; POSITION: relative
}
.process-inner {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
.process-inner SPAN {
	DISPLAY: inline-block
}
.process-text {
	COLOR: #fff; LINE-HEIGHT: 13px; POSITION: relative; TEXT-ALIGN: center
}
.message-board-box {
	RIGHT: 210px; MIN-HEIGHT: 30px; BACKGROUND: red; WIDTH: 150px; POSITION: fixed; TOP: 150px; HEIGHT: 30px
}
.btl-indicator {
	BORDER-RIGHT: #bbe0f3 0px solid; BORDER-TOP: #bbe0f3 2px solid; BORDER-LEFT: #bbe0f3 0px solid; WIDTH: 232px; BORDER-BOTTOM: #bbe0f3 2px solid; POSITION: relative; BACKGROUND-COLOR: white
}
#btl-indicator-content {
	BORDER-RIGHT: #bbe0f3 2px solid; BORDER-TOP: #bbe0f3 0px solid; MARGIN: 0px -1px; OVERFLOW: hidden; BORDER-LEFT: #bbe0f3 2px solid; BORDER-BOTTOM: #bbe0f3 0px solid; ZOOM: 1; POSITION: relative
}
#btl-indicator-content UL {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 10px; FONT-FAMILY: 'ו'; LIST-STYLE-TYPE: none
}
#btl-indicator-content UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; POSITION: relative
}
#btl-indicator-content UL LI .msg-content {
	PADDING-LEFT: 7px
}
#btl-indicator-content A {
	COLOR: #1190d1; TEXT-DECORATION: underline
}
#btl-indicator-content A:hover {
	COLOR: #1190d1; TEXT-DECORATION: underline
}
.dot {
	DISPLAY: inline-block; MARGIN: 0px 5px 5px 0px; OVERFLOW: hidden; WIDTH: 3px; POSITION: absolute; TOP: 6px; HEIGHT: 3px; BACKGROUND-COLOR: #bcbcbc
}
.red {
	COLOR: red
}
.btl-indicator A.close {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; RIGHT: 5px; OVERFLOW: hidden; WIDTH: 13px; COLOR: #1190d1; FONT-FAMILY: 'ו'; POSITION: absolute; TOP: 3px; HEIGHT: 13px; TEXT-DECORATION: none
}
.btl-indicator A.close:hover {
	COLOR: red
}
.float-board {
	RIGHT: 30px; POSITION: absolute; TOP: 30px
}
.tip-block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.tip-content {
	BORDER-RIGHT: #ffd4ad 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ffd4ad 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffd4ad 1px solid; LINE-HEIGHT: 22px; PADDING-TOP: 9px; BORDER-BOTTOM: #ffd4ad 1px solid; BACKGROUND-COLOR: #fff7f0
}
.tip-content-header {
	DISPLAY: block; MARGIN-BOTTOM: 6px; BORDER-BOTTOM: #9f9f9f 1px dotted; HEIGHT: 25px
}
.tip-content-header SPAN {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left
}
.tip-content-header A:link {
	COLOR: #36c
}
.tip-content-header A:visited {
	COLOR: #36c
}
.tip-content-header A:hover {
	COLOR: #36c
}
.tip-link-right {
	DISPLAY: inline; PADDING-LEFT: 17px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/btl-info-icon.png) #fff7f0 no-repeat; FLOAT: right; OVERFLOW: hidden; LINE-HEIGHT: 18px
}
.tip-content-msg {
	DISPLAY: block; WIDTH: auto
}
.tip-content-msg .tip-msg-row {
	MARGIN: 2px 0px; WIDTH: auto; ZOOM: 1
}
.tip-content-msg .tip-msg-row:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; OVERFLOW: hidden; HEIGHT: 0px; content: 'clear'
}
.tip-msg-label {
	DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 80px
}
.tip-msg {
	DISPLAY: block; MARGIN-LEFT: 100px; WIDTH: auto; WORD-WRAP: break-word
}
.throw-btl-link {
	PADDING-LEFT: 10px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/btl-info-icon.png) no-repeat left -18px; MARGIN-LEFT: 5px
}
.tip-content-footer {
	BORDER-TOP: #9f9f9f 1px dotted; PADDING-TOP: 3px
}
.throwbtl-link-view {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/btl-info-icon.png) no-repeat left -20px; FLOAT: right; MARGIN-LEFT: 5px; LINE-HEIGHT: 15px
}
.lemma-top-link {
	MARGIN-TOP: 11px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: none; VERTICAL-ALIGN: middle; WIDTH: auto; LINE-HEIGHT: 15px; MARGIN-RIGHT: 8px; HEIGHT: 16px; TEXT-DECORATION: underline
}
.dividable-lemma {
	PADDING-LEFT: 17px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/dividable-lemma.png) no-repeat
}
.throwbtl-link-head {
	PADDING-LEFT: 10px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/btl-info-icon.png) no-repeat left -20px; MARGIN-RIGHT: 18px
}
.lemma-top-link-divider {
	DISPLAY: none; FLOAT: none; OVERFLOW: hidden; BORDER-LEFT: gray 1px dotted; WIDTH: 0px; HEIGHT: 13px
}
.edit-section-throwbtl-link {
	MARGIN-TOP: 6px; FLOAT: right; MARGIN-RIGHT: 3px
}
