.relation-create-lemma-color {
	COLOR: #c00
}
.relation-create-lemma-color:visited {
	COLOR: #c00
}
.lemma-relation-table {
	BORDER-RIGHT: #dceefc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #dceefc 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #dceefc 1px solid; LINE-HEIGHT: 28px; PADDING-TOP: 2px; BORDER-BOTTOM: #dceefc 1px solid
}
.lemma-relation-table .center {
	TEXT-ALIGN: center! important
}
.lemma-relation-table .center TH {
	TEXT-ALIGN: center! important
}
.lemma-relation-table .center TD {
	TEXT-ALIGN: center! important
}
.relation-table-banner {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/guanxi/static/image/relation_table_banner_view.png?@=1dxlxr5) repeat-x; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 30px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: center
}
.relation-table-banner H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.relation-table-banner H3 .table-title {
	COLOR: #000; TEXT-DECORATION: none
}
.relation-table-title {
	MARGIN: 0px auto; WIDTH: 500px; TEXT-ALIGN: center
}
.relation-table-title A.more {
	PADDING-LEFT: 0px
}
.relation-table-icon {
	MARGIN-TOP: 7px; BACKGROUND: url(/guanxi/static/image/rs-icon.png?@=1waujwe) no-repeat 0px 0px; FLOAT: left; WIDTH: 16px; HEIGHT: 16px
}
.relation-table-view-control {
	MARGIN-TOP: 5px; FLOAT: right; HEIGHT: 25px
}
.relation-control {
	BACKGROUND: url(/guanxi/static/image/relation_view_sprites.png?@=4fq7b2) no-repeat -90px -310px; FLOAT: left; MARGIN-LEFT: 3px; OVERFLOW: hidden; WIDTH: 21px; HEIGHT: 19px
}
.lemma-relation-table .relation-control-enter-edit {
	BACKGROUND: url(/guanxi/static/image/relation_view_sprites.png?@=4fq7b2) no-repeat -90px -310px; FLOAT: left; MARGIN-LEFT: 3px; OVERFLOW: hidden; WIDTH: 21px; HEIGHT: 19px
}
.lemma-relation-table .relation-control-enter-close {
	BACKGROUND-POSITION: -98px -361px
}
.lemma-relation-table .relation-control-enter-close:hover {
	BACKGROUND-POSITION: -98px -391px
}
.lemma-relation-table .relation-control-enter-open {
	BACKGROUND-POSITION: -119px -361px
}
.lemma-relation-table .relation-control-enter-open:hover {
	BACKGROUND-POSITION: -119px -391px
}
.relation-table-main {
	CLEAR: both; DISPLAY: block; COLOR: #666; POSITION: relative
}
.relation-table-main TABLE {
	WIDTH: 100%
}
.relation-table-main .hd {
	FONT-WEIGHT: bold; COLOR: #000
}
.relation-table-main TH {
	BACKGROUND: #e3f1fc; COLOR: #000
}
.relation-table-main A {
	TEXT-DECORATION: none
}
.relation-table-main A:hover {
	TEXT-DECORATION: underline
}
.relation-table-main TABLE TD.relation-table-inner-td {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.relation-table-main TABLE.relation-table-inner {
	MARGIN-TOP: 0px
}
.relation-table-main .title-banner {
	MARGIN-TOP: 2px; BACKGROUND: #d4e8fa; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center
}
.relation-table-main .remark-banner {
	MARGIN-TOP: 2px; BACKGROUND: #d4e8fa; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center
}
.relation-table-main .remark-banner {
	BACKGROUND: #e3f1fc
}
.relation-table-main .center {
	FONT-WEIGHT: bold; BACKGROUND: #d4e8fa
}
.relation-table-main .even {
	BACKGROUND: #f8f8f8
}
.relation-table-main .relation-unit {
	MARGIN-TOP: 2px
}
.relation-table-main .entries-box {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.relation-table-main STRONG {
	COLOR: #000
}
.lemma-relation-table .relation-table-view-control .relation-control-enter-open {
	DISPLAY: none
}
.lemma-relation-table-close .relation-table-view-control .relation-control-enter-close {
	DISPLAY: none
}
.lemma-relation-table-close .relation-table-main {
	DISPLAY: none
}
.relation-come-from {
	PADDING-RIGHT: 9px; FONT-SIZE: 12px; COLOR: #999; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: right
}
.lemma-relation-table .relation-split {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #999; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.lemma-relation-odd {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/guanxi/static/image/relation_view_odd.png?@=1kl4ggp) 0px 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.relation-table-outer {
	MARGIN-TOP: 2px
}
.relation-table-outer TH {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 2px
}
.relation-table-outer TD {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 2px
}
.embed-relation-tb {
	MARGIN-TOP: 2px; WIDTH: 100%
}
.embed-relation-tb .embed-relation-tb {
	MARGIN-TOP: 0px
}
.embed-relation-tb TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.embed-relation-tb TABLE TH {
	FONT-WEIGHT: normal
}
.embed-relation-tb TH {
	BORDER-TOP-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.embed-relation-tb TD {
	BORDER-TOP-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.embed-relation-tb TD TH {
	BACKGROUND: #f0f8ff
}
.tb-entries {
	WIDTH: 100%
}
.relation-table-main .embed-relation-lv3 TH {
	BACKGROUND: #d4e8fa
}
.relation-table-main .embed-relation-lv3 TH .relation-split {
	DISPLAY: none
}
.relation-table-main .entry-item .explain {
	FONT-WEIGHT: normal
}
.explain {
	WHITE-SPACE: nowrap
}
.lemma-relation-table .page {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; LINE-HEIGHT: 18px; PADDING-TOP: 10px; HEIGHT: 22px; TEXT-ALIGN: center
}
.lemma-relation-table .page {
	BORDER-TOP: #e6e6e6 1px solid
}
.lemma-relation-table .page .page-text {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lemma-relation-table .page A {
	COLOR: #136ec2
}
.lemma-relation-table .page A {
	PADDING-RIGHT: 2px; DISPLAY: inline-block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lemma-relation-table .page SPAN {
	PADDING-RIGHT: 2px; DISPLAY: inline-block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lemma-relation-table .page .page-current {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
.lemma-relation-top {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.lemma-relation-top .relation-table-main {
	BORDER-RIGHT: #dedfe1 1px solid; BORDER-TOP: #dedfe1 0px solid; BORDER-LEFT: #dedfe1 1px solid; COLOR: #5b5f65; BORDER-BOTTOM: #dedfe1 1px solid
}
.lemma-relation-top .relation-table-main TH {
	COLOR: #5b5f65
}
.lemma-relation-top .hd {
	COLOR: #5b5f65
}
.lemma-relation-top .relation-table-banner {
	BACKGROUND: #e6edf2
}
.lemma-relation-top .relation-table-main TH {
	BACKGROUND: #fafbfc
}
.lemma-relation-top .relation-table-main .remark-banner {
	BACKGROUND: #fafbfc
}
.lemma-relation-top .embed-relation-tb TH {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.lemma-relation-top .embed-relation-tb TD {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.lemma-relation-top .relation-unit {
	BORDER-TOP: #dedfe1 1px solid; MARGIN: 0px
}
.lemma-relation-top .relation-table-banner H3 .table-title {
	COLOR: #444850
}
.lemma-relation-top .lemma-relation-odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.lemma-relation-top .even {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.lemma-relation-top .relation-control-enter-close {
	BACKGROUND-POSITION: -98px -540px
}
.lemma-relation-top .relation-control-enter-open {
	BACKGROUND-POSITION: -119px -540px
}
.lemma-relation-top .relation-control-enter-edit {
	BACKGROUND-POSITION: -119px -560px
}
.lemma-relation-top .relation-table-main .embed-relation-lv3 TH {
	BACKGROUND: #f7f9fa
}
.lemma-relation-top .relation-table-main .title-banner {
	BACKGROUND: #f7f9fa
}
.lemma-relation-top .relation-table-main .hd {
	BACKGROUND: #f7f9fa
}
.lemma-relation-top .relation-table-outer {
	BORDER-TOP: #ced3d9 1px solid; MARGIN-TOP: 0px
}
.lemma-relation-top .relation-table-outer TH {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.lemma-relation-top .relation-table-outer TD {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
.lemma-category-table {
	BORDER-RIGHT: #c6e1f5 1px solid; BORDER-TOP: #c6e1f5 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c6e1f5 1px solid; BORDER-BOTTOM: #c6e1f5 1px solid
}
.lemma-category-table DIV.relation-table-banner {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/guanxi/static/image/relation_table_banner_view.png?@=1dxlxr5) repeat-x; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 1.3; PADDING-TOP: 0px; HEIGHT: 28px
}
.lemma-category-table A.relation-table-icon {
	MARGIN-TOP: 5px; DISPLAY: inline-block; BACKGROUND: url(http://baike.baidu.com/guanxi/static/image/rs-icon.png) no-repeat; FLOAT: left; WIDTH: 16px; MARGIN-RIGHT: 5px; HEIGHT: 16px
}
.lemma-category-table .relation-table-banner H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 28px
}
.lemma-category-table .relation-table-banner H3 A {
	FLOAT: left
}
.lemma-category-table .relation-table-banner H3 .table-title {
	COLOR: #000; TEXT-DECORATION: none
}
.lemma-category-table .relation-table-banner H3 .relation-table-view-control {
	FLOAT: right
}
.lemma-category-table .relation-table-view-control A {
	MARGIN-TOP: 4px; DISPLAY: inline-block; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #136ec2; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-DECORATION: none
}
.lemma-category-table .relation-table-view-control A:hover {
	TEXT-DECORATION: none
}
.lemma-category-table .relation-table-title A.more {
	PADDING-LEFT: 0px
}
.lemma-category-table .relation-table-banner A.relation-control {
	BACKGROUND: url(/guanxi/static/image/relation_view_sprites.png?@=4fq7b2) no-repeat 7px -185px
}
.lemma-category-table .relation-table-banner A.relation-control-enter-open {
	BACKGROUND-POSITION: -89px -210px; WIDTH: 21px; HEIGHT: 19px
}
.lemma-category-table .relation-table-banner A.relation-control-enter-close {
	BACKGROUND-POSITION: 6px -186px; WIDTH: 21px; HEIGHT: 19px
}
.lemma-category-table .relation-table-banner A.relation-control-enter-close:hover {
	BACKGROUND-POSITION: -119px -391px
}
.lemma-category-table .relation-table-banner A.relation-control-enter-open:hover {
	BACKGROUND-POSITION: -119px -361px
}
.lemma-category-table .relation-table-main {
	CLEAR: both; DISPLAY: block; POSITION: relative
}
.lemma-category-table .relation-table-main A {
	TEXT-DECORATION: none
}
.lemma-category-table .relation-table-main A:hover {
	TEXT-DECORATION: underline
}
.lemma-category-table .relation-table-main UL LI A {
	PADDING-LEFT: 7px; BACKGROUND: url(/guanxi/static/image/relation_view_sprites.png?@=4fq7b2) no-repeat -137px -58px; MARGIN-LEFT: 10px
}
.lemma-category-table .relation-table-main UL {
	MARGIN-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 100%
}
.lemma-category-table .relation-table-main UL LI {
	DISPLAY: block; FLOAT: left; WIDTH: 137px
}
.lemma-category-table .relation-table-main UL LI.first {
	WIDTH: 140px
}
.lemma-category-table .relation-table-main UL LI.odd {
	BACKGROUND: #f8f8f8
}
.lemma-category-table .page {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; LINE-HEIGHT: 18px; PADDING-TOP: 5px; HEIGHT: 22px; TEXT-ALIGN: center
}
.lemma-category-table .page {
	BORDER-TOP: #e6e6e6 1px solid
}
.lemma-category-table .page .page-text {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lemma-category-table .page A {
	COLOR: #136ec2
}
.lemma-category-table .page A {
	PADDING-RIGHT: 2px; DISPLAY: inline-block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.page SPAN {
	PADDING-RIGHT: 2px; DISPLAY: inline-block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lemma-category-table .page .page-current {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: none
}
.lemma-category-table .relation-control-enter-close {
	DISPLAY: inline-block
}
.lemma-category-table .relation-table-view-control .relation-control-enter-open {
	DISPLAY: none
}
.lemma-relation-table-close .relation-table-view-control .relation-control-enter-close {
	DISPLAY: none
}
.lemma-relation-table-close .relation-table-main {
	DISPLAY: none
}
.lemma-relation-table-close .relation-table-view-control .relation-control-enter-open {
	DISPLAY: inline-block
}
.relation-come-from {
	PADDING-RIGHT: 9px; FONT-SIZE: 12px; COLOR: #999; PADDING-TOP: 5px; HEIGHT: 24px; TEXT-ALIGN: right
}
.lemma-category-table .relation-table-main UL LI A.relation-create-lemma-color {
	COLOR: #c00
}
.rs-icon {
	DISPLAY: inline-block; BACKGROUND: url(http://img.baidu.com/img/baike/switch.gif) no-repeat -7px -9px; WIDTH: 84px; LINE-HEIGHT: 31px; POSITION: relative; HEIGHT: 31px; TEXT-DECORATION: none
}
.rs-icon-over {
	BACKGROUND-POSITION: -7px -52px
}
H2 .rs-icon {
	BACKGROUND-POSITION: -7px -13px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
H2 .rs-icon-over {
	BACKGROUND-POSITION: -7px -56px
}
.rs-icon A {
	LEFT: 0px; MARGIN-LEFT: 44px; WIDTH: 42px; POSITION: absolute; TOP: 0px; HEIGHT: 31px
}
.relation-category {
	MARGIN-TOP: -20px; FONT-SIZE: 12px; MARGIN-BOTTOM: 27px; POSITION: relative
}
.polysemy-item-cnt DIV.relation-category {
	MARGIN-TOP: -10px
}
DIV.relation-category A.relation-category-title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: #136ec2; PADDING-TOP: 0px; TEXT-DECORATION: none
}
DIV.relation-category A.relation-category-title:hover {
	TEXT-DECORATION: underline
}
SPAN.relation-category-gt {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.relation-category .relation-category-hide {
	DISPLAY: none
}
.relation-category-all .relation-category-hide {
	DISPLAY: block
}
DIV.relation-category P {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 18px; FONT-FAMILY: 宋体
}
.relation-category .show-btn {
	CLEAR: both; DISPLAY: block; WIDTH: 38px; CURSOR: pointer; COLOR: #666; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-DECORATION: none
}
.relation-category .show-btn:hover {
	BACKGROUND-POSITION: 28px -139px
}
.relation-category-all .show-btn {
	
}
.relation-category-all .show-btn:hover {
	BACKGROUND-POSITION: -6px -139px
}
