BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
BUTTON {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
INPUT {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
SELECT {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
TEXTAREA {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
SMALL {
	FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
LEGEND {
	COLOR: #000
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
IMG {
	ms-interpolation-mode: bicubic
}
#page {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#header {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#content {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#footer {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.w950 {
	WIDTH: 950px
}
.w1000 {
	WIDTH: 1000px
}
.col-main {
	MIN-HEIGHT: 1px; FLOAT: left; WIDTH: 100%
}
.col-sub {
	FLOAT: left
}
.col-extra {
	FLOAT: left
}
.layout:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.main-wrap:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.col-sub:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.col-extra:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.layout {
	ZOOM: 1
}
.main-wrap {
	ZOOM: 1
}
.col-sub {
	ZOOM: 1
}
.col-extra {
	ZOOM: 1
}
.grid-m0s245 .main-wrap {
	MARGIN-RIGHT: 255px
}
.grid-m0s245 .col-sub {
	MARGIN-LEFT: -245px; WIDTH: 245px
}
.w745 {
	WIDTH: 745px
}
.w1000 {
	WIDTH: 1000px
}
.hidden {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.clearfix {
	ZOOM: 1
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: visible; LINE-HEIGHT: 0; HEIGHT: 0px
}
.text-wrap {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.text-nowrap {
	WORD-BREAK: keep-all; WHITE-SPACE: nowrap
}
.red {
	COLOR: red
}
.slide {
	BORDER-TOP-WIDTH: 8px; BORDER-LEFT-WIDTH: 8px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 8px; OVERFLOW: hidden; WIDTH: 0px; LINE-HEIGHT: 0; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 8px
}
.s-left {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: dashed; BORDER-RIGHT-COLOR: #ccc; BORDER-BOTTOM-STYLE: dashed
}
.s-right {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: transparent; BORDER-BOTTOM-STYLE: dashed
}
#pop-shadow {
	Z-INDEX: 65534; BACKGROUND: #000; FILTER: alpha(opacity=25); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: 0.25
}
#pop-shadow-iframe {
	FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: 0
}
#pop-main {
	Z-INDEX: 65535; LEFT: 300px; WIDTH: 500px; LINE-HEIGHT: 20px; POSITION: absolute; TOP: 200px
}
#pop-shadow-bg {
	Z-INDEX: -1; BACKGROUND: #000; FILTER: alpha(opacity=0); LEFT: 5px; WIDTH: 100%; POSITION: absolute; TOP: 5px; opacity: .25
}
#pop-close {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/dialogclose.gif) no-repeat; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; WIDTH: 19px; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 19px; BORDER-RIGHT-WIDTH: 0px
}
.p-bg {
	BORDER-RIGHT: #709cd2 1px solid; BORDER-TOP: #709cd2 1px solid; BORDER-LEFT: #709cd2 1px solid; BORDER-BOTTOM: #709cd2 1px solid
}
.p-top {
	BACKGROUND: #709cd2; HEIGHT: 24px
}
.p-title {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px
}
#p-title {
	moz-user-select: none
}
.p-body {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #fff; ZOOM: 1
}
.p-body-inner {
	PADDING-RIGHT: 10px
}
.p-r1 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r2 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r3 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r4 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r1 {
	BACKGROUND-POSITION: 0px -62px; FLOAT: left
}
.p-r2 {
	BACKGROUND-POSITION: -10px -62px; FLOAT: right
}
.p-r3 {
	BACKGROUND-POSITION: 0px -67px; FLOAT: left; HEIGHT: 10px
}
.p-r4 {
	BACKGROUND-POSITION: -10px -67px; FLOAT: right; HEIGHT: 10px
}
.p-bottom {
	BACKGROUND: #fff; HEIGHT: 10px
}
#pop-iframe-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#pop-text-content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.userbar {
	FONT-SIZE: 12px; Z-INDEX: 10000; RIGHT: 10px; ZOOM: 1; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 8px
}
.userbar:unknown {
	CLEAR: both; DISPLAY: block; OVERFLOW: hidden; WIDTH: 0px; content: 'clear'
}
.userbar A:link {
	COLOR: #00c; TEXT-DECORATION: underline
}
.userbar A:visited {
	COLOR: #00c; TEXT-DECORATION: underline
}
.userbar LI {
	FLOAT: left; LINE-HEIGHT: 1.5em; MARGIN-RIGHT: 4px
}
.userbar .m04 {
	MARGIN: 0px 4px
}
.userbar .mr4 {
	MARGIN-RIGHT: 4px
}
.userbar .split {
	COLOR: #333
}
.userbar .red {
	COLOR: red
}
.userbar .strong {
	FONT-WEIGHT: bold
}
.userbar .myhome {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.myhome-top {
	PADDING-LEFT: 4px
}
.myhome-body A {
	PADDING-LEFT: 4px
}
.myhome:hover {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid
}
.myhome-hover {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid
}
.myhome-top {
	PADDING-RIGHT: 16px; POSITION: relative
}
.myhome .myhome-tri {
	RIGHT: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/mfu/my_ico.gif) no-repeat 2px 2px; WIDTH: 16px; POSITION: absolute; TOP: 0px; HEIGHT: 16px; moz-transition: -moz-transform 0.3s; moz-transform: rotate(0deg); o-transform: rotate(0deg); o-transition: -o-transform .3s; webkit-transform: rotate(0deg); webkit-transition: -webkit-transform .3s
}
.myhome:hover .myhome-tri {
	moz-transition: -moz-transform .3s; moz-transform: rotate(-180deg); o-transform: rotate(-180deg); o-transition: -o-transform .3s; webkit-transform: rotate(-180deg); webkit-transition: -webkit-transform .3s; transform: rotate(-180deg); transition: transform .3s
}
.myhome:hover .myhome-body {
	DISPLAY: block
}
.myhome-body {
	DISPLAY: none; LINE-HEIGHT: 1.7em
}
.myhome-body LI {
	FLOAT: none; MARGIN-RIGHT: 0px
}
.myhome-body A {
	DISPLAY: block; BACKGROUND-COLOR: #fff
}
.myhome-body A:hover {
	BACKGROUND-COLOR: #e4e4e4
}
.mybottle {
	POSITION: relative
}
.can-edit {
	PADDING-RIGHT: 22px
}
.mybottle I {
	RIGHT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/usercenter/bottle/bottlenum.png) no-repeat; WIDTH: 20px; POSITION: absolute; TOP: -5px; HEIGHT: 20px
}
.mybottle I {
	BACKGROUND-POSITION: 0px -20px
}
.mybottle I.bottle-num {
	BACKGROUND-POSITION: 0px 0px
}
.bottle-fly {
	Z-INDEX: 10001; RIGHT: -10px; WIDTH: 10px; POSITION: absolute; TOP: -10px; HEIGHT: 10px; BACKGROUND-COLOR: #ec5c09; webkit-border-radius: 10px; border-radius: 10px; webkit-animation-duration: 1.5s; webkit-animation-timing-function: ease-in-out
}
.usertitle {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/titles.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.level2 {
	BACKGROUND-POSITION: 0px -23px
}
.level3 {
	BACKGROUND-POSITION: 0px -46px
}
.level4 {
	BACKGROUND-POSITION: 0px -68px
}
.level5 {
	BACKGROUND-POSITION: 0px -89px
}
.level6 {
	BACKGROUND-POSITION: 0px -121px
}
.level7 {
	BACKGROUND-POSITION: 0px -144px
}
.level8 {
	BACKGROUND-POSITION: 0px -167px
}
.level9 {
	BACKGROUND-POSITION: 0px -190px
}
.level10 {
	BACKGROUND-POSITION: 0px -214px
}
.level11 {
	BACKGROUND-POSITION: 0px -248px
}
.level12 {
	BACKGROUND-POSITION: 0px -271px
}
.level13 {
	BACKGROUND-POSITION: 0px -294px
}
.level14 {
	BACKGROUND-POSITION: 0px -317px
}
.level15 {
	BACKGROUND-POSITION: 0px -340px; WIDTH: 75px
}
A {
	COLOR: #136ec2; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
A:visited {
	COLOR: #136ec2
}
#header {
	MARGIN-TOP: 26px
}
#search {
	MARGIN-BOTTOM: 16px; WIDTH: 780px
}
#search A {
	COLOR: #00c; TEXT-DECORATION: underline
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 146px; PADDING-TOP: 3px; ZOOM: 1; POSITION: relative
}
#logo IMG {
	DISPLAY: block
}
#logo .logo-xjd {
	POSITION: absolute; TOP: -20px
}
#logo {
	FLOAT: left
}
#search-content {
	FLOAT: left
}
#help {
	FLOAT: left
}
#word {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; MARGIN: 0px 7px 0px 0px; FONT: 16px arial; WIDTH: 358px; PADDING-TOP: 3px
}
.search-btn {
	FONT-SIZE: 14px; MARGIN: 0px 7px 0px 0px; WIDTH: 78px; LINE-HEIGHT: 24px; HEIGHT: 28px
}
.nv {
	MARGIN: 0px 0px 3px
}
.nv A {
	FONT-SIZE: 14px; MARGIN-RIGHT: 13px
}
.nv STRONG {
	FONT-SIZE: 14px; MARGIN-RIGHT: 10px
}
#help {
	MARGIN-TOP: 27px
}
#help A {
	MARGIN-RIGHT: 7px
}
#search-simple {
	PADDING-LEFT: 2px; PADDING-BOTTOM: 11px; HEIGHT: 32px
}
#search-simple #search-content {
	PADDING-TOP: 8px
}
#search-simple #logo {
	PADDING-RIGHT: 9px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 93px; PADDING-TOP: 0px; ZOOM: 1; POSITION: relative
}
#search-simple #word {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 2px 5px 0px 0px; FONT: 14px/18px arial; WIDTH: 210px; PADDING-TOP: 1px
}
#search-simple .search-btn {
	MARGIN: 0px 3px 0px 0px; FONT: 12px/22px 瀹浣; WIDTH: 68px; HEIGHT: 25px
}
.tangram_sug_wpr {
	BORDER-RIGHT: #817f82 1px solid; BORDER-TOP: #817f82 1px solid; Z-INDEX: 9999; LEFT: 0px; BORDER-LEFT: #817f82 1px solid; BORDER-BOTTOM: #817f82 1px solid; POSITION: absolute; TOP: 28px
}
.tangram_sug_wpr TABLE {
	BACKGROUND: #fff; WIDTH: 100%; CURSOR: default
}
.tangram_sug_wpr TD {
	FONT: 14px/20px verdana
}
.tangram_sug_mo {
	BACKGROUND: #36c; COLOR: #fff
}
.tangram_sug_ml {
	BACKGROUND: #fff; COLOR: #000
}
.tangram_sug_app {
	BACKGROUND: #fff
}
.tangram_sug_pre {
	BACKGROUND: #fff
}
.sug_close {
	PADDING-RIGHT: 2px; LINE-HEIGHT: 20px; TEXT-ALIGN: right
}
.album-view {
	LINE-HEIGHT: 12px; TEXT-ALIGN: center
}
.album-view IFRAME {
	OVERFLOW: hidden
}
.album-view .title {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 16px; TEXT-ALIGN: center
}
.modify .album-view .title {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 16px; TEXT-ALIGN: center
}
.album-view .count {
	FONT-SIZE: 11px; COLOR: #999; WHITE-SPACE: nowrap
}
.modity .album-view .count {
	FONT-SIZE: 11px; COLOR: #999; WHITE-SPACE: nowrap
}
.module-data-expend {
	CLEAR: both; BORDER-TOP: #000 1px solid; BACKGROUND: #eff
}
.module-data-expend .mde-item {
	BORDER-RIGHT: red 1px dashed; PADDING-RIGHT: 6px; DISPLAY: inline-block; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; WIDTH: 155px; PADDING-TOP: 0px; BORDER-BOTTOM: red 1px dashed; ZOOM: 1; POSITION: relative; HEIGHT: 150px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.module-data-expend .mde-item SPAN.desc {
	FONT-SIZE: 12px; LEFT: 0px; WIDTH: 154px; COLOR: #000; BOTTOM: 0px; LINE-HEIGHT: 12px; POSITION: absolute; TEXT-ALIGN: center
}
.clear {
	CLEAR: both
}
.map-view {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ddd 1px solid; WIDTH: 310px; LINE-HEIGHT: 12px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
.map-view IFRAME {
	WIDTH: 310px; HEIGHT: 226px
}
.map-view .title {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 5px 0px 0px; COLOR: #000; LINE-HEIGHT: 16px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.modify .map-view .title {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 5px 0px 0px; COLOR: #000; LINE-HEIGHT: 16px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.map-view .declear {
	DISPLAY: none; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 0px 0px 2px; COLOR: #999; LINE-HEIGHT: 16px; WHITE-SPACE: nowrap
}
.video-view {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 288px; HEIGHT: 283px
}
.video-mis {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 288px; HEIGHT: 283px
}
.video-view IFRAME {
	WIDTH: 288px; HEIGHT: 283px
}
.video-mis IFRAME {
	WIDTH: 288px; HEIGHT: 283px
}
.red {
	COLOR: red
}
#header {
	MARGIN-TOP: 26px
}
#footer {
	CLEAR: both; MARGIN-TOP: 10px; MARGIN-BOTTOM: 15px; FONT: 12px/1 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#footer A:link {
	CLEAR: both; MARGIN-TOP: 10px; MARGIN-BOTTOM: 15px; FONT: 12px/1 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#footer A:visited {
	CLEAR: both; MARGIN-TOP: 10px; MARGIN-BOTTOM: 15px; FONT: 12px/1 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
