<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>format</title>
<style>
ul{
display:block;
float:none;
clear:both;
}
li{
list-style:none;
display:block;
float:left;
width:150px;
height:40px;
}
div{
height:300px;
}
</style>
</head>

<body>





<ul>

<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<ul>

<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<ul><ul>

<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
<ul>
</body>
</html>
