<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript"> 
//bg_even("表格ID属性名","奇数行背景色","偶数行背景色","鼠标经过背景色","点击后背景色");
function bg_even(o,a,b,c,d){
        var t=document.getElementById(o).getElementsByTagName("tr");
        for(var i=0;i<t.length;i++){
                t[i].style.backgroundColor=(t[i].sectionRowIndex%2==0)?a:b;
                t[i].onclick=function(){
                        if(this.x!="1"){
                                this.x="1";
                                this.style.backgroundColor=d;
                        }else{
                                this.x="0";
                                this.style.backgroundColor=(this.sectionRowIndex%2==0)?a:b;
                        }
                }
                t[i].onmouseover=function(){
                        if(this.x!="1")this.style.backgroundColor=c;
                }
                t[i].onmouseout=function(){
                        if(this.x!="1")this.style.backgroundColor=(this.sectionRowIndex%2==0)?a:b;
                }
        }
}
</script> 
<script type="text/javascript">
 
 function goTopEx(){
        var obj=document.getElementById("goTopBtn");
        function getScrollTop(){
                return document.documentElement.scrollTop;
            }
        function setScrollTop(value){
                document.documentElement.scrollTop=value;
            }    
        window.onscroll=function(){getScrollTop()>0?obj.style.display="":obj.style.display="none";}
        obj.onclick=function(){
            var goTop=setInterval(scrollMove,10);
            function scrollMove(){
                    setScrollTop(getScrollTop()/111);
                    if(getScrollTop()<1)clearInterval(goTop);
                }
        }
    }


</script>
<script type="text/javascript">
 
 function goTopEx(){
        var obj=document.getElementById("goTopBtn");
        function getScrollTop(){
                return document.documentElement.scrollTop;
            }
        function setScrollTop(value){
                document.documentElement.scrollTop=value;
            }    
        window.onscroll=function(){getScrollTop()>0?obj.style.display="":obj.style.display="none";}
        obj.onclick=function(){
            var goTop=setInterval(scrollMove,10);
            function scrollMove(){
                    setScrollTop(getScrollTop()/111);
                    if(getScrollTop()<1)clearInterval(goTop);
                }
        }
    }


</script>
<title>qing dynasty</title>
<style type="text/css">
.orgWraper{ 
font-size: 12px; 
position: relative; 
height:1050px; } 
.OrgBox{
padding-bottom:2px;
text- align:center;
color:#666;
border:1px solid #C0C0C0;
position:absolute;
height:48px;
padding:4px 0px;
}
.OrgBox p {
margin: 0;
line-height: 16px;}
.lineL{
position:absolute;
}
.orgWraper .orgtext{
padding:10px;}
.OrgBox a{
color:    #136EC2;
text- decoration: none;}
.OrgBox a:hover{
text-decoration: underline}

.orgWraper p{
text-align:center;
text-indent:0em;
vertical-align:top;
line-height:16px;

}
div{
color:white;

}

#tbrowser a:link，.container a:visited{
font-size:18px;
text-decoration:none;
}
.container{
font-size:1.2em;
margin:auto;
font-family:"宋体";
width:85.29%;
line-height:1.4em;
}
P{
margin:8px;
text-indent:2em;
}
.uls{
color:#CC6666;
font-weight:bold;
}
.uls>ol{
list-style:none;
font-weight:normal;
list-style:lower-latin;
color:#000000;
line-height:1.3em;

}
h2{
font-size:20px;
font-weight:bold;
margin-top:15px;
margin-bottom:0px;
text-indent:0em;
}
img{
margin-right:5px;
}
.fc{
color:red;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


#goTopBtn {
	width: 18px;
    line-height: 1.2;
    padding:5px 0;
    background-color:#eee;
    color:#000;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
 
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=30);
	opacity=.3;
}
 #goTopBtn:hover{
 background-color:white;
 border:#ccc 1px solid;
 color:red;
 }
 
 
#goBottom {
	width: 18px;
    line-height: 1.2;
    padding:5px 0;
    background-color: #eee;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
 
    right: 10px;
    bottom: 70px;
    _bottom: "auto";
    cursor: pointer;
    filter: Alpha(opacity=30);
	opacity=.3;
}
 #goBottom:hover{
 background-color:white;
 border:#ccc 1px solid;
 color:red;
 }
 
 
 img{
 border:0;
 }#tbrowser {
	width:100%;
	margin:auto;
	border-collapse:collapse;
font-family:"宋体";
	text-align:left;
	line-height:1.3em;
	table-layout:fixed;
}

#tbrowser th,#tbrowser td{
border:1px solid #ddd;
font-size:1em;
color:#000000;
text-align:left;
font-family: "宋体";
padding-left:3px;
}


#tbrowser thead th{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
color:#fff;
padding:5px 0px;
}
#tbrowser .nd{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
background-color:#D3D3A9;
color:red;
}

#tbrowser th{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
color:#fff;
padding:5px 0px;
}
#tbrowser th.title{
background-color:#e3e685;
}

#tbrowser caption{
font-weight:bold;
padding:1px 0px;
color:#3d580b;
font-size:18px;
}


#tbrowser .xhx{
border-bottom:0px solid #aaa;
}


#tbrowser tr{
height:6px;
}

#tbrowser tr>td{/*1*/
font-size:1em;
text-align:left;
/*width:13%;*/
}
#tbrowser tr>td+td{/*2*/
text-align:left;
/*width:8%;*/
font-size:1em;
}
#tbrowser tr>td+td+td{/*3*/
font-size:1em;
/*width:5%;*/
}
#tbrowser tr>td+td+td+td{/*4*/
font-size:1em;
text-align:left;
/*width:6%;*/
}
#tbrowser tr>td+td+td+td+td{/*5*/
font-size:1em;
text-align:left;
/*width:5%;*/
}
#tbrowser tr>td+td+td+td+td+td{/*6*/
/*width:13%;*/
font-size:1em;
}
#tbrowser tr>td+td+td+td+td+td+td{/*7*/
/*width:59%;*/
font-size:1em;
}


#tbrowser tfoot td{
border-width:0px;
text-align:left;
line-height:18px;
font-size:16px;
color:#777;
}
.floatr{
float:right;
padding-right:5px;
}

#tbrowser th a:link {
	text-decoration: none;
	color:white;
}
#tbrowser th a:hover {
	text-decoration: none;
	color:white;
}
#tbrowser th a:active {
	text-decoration: none;
	color:white;
}
#tbrowser th a:visited {
	text-decoration: none;
	color:white;
}
#tbrowser caption{
font-size:1.2em;
text-align:left;
}
#tbrowser thead td{
font-size:0.8em;
text-align:left;
}
</style>
</head>

<body> 
<div class="container">
  <!--
<table id="tbrowser">
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
-->
  <!--
height="*\w*"
width="*\w*"</p>
<p>-->
  
<div class="orgWraper">

<div class="OrgBox" style="width: 73px; 
left: 380.625px; 
top: 0px; ">
<p>清显祖
<br><a href="http://baike.baidu.com/view/5048096.htm">塔克世</a></p>
<p>?-1583</p>
</div>

<div class="OrgBox" style="width: 73px; left: 239.25px; top: 88px; ">
<p>清太祖
<br><a href="http://baike.baidu.com/view/119936.htm">努尔哈赤</a></p>
<p>1559-1626</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 522px; top: 88px;">
<p>庄亲王
<br><a href="http://baike.baidu.com/view/967279.htm">舒尔哈齐</a></p>

</div>

<div class="OrgBox" style=" width: 73px; left: 43.5px; top: 176px;">
<p>礼烈亲王
<br><a href="http://baike.baidu.com/view/1907803.htm">代善</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 0px; top: 264px;  ">
<p>颖毅亲王
<br><a href="http://baike.baidu.com/view/3151124.htm">萨哈璘</a>
<br />
</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 87px; top: 264px;">
<p>克勤郡王
<br><a href="http://baike.baidu.com/view/1907735.htm">岳托</a></p>
</div>

<div class="OrgBox" style="width: 73px; 	left: 261px; top:176px; ">
<p>清太宗
<br><a href="http://baike.baidu.com/view/73131.htm">皇太极</a></p>
<p>1592-1643</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 174px; top: 264px; ">
<p>肃武亲王
<br><a href="http://baike.baidu.com/view/99759.htm">豪格</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 261px; top: 264px; ">
<p>承泽裕亲王
<br><a href="http://baike.baidu.com/view/1146903.htm">硕塞</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 348px; top: 264px; ">
<p>顺治帝
<br><a href="http://baike.baidu.com/view/119918.htm">福临</a></p>
<p>1638-1661</p>
</div>

<div class="OrgBox" style="width: 73px; left: 348px; top: 352px; ">
<p>康熙帝
<br><a href="http://baike.baidu.com/view/50252.htm">玄烨</a></p>
<p>1654-1722</p>
</div>

<div class="OrgBox" style="width: 73px; left: 304.5px; top: 440px; ">
<p>雍正帝
<br><a href="http://baike.baidu.com/view/119880.htm">胤禛</a></p>
<p>1678-1735</p>
</div>

<div class="OrgBox" style="width: 73px; left: 304.5px; top: 528px; ">
<p>乾隆帝
<br><a href="http://baike.baidu.com/view/119805.htm">弘历</a></p>
<p>1711-1796</p>
</div>

<div class="OrgBox" style="width: 73px; left: 152.25px; top: 616px; ">
<p>嘉庆帝
<br><a href="http://baike.baidu.com/view/119870.htm">颙琰</a></p>
<p>1760-1820</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 65.25px; top: 704px;  ">
<p>惇恪亲王
<br><a href="http://baike.baidu.com/view/1967631.htm">绵恺</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 152.25px; top: 704px; ">
<p>瑞怀亲王
<br><a href="http://baike.baidu.com/view/3168511.htm">绵忻</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 239.25px; top: 704px; ">
<p>道光帝
<br><a href="http://baike.baidu.com/view/119858.htm">旻宁</a></p>
<p>1820-1850</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 108.75px; top: 792px;  ">
<p>恭忠亲王
<br><a href="http://baike.baidu.com/view/5855860.htm">奕訢</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 195.75px; top: 792px; ">
<p>咸丰帝
<br><a href="http://baike.baidu.com/view/119851.htm">奕詝</a></p>
<p>1850-1861</p>
</div>

<div class="OrgBox" style="width: 73px; left: 195.75px; top: 880px; ">
<p>同治帝
<br><a href="http://baike.baidu.com/view/119947.htm">载淳</a></p>
<p>1861-1875</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 282.75px; top: 792px;  ">
<p>惇勤亲王
<br><a href="http://baike.baidu.com/view/5142148.htm">奕誴</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 282.75px; top: 880px; ">
<p>醇亲王
<br><a href="http://baike.baidu.com/view/297363.htm">载沣</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 282.75px; top: 968px; ">
<p>宣统帝
<br><a href="http://baike.baidu.com/view/20788.htm">溥仪</a></p>
<p>1908-1912</p>
</div>

<div class="OrgBox" style="padding:4px 0px;width: 73px; left: 369.75px; top: 792px;  ">
<p>醇贤亲王
<br><a href="http://baike.baidu.com/view/32859.htm">奕譞</a></p>
</div>

<div class="OrgBox" style="width: 73px; left: 369.75px; top: 880px; ">
<p>光绪帝
<br><a href="http://baike.baidu.com/view/119841.htm">载湉</a></p>
<p>1875-1908</p>
</div>

<div class="OrgBox" style=" width: 73px; left: 456.75px; top: 616px;  ">
<p>庆僖亲王
<br><a href="http://baike.baidu.com/view/2199677.htm">永璘</a></p>
</div>

<div class="OrgBox" style="width: 93px; left: 456.75px; top: 704px;  ">
<p>不入八分辅国公<br />
<a href="http://baike.baidu.com/view/7264519.htm">绵性</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 456.75px; top: 792px; ">
<p>庆密亲王
<br><a href="http://baike.baidu.com/view/1906854.htm">奕劻</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 456.75px; top: 880px; ">
<p>庆贞亲王
<br><a href="http://baike.baidu.com/view/2199692.htm">载振</a></p>
</div>

<div class="OrgBox" style="background-color: rgb(242, 242, 242); width: 73px; left: 391.5px; top: 440px;  ">
<p>怡贤亲王
<br><a href="http://baike.baidu.com/view/953955.htm">胤祥</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 348px; top: 176px; ">
<p>睿忠亲王
<br><a href="http://baike.baidu.com/view/298026.htm">多尔衮</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 435px; top: 176px; ">
<p>豫通亲王
<br><a href="http://baike.baidu.com/view/1146875.htm">多铎</a></p>
</div>

<div class="OrgBox" style=" width: 73px; left: 522px; top: 176px;  ">
<p>郑献亲王
<br><a href="http://baike.baidu.com/view/826943.htm">济尔哈朗</a></p>
</div>

<div class="lineL"  style="top: 58px; left: 418.125px; overflow: hidden; border-left-color: rgb(153, 153, 153); 
border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 146px; left: 276.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
">
	|
</div>

<div class="lineL" style="top: 73.5px; left: 276.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_oEqYnkGdrCrrWYpFEs52">
	|
</div>

<div class="lineL" style="top: 146px; left: 559.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 73.5px; left: 559.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_AO2UYgSNpcmtfLEg4sso">
	|
</div>

<div class="lineL" style="top: 234px; left: 81px; overflow: hidden; 
border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 161.5px; left: 81px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_eWvMvgeyiU4T8KqsRLp">
	|
</div>

<div class="lineL" style="top: 234px; left: 298.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
">
	|
</div>

<div class="lineL" style="top: 161.5px; left: 298.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_K8PzTJ1h96xYyoxUy6JG">
	|
</div>

<div class="lineL" style="top: 161.5px; left: 385.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_g6wRgBTUoUylfdWTuU">
	|
</div>

<div class="lineL" style="top: 161.5px; left: 472.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_LZd8hQug0vgpa06MsKmC">
	|
</div>

<div class="lineL" style="top: 249.5px; left: 37.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_N2kZwVaQ49MLQV1UWM4W">
	|
</div>

<div class="lineL" style="top: 249.5px; left: 124.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_LsWARjwXxCS5h1g49SmB">
	|
</div>

<div class="lineL" style="top: 249.5px; left: 211.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_TCw0jreQ5LTtV6vTiVu">
	|
</div>

<div class="lineL" style="top: 249.5px; left: 298.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_M8XPgdKFGzNYvxVkj7vJ">
	|
</div>

<div class="lineL" style="top: 322px; left: 385.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 249.5px; left: 385.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_n5ryr5wRnTkjA1wTb7sl">
	|
</div>

<div class="lineL" style="top: 410px; left: 385.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
">
	|
</div>

<div class="lineL" style="top: 498px; left: 342px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 425.5px; left: 342px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_0RqOu0UnJvyhLisNrGRO">
	|
</div>

<div class="lineL" style="top: 425.5px; left: 429px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_VBfNT5b8LgLVJoPJh5zX">
	|
</div>

<div class="lineL" style="top: 586px; left: 342px; overflow: hidden; 
border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 674px; left: 189.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
">
	|
</div>

<div class="lineL" style="top: 601.5px; left: 189.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_MEMz4rHQt1kOTTvFp76D">
	|
</div>

<div class="lineL" style="top: 674px; left: 494.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 601.5px; left: 494.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_DP5uhMvhR4V1ZzbrTslE">
	|
</div>

<div class="lineL" style="top: 689.5px; left: 102.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_yCTFI8Vr4xd8qwlsS74B">
	|
</div>

<div class="lineL" style="top: 689.5px; left: 189.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_bOUDJxrYyIhsOC3YKWoR">
	|
</div>

<div class="lineL" style="top: 762px; left: 276.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
">
	|
</div>

<div class="lineL" style="top: 689.5px; left: 276.75px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_KVYEuQRIgRj1tRJfTsK6">
	|
</div>

<div class="lineL" style="top: 762px; left: 494.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 777.5px; left: 146.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_I5Ykx7kTuSE45QyR9pav">
	|
</div>

<div class="lineL" style="top: 850px; left: 233.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 777.5px; left: 233.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_NkpVP9jvD9H9GNaGIvEc">
	|
</div>

<div class="lineL" style="top: 865px; left: 320.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 15px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 777.5px; left: 320.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_dJnzJl2MYQyaQpmSIUk6">
	|
</div>

<div class="lineL" style="top: 850px; left: 407.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 777.5px; left: 407.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 14.5px; width:1px; 
" id="LineTop_OrgNode_LKXS52pV5hVWSmDfDAr0">
	|
</div>

<div class="lineL" style="top: 850px; left: 494.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<div class="lineL" style="top: 938px; left: 320.25px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
	|
</div>

<!--横线 第一条线-->
<div class="lineL" style="top: 72.5px; left: 276.75px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 283.75px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 160.5px; left: 81px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 392.5px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 248.5px; left: 37.5px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 88px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 248.5px; left: 211.5px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 175px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 424.5px; left: 342px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 88px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 600.5px; left: 189.75px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 305.5px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 688.5px; left: 102.75px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 175px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 776.5px; left: 146.25px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 262px; height: 0px;">
	|
</div>

<div class="lineL" style="top: 864px; left: 320.25px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 88.5px; height: 0px;">
	|
</div>

<!--方框：height:48+8+2-->
<!--方框：widhth:73+2px;-->
<!--方框内容纳三行字-->
<!--竖线：heigh14.5px;-->
<!--两个方框的left属性间隔87px;-->
<!--两个方框间隔87-75=12px;-->

<!--两排：top相差：58+30=72.5-->
<!--两排：left相差87+12=99-->
<div class="OrgBox" style=" width: 73px; left: 609px; top: 0px;">
<p>第一代</p>
</div>

<div class="lineL" style="top: 29px; left: 455.625px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 153.375px; height: 0px;">-</div>

<div class="lineL" style="top: 58px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>



<div class="OrgBox" style=" width: 73px; left: 609px; top: 88px;">
<p>第二代</p>
</div>

<div class="lineL" style="top: 117px; left: 597px; overflow: 
hidden; border-top-color: rgb(153, 153, 153); border-top-width: 1px; border-top-style: solid; width: 12px; height: 0px;">-</div>

<div class="lineL" style="top: 146px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>


<div class="OrgBox" style=" width: 73px; left: 609px; top: 176px;">
<p>第三代</p>
</div>

<div class="lineL" style="top: 146px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>


<div class="OrgBox" style=" width: 73px; left: 609px; top: 264px;">
<p>第四代</p>
</div>

<div class="lineL" style="top: 234px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>


<div class="OrgBox" style=" width: 73px; left: 609px; top: 352px;">
<p>第五代</p>
</div>

<div class="lineL" style="top: 322px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 440px;">
<p>第六代</p>
</div>

<div class="lineL" style="top: 410px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 528px;">
<p>第七代</p>
</div>

<div class="lineL" style="top: 498px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 616px;">
<p>第八代</p>
</div>

<div class="lineL" style="top: 586px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 704px;">
<p>第九代</p>
</div>

<div class="lineL" style="top: 674px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 792px;">
<p>第十代</p>
</div>

<div class="lineL" style="top: 762px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 880px;">
<p>第十一代</p>
</div>

<div class="lineL" style="top: 850px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>

<div class="OrgBox" style=" width: 73px; left: 609px; top: 968px;">
<p>第十二代</p>
</div>

<div class="lineL" style="top: 938px; left: 646.5px; overflow: 
hidden; border-left-color: rgb(153, 153, 153); border-left-width: 1px; border-left-style: solid; height: 30px; width:1px; ">
|</div>	
</div>
</div>
  
</div><a name="bottom" id="bottom"></a>
<DIV style="DISPLAY: none" id=goTopBtn>&and;
<div id="goBottom"><a href="#bottom" target="_self">&or;</a>
<SCRIPT type=text/javascript>goTopEx();</SCRIPT>
</body>
</html>
<script language="javascript"> 
bg_evensssss("tbrowser","#fff","#F5F5F5","#FFFFCC","#FFDDFF");/*#FFFF84*/
</script>