
*{
margin:0;
padding:0;
}
.top{
width:80%;
margin:auto;
background-image:url(o_mbookTop.gif);
background-repeat:no-repeat;
height:44px;
clear:both;
}
.main{

margin:auto;
width:80%;
background-image:url(o_mbookbg.gif);
background-repeat:repeat-y;
overflow:hidden;
font-size:14px;

}
 
h4{
margin:0px 0px 20px 0px;
}
.content{
margin:auto;
padding:44px 0px 40px 100px;
width:58%;
border:0px blue dashed;
float:left;
font-size:1.22em;
}
.right{
margin:auto;
position:fixed;

right:12%;
margin:-10px 0px 0px 0px;

border:0px red dashed;
font-family:"»ªÎÄÁ¥Êé";
font-size:1.2em;

}
p{
text-indent:2em;
padding-bottom:12px;
line-height:32px;
}
.right p{
text-indent:0em;
line-height:12px;
}
.down{
margin:auto;
width:958px;
text-align:right;
background-image:url(o_mbookbg.gif);
height:32px;

}

