<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>悠然笑看天高云淡风轻</title>
	<!--<base target="_blank" />-->
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="bookmark icon" href="favicon.ico" />
	
	<link ID="CSS" href="zfirst/css/indexcss.css" rel="stylesheet" type="text/css" />
		
	<script charset="utf-8" language="JavaScript" type="text/javascript" src="zfirst/js/indexjs.js"></script>
        
	<script charset="utf-8" language="JavaScript" type="text/javascript" src="zfirst/js/calendar.js"></script>
        

</head>

<body 
	onload="document.formmain.searchkey.focus();tvset();MM_displayStatusMsg('Dancing like nobody\'s Watching!Sing nobody\'slistening!那么拘束干嘛，做人要放开怀抱!');mytarget();init();return document.MM_returnValue">


<div id="frame">

<div class="topdup">
	<div id="topup1">
		<a href="javascript:void(null)" onclick=changecss("zfirst/css/indexpx.css") title="改变CSS为PX的单位">宠辱</a><a href="javascript:void(null)" onclick=changecss("zfirst/css/indexcss.css") title="改变CSS为%的单位(默认)">不惊</a>，闲看庭前花开花谢；去留无意，漫随天外云卷云舒</div>
	<div id="topup2">

<!--calendar--一部分写在Html,一部份写在JS-->
		<script type="text/javascript">     //农历的另一年份时，需更改6处（第6处是节气更改，作为变量中的字符的"2011"不更改）	
	
				document.write(Year+"-"+"<font color=#008040>"+"<strong>"+"<span style='FONT-SIZE: 12px'>"+enym+"&nbsp;"+isnDay[today.getDay()]+"</font>"+"</strong>"+"</span>"+"&nbsp;")
				
				document.write(cnyear+"<strong>"+"<span style='FONT-SIZE: 12px'>"+"<font color=#0000FF>"+cnym+"</span>"+"</strong>"+"</font>"+"&nbsp;")/*农历月日*/
				document.write("已逝:"+cndayed+"天"+"<sup>"+"+"+"</sup>"+"&nbsp;")
				document.write("可期:"+"<font face='Arial' size='2px' color=#FF8040>"+"<strong>"+haveday+"</strong>"+"</font>"+"天"+"<sup>"+"+"+"</sup>"+"&nbsp;"+"&nbsp;")
		</script>
<!--calendar一部分写在Html,一部份写在JS-->
	</div>
			
		
	<div id="topup3">
		<a href="javascript:void(null)" onclick="MM_showHideLayers('tim1','','hide');MM_showHideLayers('tim2','','hide')" onmouseover="MM_showHideLayers('tim1','','show');MM_showHideLayers('tim2','','show')">|悠然</a>&nbsp;
		<a href="javascript:void(null)" onclick="goto7(3)">随心</a><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','hide','c43','','hide','c44','','hide','c45','','hide','c46','','hide','ones','','show')">&nbsp;</a><a href="javascript:void(null)" onclick="goto7(1)">随性</a><a href="file:///J|/HP-PC/other data/love.html">&nbsp;</a>
		<a href="javascript:void(null)" onclick="goto7(2)">随缘</a></div>
</div><!--topup -->

<div id="top">
	<div id="topleft">
		<div class="top11"><strong style="font-family:叶根友钢笔行书升级版; font-size:18px">悠然笑看天高</strong><span style="font-family:叶根友钢笔行书升级版; font-size:24px;">云淡风轻</span></div>
		<div class="top21"  style="font-size:12px;">云淡天蓝 花绽风轻&nbsp;&nbsp;&nbsp;<marquee behavior="scroll" align="middle" width="80" height="23" direction="up" scrolldelay="44" scrollamount="1"><em><strong>&nbsp;<span class="white16">随意的风</span></strong></em>
		</marquee>
		</div><!--top21 -->
	</div><!--topleft-->
	
	<div id="topright">
	<table width="100%" height="66" border="0" cellpadding="0" cellspacing="0">
	  <tr>
		<td colspan="4" align="center" valign="middle"><font color="#005681">静看窗前花开花落,漫随心潮云卷云舒.天这样蓝，树这样绿，生活原来可以这样安宁和美丽！</font></td>
		<td align="center" valign="middle">&nbsp;</td>
	  </tr>
	  <tr align="center">
		<td colspan="4" align="center" valign="middle">太阳明天照样会升起，新的太阳，新的一天，新的生命，新的期待！太多不可预测，一切皆有可能。</td>
		<td align="right" valign="middle">期待&nbsp;</td>
	  </tr>
	  <tr>
		<td width="12" align="center" valign="middle">&nbsp;</td>
		<td width="165" rowspan="2" align="center" valign="middle" style="font-size:12px;">乘风破浪&middot;追风而行</td>
		<td width="249" align="center" valign="middle"><font color="#005681">前行路上,因为爱,被爱,责任</font></td>
		<td width="164"  rowspan="2" align="center" valign="middle"><a href="http://tansitong.memsky.com/templet/memorial/名山·峨眉.aspx?gid=34" style="color:#FFFFFF;font-size:12px" >禅心剑气</a>&nbsp;&nbsp;<a href="http://baike.baidu.com/view/1655.htm" style="color:#FFFFFF;font-size:12px">剑胆琴心</a></td>
		<td width="50" align="right" valign="middle">分享&nbsp;</td>
	  </tr>
	  <tr>
		<td width="12" align="center" valign="middle">&nbsp;</td>
		<td align="center" valign="middle">萌生了动力</td>
		<td width="50" align="right" valign="middle"><a href="javascript:void(null)" onclick="MM_showHideLayers('float1b','','show','float2b','','show','float3b','','show','float4b','','show')" onmouseover="MM_showHideLayers('float1b','','hide','float2b','','hide','float3b','','hide','float4b','','hide')">共鸣&nbsp;</a></td>
	  </tr>
	</table>
	</div><!--topright-->
</div><!--top -->
<div class="topdown">
	 <div class="topdown1"><a href="javascript:void(null)" target="_self" onclick="goto6(1)">天涯</a>·<a href="javascript:void(null)" target="_self" onclick="goto6(2)">流浪</a>·<a href="javascript:void(null)" target="_self" onclick="goto6(3)">随风</a></div>
		<div class="topdown2">&nbsp;天涯行客,山中归路,望断故园心眼 </div>
		<div class="menu">
<ul id="menu1">
<li><a href="javascript:void(null)" target="_self">wwu</a>
<ul><li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="whoarewho/youran.html">wwu</a></li>
        <li><a href="zfirst/exam.html">exam</a></li>
        <li><a href="file:///I|/wwuhn/no share picture/family/family.html">fam pic</a></li>
        <li><a href="javascript:void(null)">contact</a></li>
</ul></li>
<li><a href="javascript:void(null)" target="_self">reading</a>
<ul><li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="http://www.shuku.net/">Yifan</a></li>
        <li><a href="novel/english novel/gone with the wind/frame gone/gone.html">Gone</a></li>
        <li><a href="novel/平凡的世界/pingfa.html">Pingfan</a></li>
        <li><a href="novel/english novel/three days to see/three.html">Three</a></li>
        <li><a href="novel/english novel/who moved my cheese/who_moved_my_cheese.htm">Cheese</a></li>
</ul></li>
<li><a href="javascript:void(null)" target="_self">notes</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="file:///I|/wwuhn/website">website</a></li>
     
        <li><a href="schedule1.html">scheduleHTM</a></li>
        <li><a href="schedule.xlsx">schedule xls</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
        <li><a href="notes text.txt">notes text</a></li>
        <li><a href="notes html.html">notes html</a></li>
        <li><a href="notes word.docx">notes word</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
        <li><a href="doc/abstracts.xls">abstracts</a></li>
        <li><a href="doc/daily.xlsx">Daily</a></li>
        <li><a href="doc/Cyclopedia.xls" title="包括“读书记录和memo”">Cyclopedia</a></li>
        
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li>fileFolder</li>
        <li><a href="doc/">doc</a></li>
        <li><a href="doc/pc tips">pctips</a></li>
        <li><a href="deskpaper/">deskpaper</a></li>



</ul></li>
<li><a href="javascript:void(null)" target="_self">CCTV</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="http://tv.cntv.cn/epg">cctv jmd</a></li>
<li><a href="http://tv.cntv.cn/live/">cctv直播</a></li>
<li><a href="http://tv.cctv.com/top/index.shtml">cctv频道介绍</a></li>
<li><a href="http://www.tvsou.com/">TVsou</a></li>
<li><a href="http://www.tvmao.com/">TVmao</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://tv.cntv.cn/live/cctv1">1 综合</a></li>
<li><a href="http://tv.cntv.cn/live/cctv2">2 财经</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv3">3 综艺</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv4">4 国际</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv5">5 体育</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://tv.cntv.cn/live/cctv6">6  电影</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv7">7 军事农业</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv8">8 电视剧</a></li>
<li><a href="http://tv.cntv.cn/live/CCTV9ducumentary">9 纪录</a></li>		
<li><a href="http://tv.cntv.cn/live/cctv10">10 科教</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://tv.cntv.cn/live/cctv11">11 戏曲</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv12">12 社会与法</a></li>	
<li><a href="http://tv.cntv.cn/live/cctv13">13 新闻</a></li>
<li><a href="http://tv.cntv.cn/live/cctvchildren">14 少儿</a></li>
<li><a href="http://tv.cntv.cn/live/cctvmusic">15 音乐</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://tv.cntv.cn/live/cctv9">9 news</a></li>
<li><a href="http://tv.cntv.cn/live/cctvgaoqing">22 高清</a></li>
<li><a href="http://tv.cntv.cn/live/fengyunzuqiu/">cctv足球</a></li>
<li><a href="http://sports.cntv.cn/live/cctv5plus/">cctv5+</a></li>	
</ul></li>

<li><a href="javascript:void(null)" target="_self">Live</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://live.imgo.tv/">芒果TV</a></li>
<li><a href="http://www.gztv.com">GZTV live</a></li>
<li><a href="http://live.pptv.com/">PPTV</a></li>
<li><a href="http://zhibo.uusee.com/" title="广体、上体、BTV体、安徽、湖北、天津、广东、CETV1">UUsee</a></li>
<li><a href="http://www.pps.tv/" title="东方\江苏\北京\广东\安徽\四川\贵州">PPS</a>
<li><a href="http://zhibo.sports.qq.com/">QQ Live</a>		</li>
<li><a href="http://www.hunanzhibo.com/">hntvLive</a></li>
<li><a href="http://www.sopcast.cn/cn/" title="东方\江苏\北京">sopcast</a>&nbsp;</li>
</ul>
</li>
<li><a href="javascript:void(null)" target="_self">Music</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

    <li><a href="music/IStillBelieve.html">IStillBelieve</a></li><!--4-->
    <li><a href="music/ByeBye.html">ByeBye</a></li>
    <li><a href="music/hero.html">hero</a></li>
    <li><a href="music/Howfar.html">Howfar</a></li>
    <li><a href="music/IStayInLove.html">IStayInLove</a></li>
    <li><a href="music/ThroughTheRain.html">ThroughTheRain</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

    <li><a href="javascript:void(null)">MyHeartWillGoOn</a></li> <!--4-->
    <li><a href="music/casablanca.html">Casablanca</a></li>
    <li><a href="music/wearetheworld.html">wearetheworld</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

    <li><a href="music/donnot_ask.html">别问</a></li><!--4-->
    <li><a href="music/fangzhu.html">放逐</a></li><!--4-->
    <li><a href="music/IfIcould.html">If I Could</a></li><!--4-->
    <li><a href="takemetoyourheart.html">takemetoyourheart</a></li><!--4-->
    <li><a href="weicheng.html">weicheng</a></li>
    <li><a href="yilushang_yn.html">一路上有你</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

    <li><a href="music/float.html">float</a></li> <!--4-->
    <li><a href="music/IAmYourLove.html">我是你的女人</a></li>
    <li><a href="music/xing_alegl.html">新阿瓦尔古丽</a></li>
</ul>
</li>
<li><a href="javascript:void(null)" target="_self">Shopping</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

<li><a href="http://gz.58.com/">58同城</a></li>
		<li><a href="http://gz.ganji.com/">赶集网</a></li>
		<li><a href="http://guangzhou.baixing.com/">百姓网</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

		<li><a href="http://www.taobao.com/">淘宝网</a></li>
		<li><a href="http://www.amazon.cn/" title="wwuhnwu@163.bywufw">亚马逊</a></li>
		<li><a href="http://www.360buy.com/" title="">京东</a></li>
		<li><a href="http://www.dangdang.com/">当当网</a></li>
		<li><a href="http://www.paipai.com/">拍拍网</a></li>
		<li><a href="http://www.eachnet.com/">易趣网</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

		<li><a href="http://www.tmall.com/">Tmall</a></li>
		<li><a href="http://www.yihaodian.com/3/">1号店</a></li>
		<li><a href="http://www.vancl.com/">凡客诚品</a></li>
		<li><a href="http://www.suning.com/">苏宁易购</a></li>
		<li><a href="http://www.gome.com.cn/ec/homeus/index.html">国美电器</a></li>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

		<li><a href="http://vacations.ctrip.com/">携程网</a></li>
		<li><a href="http://www.17u.cn/">同程网</a></li>
		<li><a href="http://www.qunar.com/">去哪儿</a></li>

<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>

	<li><a href="http://china.alibaba.com" title="阿里巴巴小额批发">阿里巴巴</a></li>
	<li><a href="https://www.alipay.com/">支付宝</a></li>
        </ul>
    </li>


<li><a href="javascript:void(null)" target="_self">Encyclopedia</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="http://kejiao.cntv.cn/zuiai/index.shtml">科学世界</a></li>
<li><a href="Encyclopedia\douZhouXingYi.html">斗转星移</a></li>
<li><a href="http://docuchina.cntv.cn/bingdongxingqiu/videopage/index.shtml">冰冻星球</a></li>
<li><a href="http://docuchina.cntv.cn/lsclhy/videopage/index.shtml">梁思成林徽因</a></li>


</ul>
</li>


<li><a href="javascript:void(null)" target="_self">EXpress</a>
<ul>
<li style="border:0; height:4px; background-color:#fff; border-left:1px solid #603;  ">&nbsp;</li>
<li><a href="http://www.hao123.com/haoserver/kuaidi.htm">Hao123快递查询</a></li>
<li><a href="http://www.sf-express.com/cn/sc/">顺丰</a></li>
<li><a href="http://www.yto.net.cn/cn/index/index.html">圆通</a></li>
<li><a href="http://www.sto.cn/">申通</a></li>
<li><a href="http://www.zto.cn/">中通</a></li>
<li><a href="http://www.zto.cn/">汇通</a></li>
<li><a href="http://yjcx.chinapost.com.cn/">中国邮政</a></li>
<li><a href="http://www.htky365.com/">韵达</a></li>

</ul>
</li>


</li>   
</ul>
</div>
</div><!--topdown2 -->

<div id="mainx"> 
	<div class="main"><!--2 main -->
		<div class="left">
			<div id="tab">
<h3 class="up" onclick="goto1(1);">Overall 1st</h3>
<h3 onclick="goto1(2);">Reading</h3>
<h3 onclick="goto1(3);">Novel</h3>
<h3 onclick="goto1(4);">Classic</h3>
<h3 onclick="goto1(5);">Character</h3>
<h3 onclick="goto1(6);">Encyclopedia</h3>
<!--p11 block -->	
				<div class="block" id="c11">

			</div> <!--p11 block -->
<!--p12 reading -->
				<div>

			</div> <!--p12 reading -->
<!--p13 novel -->
				<div><!--p13 novel -->

				</div> <!--p13 novel -->
<!--p14 classic-->
				<div> <!--p14 classic-->
 
				</div> <!--p14 classic-->
<!--p15 character-->
				<div><!--p15 character-->

</div> <!--p15 character-->
<!--p16 encyclopedia-->
				<div>


<ul>
	<li><a href="http://car.autohome.com.cn/shuyu/index.html">汽车百科</a></li>
	
</ul> 
				</div><!--p16 Encyclopedia-->
			</div><!--tab1 -->
		</div > <!--left1 --> 
		
		<div class="right">
			<div id="tab2"><!--enterta -->
<h3 class="up" onclick="goto2(1);">News&TV</h3>
<h3 onclick="goto2(2);">Video</h3>
<h3 onclick="goto2(3);">Movie</h3>
<h3 onclick="goto2(4);">Music</h3>
<h3 onclick="goto2(5);">Pic Disc</h3>
<h3 onclick="goto2(6);">Play</h3>
	
				<div class="block" id="c21">


				</div> <!--p21 entertainment-->
				<div> <!--p22 video-->

				</div> <!--p22 video-->
				<div><!--p23 movie -->
 
				</div> <!--p23 movie -->
				<div><!--p24 music-->
 
				</div> <!--p24 mucsic-->
				<div>
	 
 
				</div> <!--p25 others-->
				<div><!--p25 play--> 
 
				</div> <!--p26 play-->
			</div> <!--#tab2 -->
		</div> <!--.right1 -->
	</div> 
	<!--main1 -->	
	
	<div class="main">
		<div class="left">
			<div id="tab3">
<h3 class="up" onclick="goto3(1);">Life</h3>
<h3 onclick="goto3(2);">Post</h3>
<h3 onclick="goto3(3);">Sportsdata</h3>
<h3 onclick="goto3(4);">Data</h3>
<h3 onclick="goto3(5);">Life</h3>
<h3 onclick="goto3(6);">PC encycl</h3>


				<div class="block"><!--p31 life -->
 
				</div><!--p31 life -->			
				<div><!--p32 post -->
  
				</div><!--p32 post-->
				<div><!--p33sports -->
 
				</div><!--p33 sports-->
				<div><!--p34 data -->
 
				</div><!--p34 data-->
				<div><!--p35s  others-->
 
				</div><!--p35 others-->
				<div>
 
				</div><!--p36 saying-->
			</div> <!--#tab3 -->
		</div >  <!--#left2 -->
	
		<div class="right">
			<div id="tab4">
<h3 class="up" onclick="goto4(1);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','show','c42','','hide','c43','','hide','c44','','hide','c45','','hide','c46','','hide','ones','','hide')">Learning</a></h3>
<h3 onclick="goto4(2);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','show','c43','','hide','c44','','hide','c45','','hide','c46','','hide','ones','','hide')">Computers</a></h3>
<h3 onclick="goto4(3);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','hide','c43','','show','c44','','hide','c45','','hide','c46','','hide','ones','','hide')">PCtips</a></h3>
<h3 onclick="goto4(4);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','hide','c43','','hide','c44','','show','c45','','hide','c46','','hide','ones','','hide')">English</a></h3>
<h3 onclick="goto4(5);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','hide','c43','','hide','c44','','hide','c45','','show','c46','','hide','ones','','hide')">Local拆</a></h3>
<h3 onclick="goto4(6);"><a href="javascript:void(null)" onclick="MM_showHideLayers('c41','','hide','c42','','hide','c43','','hide','c44','','hide','c45','','hide','c46','','show','ones','','hide')">Mysite</a></h3>
	
				<div class="block" id="c41"><!--learning -->
	
				</div><!--p41 learning-->	
				<div id="c42"><!--computers -->
 
				</div><!--p42 computers -->	
				<div id="c43"><!--pctips -->


				</div><!--p43 pctips-->
				<div id="c44"><!--english -->

				</div><!--p44 english-->	
				<div id="c45"><!--Local -->
 
				</div><!--p45 website-->
				<div id="c46">

				</div><!--p46 Others-->
			</div>  <!--#tab4 -->
		</div><!--.right2 -->
	</div>
	<!--main2 -->
</div><!--#mainx -->


<!--below is tv layer set-->
<div id="main8">
	<div id="tab8">
<h3 onclick="goto8(1);" >tools</h3>
<h3 onclick="goto8(2);" >Study</h3>
<h3 onclick="goto8(3);">模top10</h3>
<h3 onclick="goto8(4);">TV Live</h3>

		<div style="clear:both;"  class="block" >

</div>

<div>
	 
</div>

<div>

	</div>

<div>
	
</div>
</div>
</div>
<!--below is tv layer set-->
<div id="main5">
	<div id="tab5">
<h3 onclick="goto5(1);" title="周一至五，每天相同">W1-5m</h3>
<h3 onclick="goto5(2);" title="周一至五，按周重复">W1-5f</h3>
<h3 onclick="goto5(3);">Sat.</h3>
<h3 onclick="goto5(4);">Sun.</h3>

		<div>

		</div><!--p51 s1-5-->
		<div><!--d2-5-->

		</div><!--p52 d2-5-->
		
		<div><!--tab5-sat.-->
	
		</div><!--tab53 sat.-->
		
		<div><!--tab5-sun-->

		</div><!--tab54-sun.-->
	</div>
	<!--/*tab5*/-->
</div><!--/*main5*/--><!--above is tv layer set-->


<div id="footer">
<form name="formmain" id="formmain"  onSubmit="search()"  >
<input name="searchkey" type="text" id="searchkey" value="" size="35" onfocus=this.select(); onmouseover=this.select(); >
<input name="Submit"  type="button" style="line-height:18px;" value="    " onclick="search()" id="searchbutton" />

<input onclick="search();" name=radio type=radio id="rdbaidu" checked><a href="http://www.baidu.com">百度</a> 
<input onclick="search();" name=radio type=radio id="rd360sou"><a href="http://www.so.com/">360</a> 
    
<input onclick="search();"  name=radio type=radio id="rdgoogle"><a href="http://www.google.com/intl/zh-cn/">谷歌</a>
<input onclick="search();"  name=radio type=radio id="rdbingzonghe"><a href="http://www.bing.com/">必应</a>
<input onclick="search();" name=radio type=radio id="rdsogou"   ><a href="http://www.sogou.com" title="搜狐旗下搜索">搜狗</a>
<input onclick="search();" name=radio type=radio id="rdyahoozhongguo"><a href="http://www.yahoo.com.cn/">雅虎</a>

<input onclick="search();" name=radio type=radio id="rdyoudao"><a href="http://www.yodao.com/" title="网易旗下搜索">有道</a>
<input onclick="search();" name=radio type=radio id="rdsoso"><a href="http://www.soso.com" title="腾讯旗下搜索" >搜搜</a>
<input onclick="search();" name="radio" type="radio" id="rdgoogleen"><a href="http://www.google.com.hk/webhp?hl=en" >GoogleEn</a>
<input onclick="search();" type="radio" name="radio" id="rd_yahoo" value="radiobutton"><a href="http://www.yahoo.com/">Yahoo</a>
<input onclick="search();" type="radio" name="radio" id="rd_bing" value="radiobutton"><a href="http://www.yahoo.com/">bing</a>
<input onclick="search();" type="radio" name="radio" id="rd_gzlib" /><a href="http://www.gzlib.gov.cn/" title="0100000034867,sixthre">gzLibrary</a>&nbsp;6 oct.
</form>

</div>


</div>
<!--#frame -->

<!--#bg11 -->
</body>





<!--tab7-->
<div id="tab7">
	<div id="festivewri"></div>
	<div>&nbsp;</div>
	<div class="block">
<p><a href="http://www.zhibo8.com/">直播吧</a></p>


	</div>
</div>




<!--<div>
<ul>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul> 
</div>--><!--blank ul-->

<!--clock div-->
<div id="tim1" class="time"></div>
<!--<div id="tim2" class="time"></div>-->
<!--clock div-->

</html>
