*{
margin:0;
padding:0;
}

#frame{
	width:85%;
	margin:auto;
	line-height: 26px;
	font-size: 18px;
	font-family: "MV Boli";
	text-indent: 2em;
	overflow:hidden;
}

.layout{
    clear:both;
	width:85%;
	border:0px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
}
.preface{
    clear:both;
	width:83%;
	margin:auto;
	margin-bottom:15px;
	margin-top:15px;

	font-size:18px;
	color:#0000FF;
	color:#606000;
	border:0px dotted #0000FF;
	text-align:left;text-indent:0em;

}

.layout+.preface{

	width:45%;
	margin:auto;
	margin-bottom:15px;
	margin-top:15px;

	font-size:18px;
	color:#0000FF;
	color:#606000;
	border:1px dotted #0000FF;
	text-align:left;text-indent:0em;
	float:left;

}
.preface p{
text-indent:0em;
}
.left, .right{
margin-bottom:-55px;
padding-bottom:55px;
text-align: justify;
margin-left:1%;
margin-right:1%;

}

.left {
	float:left;
	width:60%;
text-align: justify;
	font-size:20px;
	
}
.right {
	float: right;
	width:34%;
	border-left:1px dotted #cccccc;
	font-size:16PX;
	padding-left:1%;
	text-align: justify;
}

:first-letter111{

color:#0033cc;
font-weight:bold;
text-shadow:yellow .15em .15em .15em;
}
p{
margin-bottom:10px;
margin-top:10px;
}



.left1 {
	float: left;
	width:59%;
	margin-right: 5px;
	color: #0000FF;
	font-size: 16px;
}

.nav{
    clear:both;
	width:85%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	height:24px;
	font:normal bold 18px "宋体" ;
	font-family:"MV Boli";
	color:#0000FF;
	white-space:nowrap;
}

li{
float:right;
list-style-type:none;
}

.left3 {
	float:left;
	width:15%;
	margin-right:5px;		border:yellow solid 0px;
	text-align:left;
	text-indent:0em;
	padding-left:1%;
}
.mid3 {
	float:left;
	width:43%;
	text-align:left;
	font-family:"华文隶书";
	font-family:Verdana, Arial, Helvetica, sans-serif;

	color:#370037;
		border:blue solid 0px;
		white-space:nowrap;
		overflow:hidden;
}
.mid31 {
	float:left;
	width:43%;
	text-align:left;
	font-family:"华文隶书";

	color:#370037;
		border:blue solid 0px;
}
.right3 {
	float: right;
	width:33%;
	border:red solid 0px;
	text-align:left;
	font-size:90%;	
}
.right3 p{
text-indent:0em;
}


h3{
text-indent:0em;
font-size:22px;
}
.picsay{
font-size:80%;
color:#660000;
text-indent:0em;
}
.picp{
text-indent:0em; 

margin-top:0px;"
 }
 
 .right h3{
 font-size:18px;
 }
 
.quo{
font-size:90%;
color:#930;
}

.quo1{
font-size:90%;
color:#930;
margin-top:15px;
111margin-bottom:-22px;
}
.quo1>p+p{
text-align:right;
}