*{
margin:0;
padding:0;
}

#frame{
	width:90%;
	margin:auto;
	line-height: 26px;
	font-size: 18px;
	font-family: "MV Boli";
	text-indent: 2em;
	overflow:hidden;
}

.layout{
    clear:both;
	width:90%;
	border:1px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
}
.preface{
    clear:both;
	width:90%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	font-size:18px;
	color:#0000FF;
	color:#606000;
	border:0px dotted #0000FF;
	text-align:left;
}
.left, .right{
margin-bottom:-55px;
padding-bottom:55px;
}

.left {
	float:left;
	width:64%;
	margin-right:5px;
	font-size:20px;
}
.right {
	float: right;
	width:35%;
	border-left:1px dotted #cccccc;
	font-size:16PX;
	
}

:first-letter111{

color:#0033cc;
font-weight:bold;
text-shadow:yellow .15em .15em .15em;
}
p{
margin-bottom:10px;
margin-top:10px;
}



.left1 {
	float: left;
	width:59%;
	margin-right: 5px;
	color: #0000FF;
	font-size: 16px;
}

.nav{
    clear:both;
	width:90%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	height:24px;
	font:normal bold 18px "宋体" ;
	font-family:"MV Boli";
	color:#0000FF;
}

li{
float:right;
list-style-type:none;
font-size:16px;
width:33%;
}

.left3 {
	float:left;
	width:18%;
	margin-right:5px;
	font-size:80%;
}
.mid3 {
	float:left;
	width:48%;
	text-align:center;	font-size:80%;
}
.mid31 {
	float:left;
	width:48%;
	text-align:center;
	font-family:"华文隶书";
	font-size:80%;
	color:#370037;
	
}
.right3 {
	float: right;
	width:33%;
	font-size:80%;	
}
