
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;}
@font-face
	{font-family:"Tms Rmn";
	panose-1:2 2 6 3 4 5 5 2 3 4;}
@font-face
	{font-family:Helv;
	panose-1:2 11 6 4 2 2 2 3 2 4;}
@font-face
	{font-family:"New York";
	panose-1:2 4 5 3 6 5 6 2 3 4;}
@font-face
	{font-family:System;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Mincho";
	panose-1:2 2 6 9 4 2 5 8 3 4;}
@font-face
	{font-family:Batang;
	panose-1:2 3 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:PMingLiU;
	panose-1:2 1 6 1 0 1 1 1 1 1;}
@font-face
	{font-family:"MS Gothic";
	panose-1:2 11 6 9 7 2 5 8 2 4;}
@font-face
	{font-family:Dotum;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:SimHei;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:MingLiU;
	panose-1:2 1 6 9 0 1 1 1 1 1;}
@font-face
	{font-family:Mincho;
	panose-1:2 2 6 9 4 3 5 8 3 5;}
@font-face
	{font-family:Gulim;
	panose-1:2 11 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:Century;
	panose-1:2 4 6 3 5 7 5 2 3 3;}
@font-face
	{font-family:"Angsana New";
	panose-1:2 2 6 3 5 4 5 2 3 4;}
@font-face
	{font-family:"Cordia New";
	panose-1:2 11 3 4 2 2 2 2 2 4;}
@font-face
	{font-family:Mangal;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Latha;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Sylfaen;
	panose-1:1 10 5 2 5 3 6 3 3 3;}
@font-face
	{font-family:Vrinda;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Raavi;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Shruti;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Sendnya;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Gautami;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:Tunga;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Estrangella Edessa";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Verdana;
	panose-1:2 4 5 2 5 4 5 2 3 3;}
@font-face
	{font-family:"American Typewriter";
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Courier New";
	panose-1:2 11 5 9 0 0 0 0 0 4;}
@font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Verdana;
	panose-1:2 2 6 3 5 4 5 2 3 4;}
@font-face
	{font-family:"Serifa 55";
	panose-1:0 0 0 0 0 0 0 0 0 0;}

 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:25pt;
	font-size:15pt;
	font-family:Verdana;}
h1
	{margin-top:12.0pt;
	margin-right:-76.3pt;
	margin-bottom:12.0pt;
	margin-left:-85.7pt;
	text-indent:85.7pt;
	page-break-after:avoid;
	font-size:24.0pt;
	font-family:Verdana;
	font-weight:bold;}
h2
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:-.1in;
	page-break-after:avoid;
	font-size:18.0pt;
	font-family:Verdana;
	font-weight:bold;}
h3
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Verdana;
	font-weight:bold;}
h4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:16pt;
	page-break-after:avoid;
	font-size:13pt;
	font-family:Verdana;
	font-weight:bold;
    color:blue;}
h5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:13pt;
	page-break-after:avoid;
	font-size:10pt;
	font-family:Verdana;
	font-weight:normal;}
h6
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:11.0pt;
	font-family:Verdana;
	font-weight:normal;
	font-style:italic;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Arial;
	font-weight:bold;
	font-style:italic;}
p.MsoIndex1, li.MsoIndex1, div.MsoIndex1
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:10.5pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex2, li.MsoIndex2, div.MsoIndex2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex3, li.MsoIndex3, div.MsoIndex3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:31.5pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex4, li.MsoIndex4, div.MsoIndex4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:42.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex5, li.MsoIndex5, div.MsoIndex5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:52.5pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex6, li.MsoIndex6, div.MsoIndex6
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:63.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex7, li.MsoIndex7, div.MsoIndex7
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:73.5pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex8, li.MsoIndex8, div.MsoIndex8
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoIndex9, li.MsoIndex9, div.MsoIndex9
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:94.5pt;
	margin-bottom:.0001pt;
	text-indent:-10.5pt;
	line-height:13pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:18.0pt;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.7in;
	margin-bottom:.0001pt;
	line-height:13pt;
	font-size:8.0pt;
	font-family:Verdana;}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:30.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:40.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:50.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:60.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:70.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:80.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:18.0pt;
	font-size:12.0pt;
	font-family:Verdana;}
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.25in;
	line-height:12.0pt;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:Verdana;}
p.MsoIndexHeading, li.MsoIndexHeading, div.MsoIndexHeading
	{margin-top:.25in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	border:none;
	padding:0in;
	font-size:13.0pt;
	font-family:Verdana;
	font-weight:bold;
	font-style:italic;}
p.MsoCaption, li.MsoCaption, div.MsoCaption
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;}
p.MsoTof, li.MsoTof, div.MsoTof
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:20.0pt;
	text-indent:-20.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoEnvelopeAddress, li.MsoEnvelopeAddress, div.MsoEnvelopeAddress
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:2.0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;}
p.MsoEnvelopeReturn, li.MsoEnvelopeReturn, div.MsoEnvelopeReturn
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;}
span.MsoFootnoteReference
	{font-family:Verdana;
	position:relative;
	top:-4.0pt;
	font-size:12.0pt;}
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoToa, li.MsoToa, div.MsoToa
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:10.0pt;
	text-indent:-10.0pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoMacroText, li.MsoMacroText, div.MsoMacroText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:normal;
	font-size:10.0pt;
	font-family:"Courier New";}
p.MsoToaHeading, li.MsoToaHeading, div.MsoToaHeading
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoList, li.MsoList, div.MsoList
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListBullet, li.MsoListBullet, div.MsoListBullet
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.5in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListNumber, li.MsoListNumber, div.MsoListNumber
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoList2, li.MsoList2, div.MsoList2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoList3, li.MsoList3, div.MsoList3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.75in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoList4, li.MsoList4, div.MsoList4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.0in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoList5, li.MsoList5, div.MsoList5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.25in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListBullet2, li.MsoListBullet2, div.MsoListBullet2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListBullet3, li.MsoListBullet3, div.MsoListBullet3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.75in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListBullet4, li.MsoListBullet4, div.MsoListBullet4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.0in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListBullet5, li.MsoListBullet5, div.MsoListBullet5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.25in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListNumber2, li.MsoListNumber2, div.MsoListNumber2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListNumber3, li.MsoListNumber3, div.MsoListNumber3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.75in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListNumber4, li.MsoListNumber4, div.MsoListNumber4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.0in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListNumber5, li.MsoListNumber5, div.MsoListNumber5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.25in;
	text-indent:-.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoClosing, li.MsoClosing, div.MsoClosing
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:3.0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoSignature, li.MsoSignature, div.MsoSignature
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:3.0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:"Verdana";}
p.MsoListContinue, li.MsoListContinue, div.MsoListContinue
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListContinue2, li.MsoListContinue2, div.MsoListContinue2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListContinue3, li.MsoListContinue3, div.MsoListContinue3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.75in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListContinue4, li.MsoListContinue4, div.MsoListContinue4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoListContinue5, li.MsoListContinue5, div.MsoListContinue5
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:1.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoMessageHeader, li.MsoMessageHeader, div.MsoMessageHeader
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.75in;
	text-indent:-.75in;
	line-height:12.0pt;
	background:#CCCCCC;
	border:none;
	padding:0in;
	font-size:10pt;
	font-family:Verdana;}
p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	text-align:center;
	line-height:13pt;
	font-size:10pt;
	font-family:Arial;}
p.MsoSalutation, li.MsoSalutation, div.MsoSalutation
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoDate, li.MsoDate, div.MsoDate
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoBodyTextFirstIndent, li.MsoBodyTextFirstIndent, div.MsoBodyTextFirstIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	text-indent:10.5pt;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;}
p.MsoBodyTextFirstIndent2, li.MsoBodyTextFirstIndent2, div.MsoBodyTextFirstIndent2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	text-indent:10.5pt;
	line-height:13pt;
	font-size:12.0pt;
	font-family:Verdana;}
p.MsoNoteHeading, li.MsoNoteHeading, div.MsoNoteHeading
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:8.0pt;
	font-family:Verdana;}
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:200%;
	font-size:10pt;
	font-family:Verdana;}
p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:8.0pt;
	font-family:Verdana;}
p.MsoBlockText, li.MsoBlockText, div.MsoBlockText
	{margin-top:0in;
	margin-right:1.0in;
	margin-bottom:12.0pt;
	margin-left:1.0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:none;}
a:visited, span.MsoHyperlinkFollowed
	{color:blue;
	text-decoration:none;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	background:navy;
	font-size:10pt;
	font-family:Tahoma;}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:13pt;
	font-size:10pt;
	font-family:"Courier New";}
p.MsoAutoSig, li.MsoAutoSig, div.MsoAutoSig
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:"Verdana";}
address
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;
	font-style:italic;}
code
	{font-family:"Courier New";}
pre
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10.0pt;
	font-family:"Courier New";}
tt
	{font-family:"Courier New";}
p.Intro, li.Intro, div.Intro
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:0in;
	line-height:18.0pt;
	font-size:14.0pt;
	font-family:Verdana;
    color:#aa0000;
    }
p.Preformatted, li.Preformatted, div.Preformatted
	{margin-top:5.0pt;
	margin-right:0in;
	margin-bottom:5.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:"Courier New";}
p.Numbered, li.Numbered, div.Numbered
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.7in;
	text-indent:-.45in;
	line-height:18pt;
	font-size:12pt;
	font-family:Verdana;}
p.contents, li.contents, div.contents
	{margin-top:12.0pt;
	margin-right:-76.3pt;
	margin-bottom:12.0pt;
	margin-left:-85.7pt;
	text-indent:85.7pt;
	page-break-after:avoid;
	font-size:24.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.CC1, li.CC1, div.CC1
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:18.0pt;
	border:none;
	padding:0in;
	font-size:14.0pt;
	font-family:"Courier New";}
span.CC1Char
	{font-family:"Courier New";}
p.CodeInlineCharCharChar1CharCharCharCharCharChar, li.CodeInlineCharCharChar1CharCharCharCharCharChar, div.CodeInlineCharCharChar1CharCharCharCharCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:12.0pt;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:"Courier New";}
p.CodeInlineTrailerCharChar, li.CodeInlineTrailerCharChar, div.CodeInlineTrailerCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:normal;
	font-size:3.0pt;
	font-family:"Courier New";}
span.CodeInlineCharCharChar1CharCharCharCharCharCharChar
	{font-family:"Courier New";}
p.NumberList, li.NumberList, div.NumberList
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:1.25in;
	margin-bottom:.0001pt;
	text-indent:-.3in;
	line-height:normal;
	font-size:9.5pt;
	font-family:Verdana;
	color:black;}
p.TableHead, li.TableHead, div.TableHead
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:14.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.Table, li.Table, div.Table
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.Figure, li.Figure, div.Figure
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:15pt;
	font-size:12pt;
	font-family:Verdana;}
p.AfterTable, li.AfterTable, div.AfterTable
	{margin-top:9.0pt;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10pt;
	font-family:Verdana;}
p.BulletTIJ, li.BulletTIJ, div.BulletTIJ
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.75in;
	line-height:12.0pt;
	font-size:10pt;
	font-family:Verdana;}
p.drawingtext, li.drawingtext, div.drawingtext
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.25in;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;}
p.ExercisesCharCharCharCharChar, li.ExercisesCharCharCharCharChar, div.ExercisesCharCharCharCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.7in;
	margin-bottom:.0001pt;
	text-indent:-.45in;
	line-height:17pt;
	font-size:12pt;
	font-family:Verdana;}
span.Typewriter
	{font-family:"Courier New";}
span.CODE
	{font-family:"Courier New";}
p.AfterPicture, li.AfterPicture, div.AfterPicture
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
span.Illustration
	{font-family:"Serifa 55";
	font-style:italic;}
span.pro
	{color:fuchsia;}
span.r
	{color:red;}
p.Guidelines, li.Guidelines, div.Guidelines
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:-.1in;
	page-break-after:avoid;
	font-size:18.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.BulletSeminar, li.BulletSeminar, div.BulletSeminar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	text-indent:-.25in;
	font-size:14.0pt;
	font-family:"Verdana";}
p.TOCspace, li.TOCspace, div.TOCspace
	{margin:0in;
	margin-bottom:.0001pt;
	line-height:25%;
	font-size:10pt;
	font-family:Verdana;}
p.STLAlgorithmCharChar, li.STLAlgorithmCharChar, div.STLAlgorithmCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:.25in;
	line-height:20pt;
	border:none;
	padding:0in;
	font-size:15.0pt;
	font-family:"Courier New";}
span.STLAlgorithmCharCharChar
	{font-family:"Courier New";}
span.CodeCharChar
	{font-family:"Courier New";}
span.CodeInlineCharCharChar
	{font-family:"Courier New";}
span.CodeInlineTrailerCharCharChar
	{font-family:"Courier New";}
p.Exercises, li.Exercises, div.Exercises
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.75in;
	text-indent:-.25in;
	line-height:14.0pt;
	font-size:11.0pt;
	font-family:Verdana;}
span.CodeCharCharChar
	{font-family:"Courier New";}
p.ChapterTitle, li.ChapterTitle, div.ChapterTitle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:.5in;
	margin-left:.5in;
	background:white;
	font-size:32.0pt;
	font-family:Verdana;}
p.CodeInlineCharCharChar1CharCharChar, li.CodeInlineCharCharChar1CharCharChar, div.CodeInlineCharCharChar1CharCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:12.0pt;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:"Courier New";}
p.CodeInlineTrailerChar, li.CodeInlineTrailerChar, div.CodeInlineTrailerChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:1.0pt;
	margin-left:.85in;
	line-height:normal;
	font-size:3.0pt;
	font-family:Verdana;}
span.CodeInlineCharCharChar1CharCharCharChar
	{font-family:"Courier New";}
p.Bullet, li.Bullet, div.Bullet
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.2in;
	margin-bottom:.0001pt;
	line-height:normal;
	font-size:12.0pt;
	font-family:"Tms Rmn";
	color:black;}
p.EmphasisP, li.EmphasisP, div.EmphasisP
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:-.1in;
	margin-bottom:.0001pt;
	line-height:13pt;
	page-break-after:avoid;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	font-style:italic;}
p.makeapoint, li.makeapoint, div.makeapoint
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.8in;
	font-size:14.0pt;
	font-family:Verdana;
	font-style:italic;}
p.DrawingObject, li.DrawingObject, div.DrawingObject
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:0in;
	text-align:center;
	line-height:11.0pt;
	font-size:10pt;
	font-family:Arial;
	color:black;
	letter-spacing:-.2pt;}
p.Comments, li.Comments, div.Comments
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:22.0pt;
	page-break-after:avoid;
	font-size:18.0pt;
	font-family:Verdana;}
p.TitleNoTOC, li.TitleNoTOC, div.TitleNoTOC
	{margin-top:0in;
	margin-right:-76.3pt;
	margin-bottom:12.0pt;
	margin-left:49.7pt;
	text-indent:-.75in;
	page-break-after:avoid;
	background:white;
	font-size:38.0pt;
	font-family:Verdana;
	color:black;}
p.TitlePage1, li.TitlePage1, div.TitlePage1
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.25in;
	text-align:center;
	font-size:79.0pt;
	font-family:Verdana;
	letter-spacing:-1.0pt;}
p.TitlePage2, li.TitlePage2, div.TitlePage2
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	background:white;
	font-size:32.0pt;
	font-family:Verdana;}
p.TitlePage3, li.TitlePage3, div.TitlePage3
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:.25in;
	margin-left:0in;
	text-align:center;
	line-height:72.0pt;
	background:white;
	font-size:80.0pt;
	font-family:Verdana;
	color:black;
	letter-spacing:-1.0pt;}
p.TitlePage4, li.TitlePage4, div.TitlePage4
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:.25in;
	margin-left:0in;
	text-align:center;
	background:white;
	font-size:20.0pt;
	font-family:Verdana;}
p.TitlePage5, li.TitlePage5, div.TitlePage5
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	background:white;
	font-size:32.0pt;
	font-family:Verdana;}
p.TitlePage6, li.TitlePage6, div.TitlePage6
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:.5in;
	margin-left:0in;
	text-align:center;
	background:white;
	font-size:20.0pt;
	font-family:Verdana;}
p.TabularText, li.TabularText, div.TabularText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.TableFollower, li.TableFollower, div.TableFollower
	{margin-top:9.0pt;
	margin-right:0in;
	margin-bottom:9.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.Quote, li.Quote, div.Quote
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.25in;
	line-height:13pt;
	font-size:10pt;
	font-family:Verdana;}
p.LicenseAgreement, li.LicenseAgreement, div.LicenseAgreement
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:13.0pt;
	font-size:9.0pt;
	font-family:Verdana;}
p.DefinitionList, li.DefinitionList, div.DefinitionList
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:13pt;
	font-size:10pt;
	font-family:"Verdana";}
p.tocspace0, li.tocspace0, div.tocspace0
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:3.0pt;
	font-size:10pt;
	font-family:Verdana;}
p.TOCPart, li.TOCPart, div.TOCPart
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:18.0pt;
	page-break-after:avoid;
	background:#E0E0E0;
	font-size:14.0pt;
	font-family:Verdana;}
p.parttitle, li.parttitle, div.parttitle
	{margin-top:12.0pt;
	margin-right:-76.3pt;
	margin-bottom:12.0pt;
	margin-left:-85.7pt;
	text-indent:85.7pt;
	page-break-after:avoid;
	font-size:48.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.Partbleed, li.Partbleed, div.Partbleed
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:normal;
	page-break-after:avoid;
	background:#E0E0E0;
	font-size:24.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.tabletext, li.tabletext, div.tabletext
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:15pt;
	font-size:12pt;
	font-family:Verdana;}
p.tablehead0, li.tablehead0, div.tablehead0
	{margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:13pt;
	font-size:12.0pt;
	font-family:Verdana;
	font-weight:bold;}
p.Code0, li.Code0, div.Code0
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:14.0pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Courier New";
	color:black;}
p.CodeInlineChar, li.CodeInlineChar, div.CodeInlineChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.25in;
	line-height:12.0pt;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:"Courier New";}
span.ExercisesCharCharCharCharCharChar
	{font-family:Verdana;}
p.CodeCharChar1CharCharCharCharChar, li.CodeCharChar1CharCharCharCharChar, div.CodeCharChar1CharCharCharCharChar
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	border:none;
	padding:0in;
	font-size:10pt;
	font-family:"Courier New";}
span.CodeInlineCharChar
	{font-family:"Courier New";}
span.CodeInlineTrailerCharChar1
	{font-family:Verdana;}
ins
	{text-decoration:none;}
span.msoIns
	{text-decoration:underline;}
span.msoDel
	{text-decoration:line-through;
	color:red;}
 <font color=#7F7F7F>/* Page Definitions */</font>
 @page Section1
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section1
	{page:Section1;}
@page Section2
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section2
	{page:Section2;}
@page Section3
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section3
	{page:Section3;}
@page Section4
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section4
	{page:Section4;}
@page Section5
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section5
	{page:Section5;}
@page Section6
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 135.35pt 1.75in;}
div.Section6
	{page:Section6;}
@page Section7
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section7
	{page:Section7;}
@page Section8
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section8
	{page:Section8;}
@page Section9
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section9
	{page:Section9;}
@page Section10
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section10
	{page:Section10;}
@page Section11
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section11
	{page:Section11;}
@page Section12
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section12
	{page:Section12;}
@page Section13
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section13
	{page:Section13;}
@page Section14
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section14
	{page:Section14;}
@page Section15
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section15
	{page:Section15;}
@page Section16
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section16
	{page:Section16;}
@page Section17
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section17
	{page:Section17;}
@page Section18
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section18
	{page:Section18;}
@page Section19
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section19
	{page:Section19;}
@page Section20
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section20
	{page:Section20;}
@page Section21
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section21
	{page:Section21;}
@page Section22
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section22
	{page:Section22;}
@page Section23
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section23
	{page:Section23;}
@page Section24
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section24
	{page:Section24;}
@page Section25
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section25
	{page:Section25;}
@page Section26
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section26
	{page:Section26;}
@page Section27
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section27
	{page:Section27;}
@page Section28
	{size:8.5in 11.0in;
	margin:135.35pt 1.5in 1.6in 1.75in;}
div.Section28
	{page:Section28;}
 <font color=#7F7F7F>/* List Definitions */</font>
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->