BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: arial
}
TD {
	FONT-FAMILY: arial
}
.p1 {
	FONT-FAMILY: arial
}
.p2 {
	FONT-FAMILY: arial
}
:link {
	COLOR: #03c
}
IMG {
	ms-interpolation-mode: bicubic
}
#container {
	MARGIN: 1px 0px 0px 2px
}
.clearfix {
	ZOOM: 1
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: ' '
}
#htb .i {
	BORDER-RIGHT: #8f99a2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #8f99a2 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #8f99a2 1px solid; WIDTH: 196px; MARGIN-RIGHT: 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #8f99a2 1px solid; FONT-FAMILY: Arial,sans-serif; HEIGHT: 14px
}
.logo {
	WIDTH: 107px
}
.logo IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.sb {
	FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/image/littlebg.png) #ddd -30px -38px; VERTICAL-ALIGN: bottom; WIDTH: 65px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
.m1 TD {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.mo TD {
	COLOR: #000; BACKGROUND-COLOR: #e2eaff
}
#sug B {
	COLOR: #333
}
#sugOut {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 1000; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; PADDING-TOP: 0px; ZOOM: 1; POSITION: relative; BORDER-RIGHT-WIDTH: 0px
}
#sug {
	BORDER-RIGHT: #817f82 1px solid; BORDER-TOP: #817f82 1px solid; DISPLAY: none; LEFT: 0px; OVERFLOW: hidden; BORDER-LEFT: #817f82 1px solid; BORDER-BOTTOM: #817f82 1px solid; POSITION: absolute; TOP: 28px; moz-user-select: none
}
#sug_t {
	TABLE-LAYOUT: fixed
}
#sug TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 14px verdana; OVERFLOW: hidden; WIDTH: 194px; WORD-BREAK: keep-all; PADDING-TOP: 2px
}
#sug TD A {
	DISPLAY: inline; FLOAT: none; MARGIN: 0px
}
#sugOff {
	DISPLAY: none; BACKGROUND: #fbf2b0; LEFT: 0px; OVERFLOW: hidden; WIDTH: 250px! important; LINE-HEIGHT: 22px; POSITION: absolute; HEIGHT: 22px; moz-user-select: none
}
#imgFrom {
	PADDING-BOTTOM: 4px; WIDTH: 100%; WORD-BREAK: break-all
}
#imgFrom TD {
	VERTICAL-ALIGN: bottom
}
#imgFrom FORM {
	FLOAT: left
}
#imgFrom .center {
	FLOAT: left
}
#imgFrom FORM {
	WIDTH: 375px
}
#imgFrom .center {
	MARGIN-TOP: 16px; min-width: 85px
}
#imgFrom .right {
	MARGIN-TOP: 13px; FLOAT: right; WIDTH: 100px
}
#backToRs {
	FLOAT: left; COLOR: #000; MARGIN-RIGHT: 5px; FONT-FAMILY: simsun; TEXT-ALIGN: left; min-width: 85px
}
#backToRs A {
	COLOR: #03c; TEXT-DECORATION: none
}
#backToRs A:hover {
	TEXT-DECORATION: underline
}
#backToRs SPAN {
	MARGIN-LEFT: 12px
}
#rightPart {
	MARGIN-TOP: 35px
}
#imgContainer {
	FONT-SIZE: 12px; FONT-FAMILY: Arial
}
#detailImg {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; FLOAT: left; BORDER-LEFT: #dadada 1px solid; MARGIN-RIGHT: -103px; BORDER-BOTTOM: #dadada 1px solid
}
#picWrap {
	MARGIN: 0px auto
}
.prePage {
	CURSOR: url('http://img.baidu.com/img/image/mouseup_is.cur'),pointer
}
.nextPage {
	CURSOR: url('http://img.baidu.com/img/image/mousedown_is.cur'),pointer
}
.lastPage {
	CURSOR: auto
}
.firstPage {
	CURSOR: auto
}
#album {
	WIDTH: 103px; POSITION: absolute; TOP: 5px
}
#picInfo {
	MARGIN: 0px auto; HEIGHT: 29px
}
#picInfo TD {
	OVERFLOW: visible
}
.imgTitle {
	TEXT-DECORATION: none
}
.imgTitle:hover {
	TEXT-DECORATION: underline
}
#logo A {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 12px 0px 2px
}
#ft {
	MARGIN-TOP: 35px; FONT-SIZE: 12px; COLOR: #77c; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: center
}
#ft SPAN {
	COLOR: #666
}
#report {
	MARGIN-LEFT: 8px; CURSOR: pointer; COLOR: #999; TEXT-DECORATION: underline
}
#imgSite {
	FLOAT: left; COLOR: #898988
}
#imgSite A {
	COLOR: #898988; TEXT-DECORATION: none
}
.fontBar {
	FONT-SIZE: 12px
}
#smallImgs {
	OVERFLOW: hidden; WIDTH: 103px; POSITION: relative; HEIGHT: 493px
}
#imgList {
	MARGIN-LEFT: 8px; WIDTH: 95px; POSITION: absolute; TOP: -99px
}
#imgList DIV {
	MARGIN: 0px auto 5px; OVERFLOW: hidden; WIDTH: 94px; CURSOR: pointer; HEIGHT: 94px
}
#imgList DIV TABLE {
	MARGIN: 0px; WIDTH: 94px; HEIGHT: 94px
}
#imgList DIV TABLE TD {
	OVERFLOW: hidden; PADDING-TOP: 1px
}
#imgList .noImg {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) no-repeat 0px -326px; CURSOR: auto
}
#imgList .noImgLast {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) no-repeat 0px -419px; CURSOR: auto
}
#slidePre {
	DISPLAY: block; MARGIN: 0px 0px 5px 8px; WIDTH: 95px; HEIGHT: 26px
}
#isAlbum {
	POSITION: absolute; TOP: 3px
}
#isTop {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -312px; MARGIN: 0px 0px 0px 8px; OVERFLOW: hidden; WIDTH: 94px; HEIGHT: 7px
}
#isFoot {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -318px; MARGIN: 0px 0px 0px 8px; OVERFLOW: hidden; WIDTH: 94px; HEIGHT: 7px
}
#isInfo {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 0px solid; BACKGROUND: #fafafa; MARGIN: 0px 0px 0px 8px; BORDER-LEFT: #efefef 1px solid; WIDTH: 90px; BORDER-BOTTOM: #efefef 0px solid; HEIGHT: 18px; TEXT-ALIGN: center
}
#isSmallImgs {
	BORDER-RIGHT: #efefef 1px solid; BORDER-TOP: #efefef 0px solid; BACKGROUND: #fafafa; MARGIN-LEFT: 8px; OVERFLOW: hidden; BORDER-LEFT: #efefef 1px solid; WIDTH: 90px; BORDER-BOTTOM: #efefef 0px solid; POSITION: relative; HEIGHT: 400px
}
#isimgList {
	WIDTH: 90px; POSITION: absolute; TOP: -79px
}
#isimgList DIV {
	MARGIN: 0px auto 10px; OVERFLOW: hidden; WIDTH: 81px; CURSOR: pointer; HEIGHT: 81px
}
#isimgList DIV TABLE {
	WIDTH: 81px; HEIGHT: 77px
}
#isimgList DIV TABLE TD {
	OVERFLOW: hidden
}
#isimgList TD IMG {
	DISPLAY: none
}
#isSlidePre {
	DISPLAY: block; MARGIN: 4px 0px 5px 8px; OVERFLOW: hidden; WIDTH: 90px; HEIGHT: 25px
}
#isSlideNext {
	DISPLAY: block; MARGIN: 5px 0px 0px 8px; OVERFLOW: hidden; WIDTH: 90px; HEIGHT: 25px
}
.preNormal#isSlidePre {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -154px; CURSOR: pointer
}
.preHover#isSlidePre {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -103px; CURSOR: pointer
}
.preNone#isSlidePre {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.nextNormal#isSlideNext {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -173px; CURSOR: pointer
}
.nextHover#isSlideNext {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -128px; CURSOR: pointer
}
.nextNone#isSlideNext {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.isImg TD {
	BACKGROUND: url(http://img.baidu.com/img/image/imgsetBack.gif) no-repeat 0px -147px
}
.select .isImg TD {
	BACKGROUND: url(http://img.baidu.com/img/image/imgsetBack.gif) no-repeat -2px -149px
}
.noselect .isImg {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#isAlbum .noselect TABLE {
	BORDER-RIGHT: #fafafa 2px solid; BORDER-TOP: #fafafa 2px solid; BORDER-LEFT: #fafafa 2px solid; BORDER-BOTTOM: #fafafa 2px solid
}
#arrow {
	Z-INDEX: 2; BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) no-repeat -83px -292px; MARGIN-LEFT: -5px; WIDTH: 10px; POSITION: absolute; HEIGHT: 20px
}
#isInfo {
	FONT-SIZE: 12px
}
.preNormal {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -51px; CURSOR: pointer
}
.preHover {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px 0px; CURSOR: pointer
}
.preNone {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#slideNext {
	DISPLAY: block; MARGIN: 5px 0px 0px 8px; WIDTH: 95px; HEIGHT: 26px
}
.nextNormal {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -74px; CURSOR: pointer
}
.nextHover {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) 0px -25px; CURSOR: pointer
}
.nextNone {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.select TABLE {
	BORDER-RIGHT: #2e94d4 2px solid; BORDER-TOP: #2e94d4 2px solid; BORDER-LEFT: #2e94d4 2px solid; BORDER-BOTTOM: #2e94d4 2px solid
}
#imgList .select TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.noselect TABLE {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; BORDER-LEFT: #c7c7c7 1px solid; BORDER-BOTTOM: #c7c7c7 1px solid
}
#size {
	COLOR: #898988
}
.zoomsrc {
	DISPLAY: block; PADDING-LEFT: 13px; BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) no-repeat 0px -274px; OVERFLOW: hidden; COLOR: #898988; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-DECORATION: none
}
.zoomsrc:hover {
	BACKGROUND: url(http://img.baidu.com/img/image/detailBtn.gif) no-repeat 0px -293px
}
.rate {
	PADDING-RIGHT: 5px; OVERFLOW: hidden; COLOR: #898988
}
#floatDivContainer {
	Z-INDEX: 10000; POSITION: relative
}
#floatDiv {
	BORDER-RIGHT: #709cd2 1px solid; BORDER-TOP: #709cd2 1px solid; Z-INDEX: 65535; BORDER-LEFT: #709cd2 1px solid; BORDER-BOTTOM: #709cd2 1px solid; POSITION: absolute; BACKGROUND-COLOR: white
}
#floatDivTitle {
	COLOR: #fff; LINE-HEIGHT: 25px; HEIGHT: 25px; BACKGROUND-COLOR: #709cd2
}
#floatDivClose {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BACKGROUND-IMAGE: url(http://img.baidu.com/hi/img/dialogclose.gif); BORDER-BOTTOM-WIDTH: 0px; MARGIN: 5px 5px 0px 0px; WIDTH: 18px; CURSOR: pointer; HEIGHT: 17px; BORDER-RIGHT-WIDTH: 0px
}
#floatDivTabbar {
	MARGIN: 10px 10px 0px; BORDER-BOTTOM: #8698ac 1px solid; HEIGHT: 26px; TEXT-ALIGN: center
}
#floatDivTabbar .showTab {
	FONT-WEIGHT: 800; COLOR: #709cd2; BACKGROUND-COLOR: white
}
#floatDivTabbar .hideTab {
	FONT-WEIGHT: 800; COLOR: white; BACKGROUND-COLOR: #709cd2
}
.floatTab {
	BORDER-RIGHT: #8698ac 1px solid; BORDER-TOP: #8698ac 1px solid; FLOAT: left; MARGIN: 0px 5px -1px; BORDER-LEFT: #8698ac 1px solid; WIDTH: 73px; CURSOR: pointer; LINE-HEIGHT: 26px; BORDER-BOTTOM: white 0px solid; POSITION: relative; HEIGHT: 26px
}
#floatDivContent {
	MARGIN: 10px 10px 22px; TEXT-ALIGN: center
}
#floatDivContent .selected {
	DISPLAY: block
}
#floatDivContent .unselected {
	DISPLAY: none
}
#maskDiv {
	Z-INDEX: 65534; FILTER: alpha(opacity=40); POSITION: absolute; BACKGROUND-COLOR: #eee; opacity: .4
}
#floatDivShadow {
	Z-INDEX: 10001; FILTER: alpha(opacity=20); POSITION: absolute; BACKGROUND-COLOR: black; opacity: .2
}
#image_pass_login_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
#image_pass_login_foot {
	FONT-SIZE: 12px; MARGIN: 10px auto; WIDTH: 240px
}
#image_pass_login_foot .ti {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; HEIGHT: 25px
}
#image_pass_login_foot .co {
	TEXT-INDENT: 24px
}
#image_pass_login_foot .bt {
	MARGIN-TOP: 15px; TEXT-ALIGN: center
}
#image_pass_login {
	PADDING-RIGHT: 10px; PADDING-LEFT: 64px; PADDING-BOTTOM: 22px; MARGIN: 0px auto; FONT: 12px/14px 'ו'; WIDTH: 320px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
#image_pass_login LEGEND {
	DISPLAY: none
}
#image_pass_login FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#image_pass_login P {
	PADDING-BOTTOM: 5px; MARGIN: 0px
}
#image_pass_login .pass-submit {
	MARGIN-LEFT: 70px
}
#image_pass_login INPUT {
	FONT: 12px/18px 'ו'; MARGIN-LEFT: 15px; HEIGHT: 16px
}
#image_pass_login .pass-password INPUT {
	WIDTH: 125px
}
#image_pass_login .pass-username INPUT {
	WIDTH: 125px
}
#image_pass_login .pass-verifycode INPUT {
	WIDTH: 70px
}
#image_pass_login BUTTON {
	FONT-SIZE: 12px; WIDTH: 50px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 20px
}
#image_pass_login LABEL {
	FONT-SIZE: 14px
}
#image_pass_login .pass-username LABEL {
	DISPLAY: inline-block; WIDTH: 56px; LINE-HEIGHT: 16px
}
#image_pass_login .pass-password LABEL {
	DISPLAY: inline-block; WIDTH: 56px; LINE-HEIGHT: 16px
}
.pass-server-error {
	COLOR: red
}
.pass-verifycode IMG {
	MARGIN: 0px 8px; VERTICAL-ALIGN: bottom; WIDTH: 100px; HEIGHT: 40px
}
.pass-mem_pass {
	PADDING-LEFT: 58px
}
.pass-mem_pass LABEL {
	FONT-SIZE: 12px
}
.box {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 530px; PADDING-TOP: 10px; BACKGROUND-COLOR: white
}
#image_pass_reg {
	PADDING-BOTTOM: 10px; MARGIN: 0px auto; FONT: 12px/14px 'ו'; WIDTH: 530px
}
#image_pass_reg LEGEND {
	DISPLAY: none
}
#image_pass_reg FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#image_pass_reg P {
	CLEAR: both; PADDING-BOTTOM: 5px; MARGIN: 0px
}
#image_pass_reg LABEL {
	FONT-WEIGHT: bold
}
#image_pass_reg .pass-note-failed {
	COLOR: #f00
}
#image_pass_reg .pass-desc {
	DISPLAY: block; MARGIN: 5px 0px 5px 73px; COLOR: #666
}
#image_pass_reg .pass-verifycode INPUT {
	MARGIN: 0px; WIDTH: 60px
}
#image_pass_reg .pass-verifycode IMG {
	MARGIN: 0px 6px -5px
}
#image_pass_reg .pass-input-group INPUT {
	MARGIN: 0px
}
#image_pass_reg INPUT {
	MARGIN-RIGHT: 10px
}
#image_pass_reg .pass-username INPUT {
	WIDTH: 150px
}
#image_pass_reg .pass-loginpass INPUT {
	WIDTH: 90px
}
#image_pass_reg .pass-verifypass INPUT {
	WIDTH: 90px
}
#image_pass_reg .pass-email INPUT {
	WIDTH: 180px
}
#image_pass_reg .spacebox {
	LINE-HEIGHT: 18px; HEIGHT: auto
}
#image_pass_reg .spacebox B {
	COLOR: #000
}
#image_pass_reg .spaceurl {
	WIDTH: 80px
}
#image_pass_reg #PassRegAgree {
	FONT-SIZE: 12px; WIDTH: 450px; HEIGHT: 50px
}
#image_pass_reg .pass-submit {
	MARGIN-TOP: 33px; MARGIN-BOTTOM: 5px
}
#spaceAlbum {
	BACKGROUND-POSITION: 0px -198px; BACKGROUND-IMAGE: url(http://img.baidu.com/img/image/detailBtn.gif); LINE-HEIGHT: 19px; POSITION: relative; HEIGHT: 19px
}
.logined#spaceAlbum {
	BACKGROUND-POSITION: 0px -217px
}
.spacePic1_hover#spaceAlbum {
	BACKGROUND-POSITION: 0px -255px
}
.spacePic2_hover#spaceAlbum {
	BACKGROUND-POSITION: 0px -236px
}
#spaceAlbum A {
	COLOR: #898988; TEXT-DECORATION: none
}
#spaceAlbum A:hover {
	TEXT-DECORATION: none
}
#infoDiv_close {
	FONT-SIZE: 10px; FLOAT: right; MARGIN: 2px 5px; CURSOR: pointer
}
#infoDiv_content {
	PADDING-LEFT: 30px; MARGIN: 5px 0px 5px 10px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
#infoDiv .success {
	BACKGROUND: url(http://img.baidu.com/img/image/zz_imgs.gif) no-repeat 0px -72px
}
#infoDiv .fail {
	BACKGROUND: url(http://img.baidu.com/img/image/zz_imgs.gif) no-repeat 0px -95px
}
#infoDiv {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; FILTER: alpha(opacity=90); BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fefaed; TEXT-ALIGN: left; opacity: .9
}
.popwidget {
	FILTER: alpha(opacity=80); WIDTH: 258px; POSITION: absolute; TOP: -13px; HEIGHT: 53px; opacity: .8; moz-opacity: .8
}
.popwidget_text {
	BORDER-TOP: #fef486 1px solid; BACKGROUND: #fefce7; FLOAT: left; WIDTH: 250px; COLOR: #333; LINE-HEIGHT: 18px; BORDER-BOTTOM: #c2c2c2 1px solid; HEIGHT: 44px; TEXT-ALIGN: left
}
.albumNotice {
	PADDING-RIGHT: 3px; MARGIN-TOP: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #222; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 18px
}
.bdToolBar {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #fef699 1px solid; WHITE-SPACE: nowrap; HEIGHT: 22px
}
#spaceAlbum .bdToolBar A {
	COLOR: #666; TEXT-DECORATION: underline
}
.close_button {
	CLEAR: both; RIGHT: 5px; BACKGROUND: url(http://img.baidu.com/img/image/popClose.gif) no-repeat; MARGIN: 5px; WIDTH: 11px; CURSOR: pointer; COLOR: #d0cfbd; POSITION: absolute; TOP: 2px; HEIGHT: 11px
}
.tl {
	BACKGROUND: url(http://img.baidu.com/img/image/popLeft.gif) no-repeat; FLOAT: left; WIDTH: 4px; HEIGHT: 100%
}
.tr {
	BACKGROUND: url(http://img.baidu.com/img/image/popRight.gif) no-repeat; FLOAT: left; WIDTH: 4px; HEIGHT: 100%
}
.bc {
	CLEAR: both; BACKGROUND: url(http://img.baidu.com/img/image/popArr.gif) no-repeat; LEFT: 137px; WIDTH: 14px; POSITION: absolute; TOP: 45px; HEIGHT: 8px
}
