p{
width:60%;
margin:auto;
text-indent:2em;
line-height:32px;
font-size:20px;
padding-bottom:14px;
}

.ppp{
text-align:right;
}

table{
width:85%;
margin:auto;
border-collapse:collapse;
}

td{
border:#663300 dotted 1px;
line-height:24px;
text-align:left;
}

h1{
font-size:24px;
color:#330000;
}
td a:link {
text-decoration:none;}
td a:visited {
text-decoration:none;}


.biaoti{
font-size:120%;
color:#330000;
text-indent:0em;
text-align:center;

}

/*


<link rel="stylesheet" href="../read.css" type="text/css">
</head>

<body>




<p class="ppp">
<a href=.html>上一页</a>
<a href="index.html" >目录</a> 
<a href=.html>下一页</a>
</p>
</BODY>
</HTML>




</p>

<p>

*/