*{
margin:0;
padding:0;
}

#frame{
	width:85%;
	margin:auto;
	line-height: 26px;
	font-size: 18px;
	font-family: "MV Boli";
	text-indent: 2em;
	overflow:hidden;
}

.layout{
    clear:both;
	width:85%;
	border:1px dotted #0000FF;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
}
.preface{
    clear:both;
	width:85%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	font-size:18px;
	color:#0000FF;
	color:#606000;
	border:0px dotted #0000FF;
	text-align:right;
}
.left, .right{
margin-bottom:-55px;
padding-bottom:55px;
}

.left {
	float:left;
	width:59%;
	margin-right:5px;	font-size:20px;
}
.right {
	float: right;
	width:40%;
	border-left:1px dotted #cccccc;
	font-size:16PX;
	
}

:first-letter111{

color:#0033cc;
font-weight:bold;
text-shadow:yellow .15em .15em .15em;
}
p{
margin-bottom:10px;
margin-top:10px;
}



.left1 {
	float: left;
	width:59%;
	margin-right: 5px;
	color: #0000FF;
	font-size: 16px;
}

.nav{
    clear:both;
	width:85%;
	margin:auto;
	margin-bottom:5px;
	overflow:hidden;
	height:24px;
	font:normal bold 18px "宋体" ;
	font-family:"MV Boli";
	color:#0000FF;
}

li{
float:right;
list-style-type:none;
}

.left3 {
	float:left;
	width:23%;
	margin-right:5px;
}
.mid3 {
	float:left;
	width:53%;
	text-align:center;
}
.mid31 {
	float:left;
	width:53%;
	text-align:center;
	font-family:"华文隶书";

	color:#370037;
	
}
.right3 {
	float: right;
	width:23%;
	
}
