
	
p,h2,h3{
width:66%;
margin:auto;
font-size:20px;
font-family:"MV Boli";
font-weight:normal;
text-align:justify;

padding-bottom:16px;
margin-left:55px;
}

h2{
text-indent:0em;
}

p{
text-indent:2em;
}

body{

margin:auto;
}