.searchbg{
background:#004276;
background-image:url(../images/6.jpg);
color:white;
background-position:0% 75%;
}
.mailbg{background-color:#004276;}
.vChange a:link, .vChange a:visited{
background-color:#eee;
color:#999;
filter: Alpha(opacity=70);/*IE*/
opacity:.7;/*»ðºü*/
} 

.FirstPage a:link, .FirstPage a:visited{color:white;}
.odd,.odd a:link, .odd a:visited {color:#004276;
}
.even, 
.even a:link, 
.even a:visited{
color:black;
}

.odd a:hover ,
.even a:hover {
color:red;
padding:0px;
margin:0px;
font-size:100%;
}