.searchbg{
background-color:#060;background-image:url(../images/lotus.jpg);
background-position:bottom;
background-position:0% 65%;
color:white;
}.FirstPage a:link, .FirstPage a:visited{
color:white;
}
.mailbg{background-color:#060;}
.vChange a:link, 
.vChange a:visited{color:white;}

.odd, 
.odd a:link, 
.odd a:visited {
  color:#060;
  }
.even, 
.even a:link, 
.even a:visited {color:black;}

.odd a:hover ,
.even a:hover {
color:red;
padding:0px;
margin:0px;
font-size:100%;
}