.divfixtop{
position:fixed; 
width:100%; 
margin:auto; 
z-index:12;
 }

 .searchbg{/*为固定的文件头留白73*/
width:880px;
margin:auto;
font-size:100%;
border-collapse:collapse;
border:white 0px solid;
color:white;
color:black;
font-size:90%;
height:73px;
background-color:#eee;
}

.divfix2{
	clear:both;

height:9px; 
line-height:9px; 

text-align:right; 
width:880px; 
margin:auto; 
overflow:hidden; 
padding-top:0px;
background-image:url(../images/bg.gif);
border:0px red solid;
}
.fixdiv{
height:80px;
height:80px\9;
}
.bgdataiso{     /*logo*/
width:137px; 
height:73px; 
float:left;
background-image:url(../images/dataiso.png);
background-repeat:no-repeat;

}
.topright1{
float:right; 
height:73px; 
width:743px;

}
.topr1{
height:14px; float:left; width:739px;
margin-top:2px;
filter: Alpha(Opacity=70); /* for IE */ 
opacity: .7;/* for Firefox */ 
}
.topr2{
height:28px; float:left; width:743px;
}
.topr3{
height:16px; float:left; width:739px;
margin:8px 4px 0px 0px;
}

.FirstPage{
font-size:90%;
color:#FFCC33;
margin:0px 0px 0px 0px;
border:0px red solid;
height:17px;
text-align:right;
float:right;
}
.topr32{
	float:right;
	filter: Alpha(Opacity=70); /* for IE */ 
opacity: .7;/* for Firefox */ 
}
.topr32 a{     /*fold unfold*/
height:21px;

font-size:90%;
padding:1px 0px 3px 4px;
color:#aaa;
background-color:#F2F2F2;
overflow:hidden;


}





#kw{
font-size:14px; 
padding:2px;
}
#su{
padding:2px 5px 2px 5px;
}
#sx{
font-size:80%;
text-decoration:none;
cursor:pointer;
z-index:11;
}


.sitesou{
font-family:宋体; font-size:80%; padding:0; margin:0;
text-align:right;
}

.iesitesearch{
font-size:14px;
height:16px;
width:145px; 
margin-top:0px;
position:absolute;
left:5px;
}
.firesitesearch{
font-size:14px;
height:22px;
width:145px; 
margin-top:0px;
position:absolute;
left:5px;
}
.siteselect{
width:168px;
margin-left:-145px;
margin-left:-146px\9;
 }
.sitebai{
padding:2px 7px 2px 7px;
}



.cssChange, .cssChange a:link, .cssChange a:visited{
font-size:90%;
}
.CssColor0{
background-color:#AA6655;
color:#AA6655;
}
.CssColor1{
background-color:#004276;
color:#004276;
}
.CssColor2{
background-color:#060;
color:#060;
}
.CssColor3{
background-color:#808000;
color:#808000;
}

.mailbg{
width:880px;

font-size:100%;
border-collapse:collapse;
border-bottom:white 1px solid;
color:white;
font-size:90%;
padding:0px;

background-color:#CC9900;
margin-top:4px;
height:24px;
}

.mailbg td {
overflow:hidden;
border:blue 0px solid;padding:0px 0px 0px 0px;
}
/*.left3{
font-family:"宋体";
font-size:70%;
border:0px red solid;
color:red;
}

.middle2{
height:33px;
padding-top:8px;
font-size:80%;
font-family:"迷你简粗隶书";
color:#993300;
}
.rightl1{
margin:18px 0px 0px 0px;
border:0px red solid;
height:24px;
}
*/

/*.tabletop{
width:880px;
table-layout:fix;
border:0px solid;
height:16px;
line-height:16px;
overflow:hidden;
font-size:16px;
}
.tabletop td{
table-layout:fix;
border:0px solid;
height:16px;
line-height:16px;
overflow:hidden;
font-size:16px;
}*/




#shang, #xia {
width: 18px;
line-height:10px;;
padding: 5px 0;
background-color: #FDF5E6;
color: #000;
font-size: 12px;
text-align: center;
position: fixed;
text-decoration: none;
background: #f0e7d7;
background: transparent;
right:15px;
cursor: pointer;
filter: Alpha(opacity=30);/*IE*/
opacity:.3;/*火狐*/

}
#shang {
bottom: 120px;
background-image:url(../images/inex.jpg);
background-position:0% 90%;
}
#shang:hover{
background-color:white;
border-top:#ccc 1px solid;
color:red;
}
#shangy, #xiay {
width: 18px;
line-height:10px;;
padding: 5px 0;
background-color: #FDF5E6;
color: #000;
font-size: 10px;
text-align:center;
position: fixed;
text-decoration: none;
background: #f0e7d7;
background: transparent;
right:15px;
cursor: pointer;
filter: Alpha(opacity=20);
opacity:.2;
}
#shangy {
bottom:90px;
background-image:url(../images/xia.png);
background-position:0% 88%;
}
#xiay {
bottom: 60px;
background-image:url(../images/xia.png);
background-position:0% 12%;
}
#xia {
bottom: 30px;
background-image:url(../images/inex.jpg);
background-position:0% 10%;
}
#xia:hover{
border-bottom:#ccc 1px solid;
}

#footer{
width:880px;
margin:auto;
margin-top:6px;
padding-top:6px;
margin-bottom:24px;
border-top: #C4B9DD solid 1px;
}
.footertable{
margin:auto;
width:50%;
height:1px;
background-color:#C4B9DD;
border:0;
border-collapse:collapse;
}
#footer td{

text-align:center; font-size:12px;
  }

.menu{
width:480px;
float:left; 
}


/* 顶层列表的样式*/
.menu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/* 顶层列表*/
.menu ul li{
	margin:0;
position: relative;
display: inline;
float: left;
width: 70px; /*Width of top level menu link items*/
padding: 2px 6px 2px 6px;
height:16px;
text-align:center;
}

.menu ul li a{
display: block;
font-size:90%;
overflow:hidden;
border: 0px solid red;
border-left-width: 0;
text-decoration: none;
color: #aaa;
padding: 2px 6px;
background-color:#F0F0F0;background-color:#F0F1FF;
filter: Alpha(Opacity=70); /* for IE */ 
opacity: .7;/* for Firefox */ 

}
 

.menu ul li a:hover{

}
/* 鼠标移上去时的样式*/


/*1级列表菜单的样式*/
.menu ul li ul{
left:0;
position: absolute;
top: 1em; 
display: block;
visibility: hidden;
margin:0 0 0 6px;
}

/*1级子列表菜单 */
.menu ul li ul li{
display: block;
width: 100px; /*子菜单宽度*/
float: none;
overflow:hidden;
background-color:#F0F0F0;
background-color:#F0F1FF;
height:24px;
line-height:24px;
color:black;
margin:0 0 0 0px;
border:1px solid #660;
padding: 1px 3px;
border-top:0;
}

/* 1级子菜单链接样式*/
.menu ul li ul li a{
display: block;

color: #000;
text-align:left;
text-decoration: none;




}

.menu ul li ul li a:hover{

}

/* 鼠标移上去时的样式*/
.menu ul li a:hover{
background-color: white;

}

/* 设置背景图片样式 */
.menu .mainfoldericon{

}


/* 设置背景图片样式 */
.menu .subfoldericon{

}
menu ul li .liblank{
border:0; 
height:4px; 
background-color:#fff; 
}
.lidiv2{
	border:0; height:4px; background-color:#fff;
	border-left:1px solid #636;
		border-right:1px solid #636;
}