.tabbox{
position:relative;
width:880px;
margin:auto;
height:165px;
border-bottom:#aaa solid 1px;
}
.right, .left{
width:440px;
float:left;	height:165px;
}

.right{
width:438px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}
/*width:880=taxbox=left:440+right(438+2),tab440(div428+12)\tab2 438(426+12 */
/*transaction-------------------------------------------------------------------------------------------------------------*/
#tab{
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
height:165px;
clear:both;
width:440px;
} 
#tab div {/*以下属性当设置paddint:30px 6px 0px 6px;未设置top时，在IE下可容错，但在fixfox和chrome下时，需要做下面的更正才可进行tab切换；*/
height:135px;
position:absolute;
padding:0px 6px 0px 6px;
display:none;
top:30px;
left:0px;
width:428px;
overflow:hidden;

}
#tab .block{
display:block;
width:428px;
} 

#tab a:link, #tab a:visited{
font-size:100%;
}

#tab h3{
border-right:1px #bbd6f1 solid;
border-bottom:1px #bbd6f1 solid;
border-top:1px solid #bbd6f1;
cursor:pointer;
height:24px;
line-height:24px;
display:block;
float:left;

margin-top:0px;
width:46px; 
overflow:hidden;
text-indent:0em;
text-align:center;
padding-left:-12px;
background-color:#DDD1FC;
background-color:#F7F7FD;
font-family:宋体;
font-size:90%;	cursor:pointer;
cursor:url(images/rose.ani);

}
#tab h3.up{
background:#fff;
border-bottom:0px #fff solid;
cursor:default;
color:#CC3333;

}
#tab div p{
margin:0px;
padding:0px;
width:95%;
float:left;
} 
#tab .plike{
margin:0;
padding:0;
width:95%;
float:left;
} 

/*transaction-------------------------------------------------------------------------------------------------------------*/
/*width:880=taxbox=left:440+right(438+2),tab440(div428+12)\tab2 438(426+12 */
#tab2{
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
height:165px;
clear:both;
width:438px;
} 
#tab2 div {
height:135px;
position:absolute;
padding:0px 6px 0px 6px;
display:none;
top:30px;
left:0px;
width:426px;
overflow:hidden;

}
#tab2>div li{
display:block;
float:left;
width:33.33%;


}

#tab2 .block{
display:block;
width:426px;
} 

#tab2 a:link, #tab2 a:visited{
font-size:100%;
}

#tab2 h3{
border-right:1px #bbd6f1 solid;
border-bottom:1px #bbd6f1 solid;
border-top:1px solid #bbd6f1;
cursor:pointer;
height:24px;
line-height:24px;
display:block;
float:left;
position:relative;
margin-top:0px;
width:14%; 
overflow:hidden;
text-indent:0em;
text-align:center;
padding-left:-12px;
background-color:#DDD1FC;
background-color:#F7F7FD;
font-family:宋体;
font-size:90%;	cursor:pointer;
cursor:url(images/rose.ani);
}
#tab2 h3.up{
background:#fff;
border-bottom:0px #fff solid;
cursor:default;
color:#CC3333;

}
#tab2 div p{
margin:0px;
padding:0px;
width:95%;
float:left;
} 
#tab2 .plike{
margin:0;
padding:0;
width:95%;
float:left;
} 

#tab2>div+div+div ul{
margin:0px 0 0;
list-style:none;
padding-left:5px;
}


#tab2>div+div+div li{
display:block; /*最先设计是display:inline, 解决IE6中双倍间距的BUG,但文档在设计模式下错位（浏览器下没有影响） */
float:left;
width:19.79%; /* 解决IE浏览器中相对值宽度计算的BUG */
height:1.1em;
line-height:1.2em;
border-bottom:1px dashed #DEDEDE;
overflow:hidden;
font-size:90%;
vertical-align:middle;
}
#tab2>div+div+div  ul>li {

font-weight:normal;
}
#tab2>div ul{
height:135px;}
#tab2>div li{
display:block; /*最先设计是display:inline, 解决IE6中双倍间距的BUG,但文档在设计模式下错位（浏览器下没有影响） */
float:left;
overflow:hidden;
font-size:90%;
vertical-align:middle;

}
#tab2>div  ul>li {

font-weight:normal;
}

#tab2 table, .tabbox table{
width:100%;
border:0px solid;
font-size:95%;
table-layout:fixed;
}
#tab2 table td{
overflow:hidden;
line-height:20px;
height:20px;
white-space:nowrap;
}

#tran_Bing p{
line-height:18px;
}
.tabtext1{
font-weight:bold; font-size:120%;
}
.tabtext2{font-size:120%; color:#999900;;
}
/*tab2-------------------------------------------------------------------------------------------------------------*/

#tab3{
position:relative; /* 定义选项卡的为相对定位，使其子级元素有定位参考对象 */
height:85px;
clear:both;
width:880px;
margin:auto;
} 
#tab3 div {
height:55px;
position:absolute;
padding:0px 6px 0px 6px;
display:none;
top:30px;
left:0px;
width:868px;
overflow:hidden;

}
#tab3>div a{
display:block;
float:left;
width:10%;
line-height:28px;

}

#tab3 .block{
display:block;
width:866px;
border-left:1px #eee solid;
border-right:1px #eee solid;
border-top:0;
} 

#tab3 a:link, #tab3 a:visited{
font-size:100%;
}

#tab3 h3{
border-right:1px #bbd6f1 solid;
border-bottom:1px #bbd6f1 solid;
border-top:1px solid #bbd6f1;
cursor:pointer;
height:24px;
line-height:24px;
display:block;
float:left;
position:relative;
margin-top:0px;
width:70px; 
overflow:hidden;
text-indent:0em;
text-align:center;
padding-left:-12px;
background-color:#DDD1FC;
background-color:#F7F7FD;
font-family:宋体;
font-size:90%;	cursor:pointer;
cursor:url(images/rose.ani);
}
#tab3 h3.up{
background:#fff;
border-bottom:0px #fff solid;
cursor:default;
color:#CC3333;

}
#tab3 div p{
margin:0px;
padding:0px;
width:95%;
float:left;
} 
#tab3 .plike{
margin:0;
padding:0;
width:95%;
float:left;
} 

#tab3>div+div+div ul,
#tab3 ul{
margin:0px 0 0;
list-style:none;
padding-left:5px;
}


#tab3>div+div+div li,
#tab3 li{
display:block; /*最先设计是display:inline, 解决IE6中双倍间距的BUG,但文档在设计模式下错位（浏览器下没有影响） */
float:left;
width:19.79%; /* 解决IE浏览器中相对值宽度计算的BUG */
height:1.1em;
line-height:1.2em;
border-bottom:1px dashed #DEDEDE;
overflow:hidden;
font-size:90%;
vertical-align:middle;
}
#tab3>div+div+div  ul>li {

font-weight:normal;
}
#tab3>div ul{
height:135px;}
#tab3>div li{
display:block; /*最先设计是display:inline, 解决IE6中双倍间距的BUG,但文档在设计模式下错位（浏览器下没有影响） */
float:left;
overflow:hidden;
font-size:90%;
vertical-align:middle;

}

#tab3>div>a {
color:#CC3333;
font-weight:bold;
}

#tab3>div>a+a{
color:black;
font-weight:normal;
}

#tab3 table, .tabbox table{
width:100%;
border:0px solid;
font-size:95%;
table-layout:fixed;
}
#tab3 table td{
overflow:hidden;
line-height:20px;
height:20px;
white-space:nowrap;
}




.tools {
font-size:80%;
margin-bottom:0px;
margin-top:4px;
width:880px;
margin:auto;

}
.tools li{
width:7%;
}

.toolstable td{
height:16px;
line-height:16px;
overflow:hidden;
white-space:nowrap;
}

.toolstable{
width:880px;
border-bottom:#ccc solid 1px;
table-layout:fixed;
}

.toolstable tr>td{width:7%; color:#005353; font-weight:bold;}
.toolstable tr>td+td{width:6.5%; font-weight:normal;}
.toolstable tr>td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td+td{width:6.5%;}

.toolstable tr>td+td+td+td+td+td{width:6.5%;}


.toolstable tr>td+td+td+td+td+td+td{width:8.5%;}
.toolstable tr>td+td+td+td+td+td+td+td{width:4.5%;  color:#005353; font-weight:bold;}
.toolstable tr>td+td+td+td+td+td+td+td+td{width:6.5%; font-weight:normal;}
.toolstable tr>td+td+td+td+td+td+td+td+td+td{width:6.5%;}

.toolstable tr>td+td+td+td+td+td+td+td+td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td+td+td+td+td+td+td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td+td+td+td+td+td+td+td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td+td+td+td+td+td+td+td+td+td+td{width:6.5%;}
.toolstable tr>td+td+td+td+td+td+td+td+td+td+td+td+td+td+td{width:8.5%;}
