*{
margin:0;
padding:0;
}
#tbrowser a:link£¬.container a:visited{
font-size:18px;
text-decoration:none;
}
.container{
font-size:1.2em;
margin:auto;
font-family:"ËÎÌå";
width:75.29%;
line-height:1.4em;
}
P{
margin:8px;
text-indent:2em;
}
.uls{
color:#CC6666;
font-weight:bold;
}
.uls>ol{
list-style:none;
font-weight:normal;
list-style:lower-latin;
color:#000000;
line-height:1.3em;

}
h2{
font-size:20px;
font-weight:bold;
margin-top:5px;
margin-bottom:-15px;
text-indent:0em;
}
img{
margin-right:5px;
}
.fc{
color:red;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


 
 img{
 border:0;
 }#tbrowser {
	width:100%;
	margin:auto;
	border-collapse:collapse;
font-family:"ËÎÌå";
	
	table-layout:fixed;
	font-size:18px;
}

#tbrowser th,#tbrowser td{
border:1px solid #eee;
font-size:16px;
color:#000000;

font-family: "ËÎÌå";
padding-left:0px;
width:14.1%;

height:22px;
line-height:22px;
overflow:hidden;
white-space:nowrap;
}


#tbrowser thead th{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
color:#fff;
/*padding:2px 0px;*/
display:table-column-group;
}
#tbrowser .nd{
border-bottom:2px solid #3d580b;
background-color:#8fc629;
background-color:#D3D3A9;
color:red;
}

#tbrowser th{
background-color:#f2f4b9;
}
#tbrowser th.title{
background-color:#e3e685;
}

#tbrowser caption{
font-weight:bold;
padding:1px 0px;
color:#3d580b;
font-size:18px;
}


#tbrowser .xhx{
border-bottom:0px solid #aaa;
}


#tbrowser tr{
height:6px;
}

#tbrowser tr>td{/*1*/
font-size:1em;

/*width:13%;*/
}
#tbrowser tr>td+td{/*2*/

/*width:8%;*/
font-size:1em;
}
#tbrowser tr>td+td+td{/*3*/
font-size:1em;
/*width:5%;*/
}
#tbrowser tr>td+td+td+td{/*4*/
font-size:1em;

/*width:6%;*/
}
#tbrowser tr>td+td+td+td+td{/*5*/
font-size:1em;

/*width:5%;*/
}
#tbrowser tr>td+td+td+td+td+td{/*6*/
/*width:13%;*/
font-size:1em;
}
#tbrowser tr>td+td+td+td+td+td+td{/*7*/
/*width:59%;*/
font-size:1em;
}


#tbrowser tfoot td{
border-width:0px;

line-height:18px;
font-size:16px;
color:#777;
}
.floatr{
float:right;
padding-right:5px;
}

#tbrowser th a:link {
	text-decoration: none;
	color:white;
}
#tbrowser th a:hover {
	text-decoration: none;
	color:white;
}
#tbrowser th a:active {
	text-decoration: none;
	color:white;
}
#tbrowser th a:visited {
	text-decoration: none;
	color:white;
}
#tbrowser caption{
font-size:1.2em;
text-align:left;
}
#tbrowser thead td{
font-size:0.8em;
text-align:left;
}
ul{
list-style:none;
list-style-position:inside;
}
h3{
display:block;
width:20%;
float:left;
font-size:16px;
overflow:hidden;
line-height:28px;
font-weight:normal;

}
ul{
margin-left:15%;}

h2{
clear:both;
line-height:28px;
font-size:16px;
border-top:1px #ccc solid;

}
a:link, a:visited{
color:#010781;
color:#110275;
}
a:hover{
color:red;
text-decoration:underline;
}
ul{

margin-top:-28px;
margin-bottom:42px;
}
.local{
color:#635A9C;
font-size:22px;
font-weight:bold;
}

