*{padding: 0; margin: 0; font-size: 14px;}
	body{background-color:#f2f0f1;
	line-height:28px;}
	#top{height: 24px; line-height: 24px; background:-moz-linear-gradient(#f7f7f7,#f3f3f3);background:-webkit-gradient(linear,center top,center bottom,from(#f7f7f7),to(#f3f3f3));background:-webkit-linear-gradient(#f7f7f7,#f3f3f3);background:-o-linear-gradient(#f7f7f7,#f3f3f3);background:-ms-linear-gradient(#f7f7f7,#f3f3f3);background:linear-gradient(#f7f7f7,#f3f3f3); padding: 6px 0px; box-shadow: 2px 5px 5px rgba(217,217,217,1); position: fixed; top: 0px; width: 100%; _background:#f3f3f3; border-bottom:1px solid #e2e0e1;}
	#top:after{opacity: 0.2;}
	#top .main{background: url(img/logo1.png) no-repeat left; text-indent: 100px;}
	.main{width: 880px; margin: 0px auto;}
	.main h1{color:#3fa7cb; font-size: 44px; text-shadow: -2px 2px #fff; line-height: 60px; padding-top: 50px; _padding-top: 10px;}
	.box{padding: 30px 20px; border-top:2px solid #3fa7cb; border-left: 1px solid #dedede; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff;}
	.box h2{font-size:16px; color:#555; line-height: 40px; font-family: Microsoft YaHei;}
	.box h3{font-size: 14px; color:#444; line-height: 36px;}
	.box p{line-height: 30px; padding: 5px 0px; text-indent: 2em;}
	.imgCon{text-align: left; padding: 10px 0px;}
	li{
	padding-left:22px;
	list-style-position:inside;
	}
	
